<div class="widget-citation widget"></div>

    <h4 class="widget__title">Cite dCache project</h4>
    <div class="widget__content">
        <b>dCache Code:</b><a href="https://zenodo.org/badge/latestdoi/9113580" rel="nofollow"><img src="../img/software-doi.svg" alt="Software DOI" data-canonical-src="../img/software-doi.svg"></a>
        <p>
        <b>dCache Paper:</b> <a href="https://doi.org/10.1051/epjconf/202125102010" rel="nofollow"><img src="../img/doi-paper.svg" alt="Paper DOI" data-canonical-src="../img/doi-paper.svg"></a>
    </div>
</div>
