
body {
    background-color: white;
    color: #4c4e50;
}

h1, h2, h3, h4, h5, h6 {
    color: #222831;
}

.header__container {
    background-color: #403c38;
}

.logo {
    float: initial;
    padding: 16px;
}

.logo__item {
    vertical-align: bottom;
    text-transform: none;
}

.logo__title {
    color: #eaeaea;
    font-weight: unset;
}

.logo__tagline {
    border-top-color: #4c4e50;
    font-weight: unset;
}

.logo__img {
    width: 84px;
}

.widget-taglist__link {
    text-transform: none;
}

.btn {
    border-radius: 10px;
    background-color: #222831;
    font-weight: unset;
}

.menu__list {
    background: #403c38;
}

.menu__link {
    padding: .5rem .9rem;
    /*color: #4c4e50;*/
    font-weight: unset;
}

.menu__text {
    text-transform: capitalize;
}

.toc__title {
    text-transform: capitalize;
}

.footer {
    background: #222831 ;
}

.footer a {
    color: #999;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


table.releases thead {
    background-color: #403c38;
    color: #eaeaea;
}


table.releases tbody tr.rec {
     background-color: #9f9;
}

table.releases tbody tr.odd {
    background-color: #e8f6f8;
}

table.releases tbody tr.even {
    background-color: #d0e5e8;
}

/* adjust frame margin based on screen size */
@media screen and (min-width: 1475px) {
    .wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 1475px) {
    .wrapper {
        margin-left: 15%;
        margin-right: 15%;
    }

    table.releases tbody td.hash,
    table.releases thead th.hash {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }

    table.releases tbody td.hash,
    table.releases thead th.hash {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        margin-left: 2%;
        margin-right: 2%;
    }

    table.releases tbody td.hash,
    table.releases thead th.hash {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .wrapper {
        margin-left: 0%;
        margin-right: 0%;
    }

    table.releases tbody td.hash,
    table.releases thead th.hash {
        display: none;
    }
}

.tags__item {
    border-radius: 10px;
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/open-sans-v34-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('/fonts/open-sans-v34-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/open-sans-v34-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('/fonts/open-sans-v34-latin-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/open-sans-v34-latin-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}