{{ define "main" }}

<main class="main" role="main">
	<article class="release">
		<header class="release__header">
			<h1 class="release__title">Release: {{ .Params.version }}</h1>
		</header>

        <div class="release__link">

            <table class="release_packages_table">
                <tr><th>Package</th><th>Download link</th><th>Checksum</th></tr>

            {{ range $p := .Params.packages }}
                <tr>
                    <td>
                        {{ $.Params.package }} - {{$.Params.version}} ({{$p.type }})
                    </td>
                    <td>
                        <a class="link" href="{{$.Params.url_base}}/{{ $.Params.version | replaceRE "([0-9]+\\.[0-9]+).*" "$1" }}/{{ $p.filename }}">{{ $p.filename }}</a>
                    </td>
                    <td>
                        {{ $p.checksum }}
                    </td>
                </tr>
            {{ end }}
            </table>

        </div>

        {{ with partial "post_meta.html" . -}}
        <div class="post__meta meta">{{ . }}</div>
        {{- end }}

        <div class="post__toc toc">
            <div class="toc__title">Changes</div>
            <div class="toc__menu">
                {{ .TableOfContents }}
            </div>
        </div>

        <div class="content release__content clearfix">
            {{ .Content }}
        </div>

        <div class="content release__notes clearfix">
            <a class="link" href="{{ $.Params.notes }}">Full Release Notes</a>
        </div>

	</article>
</main>

{{ end }}