<tr class="rec" id="9.0.25">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.25-1_all.deb">
dCache 9.0.25 (Debian package)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml">
9.0.25
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.25-1.noarch.rpm">
dCache 9.0.25 (rpm)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.25.tar.gz">
dCache 9.0.25 (tgz)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="even" id="9.0.24">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.24-1_all.deb">
dCache 9.0.24 (Debian package)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
f8e96891c6fe3cfd29e2ad8d93b5e1d2
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml">
9.0.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.24-1.noarch.rpm">
dCache 9.0.24 (rpm)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
934f194b97241b9524a6d3e1bb2e2211
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.24.tar.gz">
dCache 9.0.24 (tgz)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
99fea32174ddcadd7b93f22cf919b2dd
</td>
</tr>
<tr class="odd" id="9.0.23">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.23-1_all.deb">
dCache 9.0.23 (Debian package)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
a5f90b9496ee8e19d04a5eb67afb74ba
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#23">
9.0.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.23-1.noarch.rpm">
dCache 9.0.23 (rpm)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
da838db8fa290c3f9b6927f382111ed3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.23.tar.gz">
dCache 9.0.23 (tgz)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
1a901c2be4ee8895e4873ab3fa28988f
</td>
</tr>
<tr class="even" id="9.0.22">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.22-1.noarch.rpm">
dCache 9.0.22 (rpm)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
7b3550f6eb5a348a3b163b30d6aaefe9
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#22">
9.0.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.22.tar.gz">
dCache 9.0.22 (tgz)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
97286d5741c2c8ab618e208bea8e2c2f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.22-1_all.deb">
dCache 9.0.22 (Debian package)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
c623f49f9fbe7487e074d2478140b2e3
</td>
</tr>
<tr class="odd" id="9.0.21">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.21-1.noarch.rpm">
dCache 9.0.21 (rpm)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
ea30014b2d3778e2f3f65a0cb5b87c9d
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#21">
9.0.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.21.tar.gz">
dCache 9.0.21 (tgz)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
d6434d1f027b194b507fdb4a97d4deed
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.21-1_all.deb">
dCache 9.0.21 (Debian package)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
e329f6e3acbd60fead5afefbbcec21c6
</td>
</tr>
<tr class="even" id="9.0.20">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.20-1.noarch.rpm">
dCache 9.0.20 (rpm)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
93a7871e857ffe260b9e50ab4d200f5e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#20">
9.0.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.20.tar.gz">
dCache 9.0.20 (tgz)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
157fdc71f25c6b429236a2d9a3deeaff
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.20-1_all.deb">
dCache 9.0.20 (Debian package)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
13489e96595fd437ecd981d7496f4dba
</td>
</tr>
<tr class="odd" id="9.0.19">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.19-1.noarch.rpm">
dCache 9.0.19 (rpm)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
8245862c92fdb63cfc2f529f01fc9dfd
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#19">
9.0.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.19.tar.gz">
dCache 9.0.19 (tgz)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
b0173618a96b85b99b09c3d0b3b5ac7c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.19-1_all.deb">
dCache 9.0.19 (Debian package)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
3cd2e5af6dd49d02f8a5dc2cb878a475
</td>
</tr>
<tr class="even" id="9.0.18">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.18-1_all.deb">
dCache 9.0.18 (Debian package)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
a1059477818ddcd0788b6fa93b385b7b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#18">
9.0.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.18-1.noarch.rpm">
dCache 9.0.18 (rpm)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
82b5480a3a001135e26e9756de35ffab
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.18.tar.gz">
dCache 9.0.18 (tgz)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
683a75820ade1160e561a02edecdcfe2
</td>
</tr>
<tr class="odd" id="9.0.17">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.17-1_all.deb">
dCache 9.0.17 (Debian package)
</a>
</td>
<td class="date">
5.10.2023
</td>
<td class="hash">
86ff1b5030ec4a441e631c91d28eba97
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#17">
9.0.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.17-1.noarch.rpm">
dCache 9.0.17 (rpm)
</a>
</td>
<td class="date">
5.10.2023
</td>
<td class="hash">
d9c8c3f42c1700f63ae26b87d085061f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.17.tar.gz">
dCache 9.0.17 (tgz)
</a>
</td>
<td class="date">
5.10.2023
</td>
<td class="hash">
449758940e24fecdd2eac2c950ac4a4d
</td>
</tr>
<tr class="even" id="9.0.16">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.16-1.noarch.rpm">
dCache 9.0.16 (rpm)
</a>
</td>
<td class="date">
20.9.2023
</td>
<td class="hash">
a46a56da804ba3ee6cebd371deb2b0fe
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#16">
9.0.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.16.tar.gz">
dCache 9.0.16 (tgz)
</a>
</td>
<td class="date">
20.9.2023
</td>
<td class="hash">
1639a6ffabdc3f421a52d49c670da53c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.16-1_all.deb">
dCache 9.0.16 (Debian package)
</a>
</td>
<td class="date">
20.9.2023
</td>
<td class="hash">
abca3b40489237aef159a96eaaebb62f
</td>
</tr>
<tr class="odd" id="9.0.15">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.15-1.noarch.rpm">
dCache 9.0.15 (rpm)
</a>
</td>
<td class="date">
8.9.2023
</td>
<td class="hash">
0d0726f40ef9135998d2b7bdb33fcbbb
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#15">
9.0.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.15.tar.gz">
dCache 9.0.15 (tgz)
</a>
</td>
<td class="date">
8.9.2023
</td>
<td class="hash">
37cc3ad0f1526c32ceb25c5eeefb95bd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.15-1_all.deb">
dCache 9.0.15 (Debian package)
</a>
</td>
<td class="date">
8.9.2023
</td>
<td class="hash">
4b72f2890182b552fc99d625e263261d
</td>
</tr>
<tr class="even" id="9.0.14">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.14-1_all.deb">
dCache 9.0.14 (Debian package)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
3a6f72b6b8acbfc4f1c02cb0f52b0b31
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#14">
9.0.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.14-1.noarch.rpm">
dCache 9.0.14 (rpm)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
499c65d5c555e5615ebde0e9dd06b063
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.14.tar.gz">
dCache 9.0.14 (tgz)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
c23157c747c7d04c865ff74d23f3575b
</td>
</tr>
<tr class="odd" id="9.0.13">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.13-1.noarch.rpm">
dCache 9.0.13 (rpm)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
7a2f26cb794ba0429bb366b92ac34d7b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#13">
9.0.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.13.tar.gz">
dCache 9.0.13 (tgz)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
1746feb46c3d5f2a8ed196f081f37ce4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.13-1_all.deb">
dCache 9.0.13 (Debian package)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
2f348108d525c5e28777ee5a5c29668a
</td>
</tr>
<tr class="even" id="9.0.12">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.12-1.noarch.rpm">
dCache 9.0.12 (rpm)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
97f1fd4c72fd10f95b975f8255ed6e78
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#12">
9.0.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.12.tar.gz">
dCache 9.0.12 (tgz)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
dbc79773b800e6d8866b47c1d1ed376f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.12-1_all.deb">
dCache 9.0.12 (Debian package)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
9d00e05837d29fabdc512fe661ff9c9f
</td>
</tr>
<tr class="odd" id="9.0.11">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.11-1.noarch.rpm">
dCache 9.0.11 (rpm)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
17cec217b0e77813186ab409e9e2f678
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#11">
9.0.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.11.tar.gz">
dCache 9.0.11 (tgz)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
d6ddb57140d61237eaec5c041426987d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.11-1_all.deb">
dCache 9.0.11 (Debian package)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
d4ef72ba3607c554bb2194f4291d3adc
</td>
</tr>
<tr class="even" id="9.0.10">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.10-1.noarch.rpm">
dCache 9.0.10 (rpm)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
040949e2434722a1463d30d135d8178c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#10">
9.0.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.10.tar.gz">
dCache 9.0.10 (tgz)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
0c2317ccd375f6b921a643d8b7b89757
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.10-1_all.deb">
dCache 9.0.10 (Debian package)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
3d9aa58ed086704fd117c739baa1dd55
</td>
</tr>
<tr class="odd" id="9.0.9">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.9-1.noarch.rpm">
dCache 9.0.9 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
8666cc67e43046c4c3fa2464d5eea954
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#9">
9.0.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.9.tar.gz">
dCache 9.0.9 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
6e3b4e1f5c8b405eb581cf3c76ebe693
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.9-1_all.deb">
dCache 9.0.9 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
bcd977124dcf9ba0e8b5eea5307e1efc
</td>
</tr>
<tr class="even" id="9.0.8">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.8-1_all.deb">
dCache 9.0.8 (Debian package)
</a>
</td>
<td class="date">
30.6.2023
</td>
<td class="hash">
3e8a9893966f04e609ac582d081413ec
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#8">
9.0.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.8-1.noarch.rpm">
dCache 9.0.8 (rpm)
</a>
</td>
<td class="date">
30.6.2023
</td>
<td class="hash">
4e6485c4425f3b00f2c1f34af0782c9d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.8.tar.gz">
dCache 9.0.8 (tgz)
</a>
</td>
<td class="date">
30.6.2023
</td>
<td class="hash">
a81dc02ae7fd40a6d15406f447480260
</td>
</tr>
<tr class="odd" id="9.0.7">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.7-1_all.deb">
dCache 9.0.7 (Debian package)
</a>
</td>
<td class="date">
16.6.2023
</td>
<td class="hash">
72491c745e955e44a97f682a2e65536d
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#7">
9.0.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.7-1.noarch.rpm">
dCache 9.0.7 (rpm)
</a>
</td>
<td class="date">
16.6.2023
</td>
<td class="hash">
e90b48cb2d5ab442417ca5e1802a9826
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.7.tar.gz">
dCache 9.0.7 (tgz)
</a>
</td>
<td class="date">
16.6.2023
</td>
<td class="hash">
1c3f68d444ebbc5384f0752bed96d5cc
</td>
</tr>
<tr class="even" id="9.0.6">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.6-1.noarch.rpm">
dCache 9.0.6 (rpm)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
209d4966546bb2081830399532f0df51
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#6">
9.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.6.tar.gz">
dCache 9.0.6 (tgz)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
d26ca64e5c4c62d45ea17a91f259fd48
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.6-1_all.deb">
dCache 9.0.6 (Debian package)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
a4e54d6b3a0eb569af6e8d453675da60
</td>
</tr>
<tr class="odd" id="9.0.5">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.5-1_all.deb">
dCache 9.0.5 (Debian package)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
bd6471329930017695ec8ba6d31ffafb
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#5">
9.0.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.5-1.noarch.rpm">
dCache 9.0.5 (rpm)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
6662e19a53459aeec15bc7ef13a90dac
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.5.tar.gz">
dCache 9.0.5 (tgz)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
2da8711e6c3a328a0b289a060fec8603
</td>
</tr>
<tr class="even" id="9.0.4">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.4-1_all.deb">
dCache 9.0.4 (Debian package)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
f84ab5de6c72d44e6701f30332e15eeb
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#4">
9.0.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.4-1.noarch.rpm">
dCache 9.0.4 (rpm)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
d8c32fdb64e3497be0f24bd270e13601
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.4.tar.gz">
dCache 9.0.4 (tgz)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
6dd4cedff00f1cb1cd61d163f215cd36
</td>
</tr>
<tr class="odd" id="9.0.3">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.3-1_all.deb">
dCache 9.0.3 (Debian package)
</a>
</td>
<td class="date">
16.4.2023
</td>
<td class="hash">
7a64672fe552bff109c3477e2bd29c4e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#3">
9.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.3-1.noarch.rpm">
dCache 9.0.3 (rpm)
</a>
</td>
<td class="date">
16.4.2023
</td>
<td class="hash">
3d3935aecf0869185e2e00027e93e215
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.3.tar.gz">
dCache 9.0.3 (tgz)
</a>
</td>
<td class="date">
16.4.2023
</td>
<td class="hash">
32a44de39bf1ae051febf8db7b24bae3
</td>
</tr>
<tr class="even" id="9.0.2">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.2-1.noarch.rpm">
dCache 9.0.2 (rpm)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
58226ae502fc4d2c9feb35147c9c6906
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#2">
9.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.2.tar.gz">
dCache 9.0.2 (tgz)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
743262f7c254fe3d386a2392c11c1588
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.2-1_all.deb">
dCache 9.0.2 (Debian package)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
9b09da789d3cf09d196d05e20e78d6d2
</td>
</tr>
<tr class="odd" id="9.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.1-1.noarch.rpm">
dCache 9.0.1 (rpm)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
2bb5fbc3b905bc00f89153895edf5de5
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#1">
9.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.1.tar.gz">
dCache 9.0.1 (tgz)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
4d740eec870fdacf56dc113bdc135530
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.1-1_all.deb">
dCache 9.0.1 (Debian package)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
4e2e5d3121ec4a0791ef7b0a2ee8f42b
</td>
</tr>
<tr class="even" id="9.0.0">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.0-1.noarch.rpm">
dCache 9.0.0 (rpm)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
ac702bc1b945427a0b134f69f00784a9
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.0.shtml#0">
9.0.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache-9.0.0.tar.gz">
dCache 9.0.0 (tgz)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
ee602140a800347c41518cec87616239
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.0/dcache_9.0.0-1_all.deb">
dCache 9.0.0 (Debian package)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
2418bf37e3c58a1f46410e0f84723668
</td>
</tr>
</tbody>
