<tr class="rec" id="11.2.0">
<td class="link">
<a href="/old/downloads/1.9/repo/11.2/dcache_11.2.0-1_all.deb">
dCache 11.2.0 (Debian package)
</a>
</td>
<td class="date">
21.01.2026
</td>
<td class="hash">
10be62b09ded327da2bd95dcf0d11121
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.2.shtml#release11.2.0">
11.2.0
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.2/dcache-11.2.0-1.noarch.rpm">
dCache 11.2.0 (rpm)
</a>
</td>
<td class="date">
21.01.2026
</td>
<td class="hash">
f51e9a79d4f22b46f6a219b2efb6ccd4
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.2/dcache-11.2.0.tar.gz">
dCache 11.2.0 (tgz)
</a>
</td>
<td class="date">
21.01.2026
</td>
<td class="hash">
812562179983cef7f12fa5b072442bf3
</td>
</tr>
