<tr class="rec" id="10.0.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.0-1.noarch.rpm">
dCache 10.0.0 (rpm)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
9020f50ca2e1d300c550eff0650b2cfc
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-10-0">
10.0.0
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.0.tar.gz">
dCache 10.0.0 (tgz)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
b03f3e42c4e219dba012915084d50d77
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.0-1_all.deb">
dCache 10.0.0 (Debian package)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
cd495a3b55051171d7ad2854d0ee4a1e
</td>
</tr>
</tbody>
