<tr class="rec" id="10.1.15">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.15-1_all.deb">
dCache 10.1.15 (Debian package)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
579eed8eb23f7824b363e7dfb6d30fbd
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.15">
10.1.15
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.15-1.noarch.rpm">
dCache 10.1.15 (rpm)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
393bda9b2ab3e4557ab499ac953f7345
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.15.tar.gz">
dCache 10.1.15 (tgz)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
209d68aedeffb77846af679ac0fd0f98
</td>
</tr>
<tr class="even" id="10.1.14">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.14-1_all.deb">
dCache 10.1.14 (Debian package)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
bf01a01155d2e4eabc14376d1517470f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.14">
10.1.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.14-1.noarch.rpm">
dCache 10.1.14 (rpm)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
0d7abcf9719552dd1c0dc4622c78bbd1
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.14.tar.gz">
dCache 10.1.14 (tgz)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
2ae5ac9b75ea43b090e710f78c1cb5ce
</td>
</tr>
<tr class="odd" id="10.1.13">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.13-1_all.deb">
dCache 10.1.13 (Debian package)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
6dc6305c202d5628e5280acec5275f9c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.13">
10.1.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.13-1.noarch.rpm">
dCache 10.1.13 (rpm)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
f65999c649a42b7e4ad1ab1c40d40c75
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.13.tar.gz">
dCache 10.1.13 (tgz)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
35b229076f54ea814204df92028c94b8
</td>
</tr>
<tr class="even" id="10.1.12">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.12-1_all.deb">
dCache 10.1.12 (Debian package)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
fe6d057a233fccda03cc38f8afd4deba
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.12">
10.1.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.12-1.noarch.rpm">
dCache 10.1.12 (rpm)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
0f683fd76f1da0e9acebc8438732fa5f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.12.tar.gz">
dCache 10.1.12 (tgz)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
a3b3f228923588410d6ebd9ebb40a14e
</td>
</tr>
<tr class="odd" id="10.1.11">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.11-1_all.deb">
dCache 10.1.11 (Debian package)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
80d015c9475d1752f52c32cd83a931e3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.11">
10.1.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.11-1.noarch.rpm">
dCache 10.1.11 (rpm)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
d6fd1042240235092e0b0b5d1ea214d8
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.11.tar.gz">
dCache 10.1.11 (tgz)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
c1f5b87d5dcff06f9e95c19c22765dda
</td>
</tr>
<tr class="even" id="10.1.10">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.10-1_all.deb">
dCache 10.1.10 (Debian package)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
92ca03aad54636c4e64dafedb5ac95a6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.10">
10.1.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.10-1.noarch.rpm">
dCache 10.1.10 (rpm)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
c99181a275f47724b6dab39cc5ccc2a2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.10.tar.gz">
dCache 10.1.10 (tgz)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
4810bb9a4c4580e94127479e0f20a6c3
</td>
</tr>
<tr class="odd" id="10.1.9">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.9-1_all.deb">
dCache 10.1.9 (Debian package)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
da937ec0c4eb217baf81e7dfffb4dc5a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.9">
10.1.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.9-1.noarch.rpm">
dCache 10.1.9 (rpm)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
cdbff861b80cd5959e94b849cb030b16
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.9.tar.gz">
dCache 10.1.9 (tgz)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
7335d18c8deb5c3000e5c33af002a09c
</td>
</tr>
<tr class="even" id="10.1.8">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.8-1_all.deb">
dCache 10.1.8 (Debian package)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
6b39f8468ba8cfc62d2ad2245b181430
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.8">
10.1.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.8-1.noarch.rpm">
dCache 10.1.8 (rpm)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
b1e5d479a68eaa59502291fee35fd582
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.8.tar.gz">
dCache 10.1.8 (tgz)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
b8b02669fb2fa940ab7c5c0ac4a8893e
</td>
</tr>
<tr class="odd" id="10.1.7">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.7-1_all.deb">
dCache 10.1.7 (Debian package)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
b46b584b62ff617b86deec12989a31ee
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.7">
10.1.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.7-1.noarch.rpm">
dCache 10.1.7 (rpm)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
2a9b46936215dd1e8bc4b83fa910876e
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.7.tar.gz">
dCache 10.1.7 (tgz)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
bfc0bf0edd5539e2106155f22359f23f
</td>
</tr>
<tr class="even" id="10.1.6">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.6-1_all.deb">
dCache 10.1.6 (Debian package)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
996ba99bd2eb5ae9aeeed4509fae6181
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.6">
10.1.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.6-1.noarch.rpm">
dCache 10.1.6 (rpm)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
8805ca15188b687769a5089023db4a24
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.6.tar.gz">
dCache 10.1.6 (tgz)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
38f3d25a7226b4455a181f06d5bc79f2
</td>
</tr>
<tr class="odd" id="10.1.5">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.5-1_all.deb">
dCache 10.1.5 (Debian package)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
2e5aad20f1cbc0b647fdd1fa2d26937f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.5">
10.1.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.5-1.noarch.rpm">
dCache 10.1.5 (rpm)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
4b4363d51b7e08ffee1f1172ac26c097
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.5.tar.gz">
dCache 10.1.5 (tgz)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
c496dd91a08d54a0c6a96f0d43250573
</td>
</tr>
<tr class="even" id="10.1.4">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.4-1_all.deb">
dCache 10.1.4 (Debian package)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
b75eac5baebf292b78d69c0401a1729f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.4">
10.1.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.4-1.noarch.rpm">
dCache 10.1.4 (rpm)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
1c0d0aa927c2c96dc79aa03eb5d77dc6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.4.tar.gz">
dCache 10.1.4 (tgz)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
c3b4e42f195d1c1614f6e40cfd0242d3
</td>
</tr>
<tr class="odd" id="10.1.3">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.3-1_all.deb">
dCache 10.1.3 (Debian package)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
e64c33b7bc1718470b747a09b7eecab1
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.3">
10.1.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.3-1.noarch.rpm">
dCache 10.1.3 (rpm)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
6a7db9bb3789f210fdab35195b28a8ab
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.3.tar.gz">
dCache 10.1.3 (tgz)
</a>
</td>

<td class="date">
11.09.2024
</td>
<td class="hash">
8bffd1caf1cfc569c97b2f94eb05330c
</td>
</tr>
<tr id="10.1.2">
<td class="link">
<del>dCache 10.1.2 (Debian package)</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
c19bdbb6d4389eb20a9b415b731bc494
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.2">
10.1.2
</a>
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 10.1.2 (rpm)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
bc4a5ce23fccf924ff322189e915204a
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 10.1.2 (tgz)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
8f113437a9b364155e1aade0c86e7ab4
</td>
</tr>

<tr class="even" id="10.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.1-1_all.deb">
dCache 10.1.1 (Debian package)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
55a7e993359d03a8c54968fb6dd18258
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml#release10.1.1">
10.1.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.1-1.noarch.rpm">
dCache 10.1.1 (rpm)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
2561cbec4e6744bd696973b04eb74230
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.1.tar.gz">
dCache 10.1.1 (tgz)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
0d67c4f71ad25b72931f4a4bafdb695d
</td>
</tr>
<tbody>
<tr class="even" id="10.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.0-1.noarch.rpm">
dCache 10.1.0 (rpm)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
a10b2ec6c18cc592d20f070d71175ea2
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml">
10.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.0.tar.gz">
dCache 10.1.0 (tgz)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
caaf189839acc766aa16e3935179a627
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.0-1_all.deb">
dCache 10.1.0 (Debian package)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
0eed536760b5b7b8bf5c9e5f6031df85
</td>
</tr>
</tbody>
