<tr class="rec" id="9.1.6">
<td class="link">
<a href="repo/9.1/dcache_9.1.6-1_all.deb">
dCache 9.1.6 (Debian package)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
5c3624b9f3f5a61f0284109f3779b717
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#6">
9.1.6
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/9.1/dcache-9.1.6-1.noarch.rpm">
dCache 9.1.6 (rpm)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
7a0e793db80e2e44850791faecb0d330
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/9.1/dcache-9.1.6.tar.gz">
dCache 9.1.6 (tgz)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
1fec4b4c800b32d3dd5401fbe8ab95cb
</td>
</tr>
<tr class="odd" id="9.1.5">
<td class="link">
<a href="repo/9.1/dcache-9.1.5-1.noarch.rpm">
dCache 9.1.5 (rpm)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
a421c78c39e032b30e412315024e2480
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#5">
9.1.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/9.1/dcache-9.1.5.tar.gz">
dCache 9.1.5 (tgz)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
908ce358db6d278e7c601f69cf960dc5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/9.1/dcache_9.1.5-1_all.deb">
dCache 9.1.5 (Debian package)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
eaf9e414a110326a9c5e524ac7872472
</td>
</tr>
<tr class="even" id="9.1.4">
<td class="link">
<a href="repo/9.1/dcache-9.1.4-1.noarch.rpm">
dCache 9.1.4 (rpm)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
77613cc186ed3f41ac4653dc7912ba10
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#4">
9.1.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/9.1/dcache-9.1.4.tar.gz">
dCache 9.1.4 (tgz)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
a5c9df2669cfc53b09c09a093e0eaf0a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/9.1/dcache_9.1.4-1_all.deb">
dCache 9.1.4 (Debian package)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
778cad8a4435832f4aaefb73c84deaa5
</td>
</tr>
<tr class="odd" id="9.1.3">
<td class="link">
<a href="repo/9.1/dcache-9.1.3-1.noarch.rpm">
dCache 9.1.3 (rpm)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
5b8013c690de1ad84d33a121a596499f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#3">
9.1.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/9.1/dcache-9.1.3.tar.gz">
dCache 9.1.3 (tgz)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
80e7f28821ad8b172df5e69f225e1153
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/9.1/dcache_9.1.3-1_all.deb">
dCache 9.1.3 (Debian package)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
5b531b9e6abf5eaa9f262179e8901634
</td>
</tr>
<tr class="even" id="9.1.2">
<td class="link">
<a href="repo/9.1/dcache-9.1.2-1.noarch.rpm">
dCache 9.1.2 (rpm)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
27a1879114fde238b45c94e0d48502f3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#2">
9.1.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/9.1/dcache-9.1.2.tar.gz">
dCache 9.1.2 (tgz)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
692fdbe3d3f92d93463a0745ec357136
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/9.1/dcache_9.1.2-1_all.deb">
dCache 9.1.2 (Debian package)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
69d5afaa7342ec381a36abfe314d549f
</td>
</tr>
<tr class="odd" id="9.1.1">
<td class="link">
<a href="repo/9.1/dcache-9.1.1-1.noarch.rpm">
dCache 9.1.1 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
edd4446a6301ed566084801dfb6252a2
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#1">
9.1.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/9.1/dcache-9.1.1.tar.gz">
dCache 9.1.1 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
3afb7752f530d2a71c25c1fd5d14a36a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/9.1/dcache_9.1.1-1_all.deb">
dCache 9.1.1 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
fc25b9fba3ef6d56227f127d2b453fb5
</td>
</tr>
<tr class="even" id="9.1.0">
<td class="link">
<a href="repo/9.1/dcache-9.1.0-1.noarch.rpm">
dCache 9.1.0 (rpm)
</a>
</td>
<td class="date">
5.7.2023
</td>
<td class="hash">
ef2c0acdb0d99c0a6afbc1fad17a35d3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-1#0">
9.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/9.1/dcache-9.1.0.tar.gz">
dCache 9.1.0 (tgz)
</a>
</td>
<td class="date">
5.7.2023
</td>
<td class="hash">
d0bd5164bdbaf52ead30963aa4078364
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/9.1/dcache_9.1.0-1_all.deb">
dCache 9.1.0 (Debian package)
</a>
</td>
<td class="date">
5.7.2023
</td>
<td class="hash">
32407854fb3f8cd4f40d10935131fd42
</td>
</tr>
</tbody>
