<tr class="rec" id="10.0.15">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.15-1_all.deb">
dCache 10.0.15 (Debian package)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
51559f6f5348b230995222fca8ac3e7f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.15">
10.0.15
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.15-1.noarch.rpm">
dCache 10.0.15 (rpm)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
08ff984369d4def87a544a6a6e664988
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.15.tar.gz">
dCache 10.0.15 (tgz)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
fc25d92e28f9aad32eed900688a6d496
</td>
</tr>
<tr class="even" id="10.0.14">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.14-1_all.deb">
dCache 10.0.14 (Debian package)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
082578808623485aec7a3bb40f33357d
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.14">
10.0.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.14-1.noarch.rpm">
dCache 10.0.14 (rpm)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
389d425868a269d00566fd2a03875359
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.14.tar.gz">
dCache 10.0.14 (tgz)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
381017ee473119e275b65b7fca79ce46
</td>
</tr>
<tr class="odd" id="10.0.13">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.13-1_all.deb">
dCache 10.0.13 (Debian package)
</a>
</td>
<td class="date">
13.11.2024
</td>
<td class="hash">
8aaa6dd0eb01c6789b4830c755612aa8
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.13">
10.0.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.13-1.noarch.rpm">
dCache 10.0.13 (rpm)
</a>
</td>
<td class="date">
13.11.2024
</td>
<td class="hash">
00684ef0a5b17c69e4acb00f2de44f64
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.13.tar.gz">
dCache 10.0.13 (tgz)
</a>
</td>
<td class="date">
13.11.2024
</td>
<td class="hash">
2b94c8f42c633aaa41eacab4efb62cab
</td>
</tr>
<tr class="even" id="10.0.12">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.12-1_all.deb">
dCache 10.0.12 (Debian package)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
0e531f8e78a506eb508d82b887a1b1b3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.12">
10.0.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.12-1.noarch.rpm">
dCache 10.0.12 (rpm)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
ecbf0f320de72b3b6f73fe3eec8f2674
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.12.tar.gz">
dCache 10.0.12 (tgz)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
e776c8db8ae3145699e059662fd666d6
</td>
</tr>
<tr class="odd" id="10.0.11">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.11-1_all.deb">
dCache 10.0.11 (Debian package)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
18440b525ce27ec496fff61080d6c614
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.11">
10.0.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.11-1.noarch.rpm">
dCache 10.0.11 (rpm)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
0ad4acddcdcce77fe740e6ab46b12111
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.11.tar.gz">
dCache 10.0.11 (tgz)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
1c86783ba35b3aa20dbc60924d536ce0
</td>
</tr>
<tr class="even" id="10.0.10">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.10-1_all.deb">
dCache 10.0.10 (Debian package)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
bc47b5bf1323a05e998d24d52d94d63a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.10">
10.0.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.10-1.noarch.rpm">
dCache 10.0.10 (rpm)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
7766edcf4026bdb12f67ca5eb3790d7b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.10.tar.gz">
dCache 10.0.10 (tgz)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
0dab0326f0f527e11d4090cc9b71e929
</td>
</tr>
<tr class="odd" id="10.0.9">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.9-1_all.deb">
dCache 10.0.9 (Debian package)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
40e345a20e87cf340a0b2bfc65b0088e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.9">
10.0.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.9-1.noarch.rpm">
dCache 10.0.9 (rpm)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
29083313ae4d87b07323a6e2f33ac239
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.9.tar.gz">
dCache 10.0.9 (tgz)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
12aadc963d82ce2e3cac72a47d5a4202
</td>
</tr>
<tr id="10.0.8">
<td class="link">
<del>dCache 10.0.8 (Debian package)</del>
</td>

<td class="date">
06.09.2024
</td>
<td class="hash">
14772d0cd1d6ba950102be9063e7c603
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.1.2
</a>
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 10.0.8 (rpm)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
aa60de9e40fcea97324c0d76cca3dfd1
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 10.0.8 (tgz)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
d9332282f0bcc8fa9cb744195d2ed60e
</td>
</tr>


<tr class="even" id="10.0.7">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.7-1_all.deb">
dCache 10.0.7 (Debian package)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
7324ebd7ba2e838bf6f58417b16b33f5
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.7-1.noarch.rpm">
dCache 10.0.7 (rpm)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
a3937c9f490fe9d9cd7a463cb9e6f6f2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.7.tar.gz">
dCache 10.0.7 (tgz)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
9f369c3b15197cee0cc7541fb8a963a9
</td>
</tr>
<tbody>
<tr class="even" id="10.0.6">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.6-1_all.deb">
dCache 10.0.6 (Debian package)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
6195f192ae2d17a238ba6da7b7bd08b6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.6-1.noarch.rpm">
dCache 10.0.6 (rpm)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
2ba97a9d8b7d58b21ad5bb46437f7f10
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.6.tar.gz">
dCache 10.0.6 (tgz)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
fa4768a9556744338b8fa45ecff443f4
</td>
</tr>
<tr class="even" id="10.0.5">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.5-1_all.deb">
dCache 10.0.5 (Debian package)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
3875d375a072da40597d883d9b460cce
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.5-1.noarch.rpm">
dCache 10.0.5 (rpm)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
812bb279b4387916f74d09bf0009f94b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.5.tar.gz">
dCache 10.0.5 (tgz)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
fb8e82f47ea4848a23bb86c3adfaeca1
</td>
</tr>
<tr class="even" id="10.0.4">
  <td class="link">
    <a href="/old/downloads/1.9/repo/10.0/dcache_10.0.4-1_all.deb">
      dCache 10.0.4 (Debian package)
    </a>
  </td>
  <td class="date">
    05.06.2024
  </td>
  <td class="hash">
    599fe0e7613f5b9379a1a4008b416ae2
  </td>
  <td class="notes" rowspan="3">
    <a href="/old/downloads/1.9/release-notes-10.0.shtml">
      10.0.4
    </a>
  </td>
</tr>
<tr class="even">
  <td class="link">
    <a href="/old/downloads/1.9/repo/10.0/dcache-10.0.4-1.noarch.rpm">
      dCache 10.0.4 (rpm)
    </a>
  </td>
  <td class="date">
    05.06.2024
  </td>
  <td class="hash">
    764de07fe80d8389403922feba81ee42
  </td>
</tr>
<tr class="even">
  <td class="link">
    <a href="/old/downloads/1.9/repo/10.0/dcache-10.0.4.tar.gz">
      dCache 10.0.4 (tgz)
    </a>
  </td>
  <td class="date">
    05.06.2024
  </td>
  <td class="hash">
    09718e85ef78a03bcbba518851ac0459
  </td>
</tr>
<tr class="odd" id="10.0.3">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.3-1_all.deb">
dCache 10.0.3 (Debian package)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
f99c96442d6f695386b4c3a0cbe59adb
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.3-1.noarch.rpm">
dCache 10.0.3 (rpm)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
ccf10654b03af7370993337f9995870f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.3.tar.gz">
dCache 10.0.3 (tgz)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
8e0392b4ac3ee07b42ab23f179769bf7
</td>
</tr>
<tr class="even" id="10.0.2">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.2-1_all.deb">
dCache 10.0.2 (Debian package)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.2-1.noarch.rpm">
dCache 10.0.2 (rpm)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.2.tar.gz">
dCache 10.0.2 (tgz)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="odd" id="10.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.1-1_all.deb">
dCache 10.0.1 (Debian package)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
a91e2bc08f7a65c7da79f5134dbf1c1b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.1-1.noarch.rpm">
dCache 10.0.1 (rpm)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
864bf28e71b2de1591b8be0b7ade8181
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.1.tar.gz">
dCache 10.0.1 (tgz)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
e7445dab0627ec1c6b44fd028fb22fee
</td>
</tr>
<tr class="even" id="10.0.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.0-1.noarch.rpm">
dCache 10.0.0 (rpm)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
9020f50ca2e1d300c550eff0650b2cfc
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.0.tar.gz">
dCache 10.0.0 (tgz)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
b03f3e42c4e219dba012915084d50d77
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.0-1_all.deb">
dCache 10.0.0 (Debian package)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
cd495a3b55051171d7ad2854d0ee4a1e
</td>
</tr>
</tbody>
