<tr class="rec" id="9.2.42">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.42-1_all.deb">
dCache 9.2.42 (Debian package)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
64a5579f9705331ffea886a21ec3fd32
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.42">
9.2.42
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.42-1.noarch.rpm">
dCache 9.2.42 (rpm)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
87dc655ae7cca6b002adc695a3f64153
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.42.tar.gz">
dCache 9.2.42 (tgz)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
c08e87fa4ce41cd45624ecc321f7fa52
</td>
</tr>
<tr class="odd" id="9.2.41">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.41-1_all.deb">
dCache 9.2.41 (Debian package)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
0fca49b2f6507895ca79f71765172a28
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.41">
9.2.41
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.41-1.noarch.rpm">
dCache 9.2.41 (rpm)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
6de4d272e136247f425c4445679d5b7c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.41.tar.gz">
dCache 9.2.41 (tgz)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
495acb5a5ca44adcd66deb4f45bdbff4
</td>
</tr>
<tr class="even" id="9.2.40">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.40-1_all.deb">
dCache 9.2.40 (Debian package)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
a09927e39884a3698b624c01c4a2e382
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.40">
9.2.40
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.40-1.noarch.rpm">
dCache 9.2.40 (rpm)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
76eb0359a35426d0f64928dceea88d38
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.40.tar.gz">
dCache 9.2.40 (tgz)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
46581e2d0572e4ce3cea91eac8a37f6d
</td>
</tr>
<tr class="odd" id="9.2.39">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.39-1_all.deb">
dCache 9.2.39 (Debian package)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
273792b81d844df86567758b51654c40
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.39">
9.2.39
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.39-1.noarch.rpm">
dCache 9.2.39 (rpm)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
aed1398320662a4853377263af0ca894
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.39.tar.gz">
dCache 9.2.39 (tgz)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
e1b9e7817c51bb342a41c9593ed752ba
</td>
</tr>
<tr class="even" id="9.2.38">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.38-1_all.deb">
dCache 9.2.38 (Debian package)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
addf305658ed28c073b4e2a0eaf5f250
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.38">
9.2.38
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.38-1.noarch.rpm">
dCache 9.2.38 (rpm)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
05aa7a8c2df5386c992b32768a5ffb5c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.38.tar.gz">
dCache 9.2.38 (tgz)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
83cb7d2125c8c11b140f9386ab6f073b
</td>
</tr>
<tr class="odd" id="9.2.37">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.37-1_all.deb">
dCache 9.2.37 (Debian package)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
edcfe76ea2dc2bec8369602a3ec2cf79
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.37">
9.2.37
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.37-1.noarch.rpm">
dCache 9.2.37 (rpm)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
2e659397731b90119d4baf487bf71d6e
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.37.tar.gz">
dCache 9.2.37 (tgz)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
f69bdcd225ee5b887b65598e9ea73ff4
</td>
</tr>
<tr class="even" id="9.2.36">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.36-1_all.deb">
dCache 9.2.36 (Debian package)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
dbf4b8dc0e8c24d4799497fc6687ee7f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.36">
9.2.36
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.36-1.noarch.rpm">
dCache 9.2.36 (rpm)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
9c786de6260965cbc8ee862b5b973f52
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.36.tar.gz">
dCache 9.2.36 (tgz)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
e5a90c2d7863c5a05cfb58e5592021df
</td>
</tr>
<tr class="odd" id="9.2.35">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.35-1_all.deb">
dCache 9.2.35 (Debian package)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
9bc2e1fd6d9fe3d3606506282e3809a5
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.35">
9.2.35
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.35-1.noarch.rpm">
dCache 9.2.35 (rpm)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
0469aec587f20b1d8e469c9f12aeadbd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.35.tar.gz">
dCache 9.2.35 (tgz)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
9ce68fdd880380be49d0a53151f2537a
</td>
</tr>
<tr class="even" id="9.2.34">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.34-1_all.deb">
dCache 9.2.34 (Debian package)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
eda45231426c8dcc473b997c835589cd
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.34">
9.2.34
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.34-1.noarch.rpm">
dCache 9.2.34 (rpm)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
707460a0baa42c4f65a9572b8fa67621
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.34.tar.gz">
dCache 9.2.34 (tgz)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
0f75a8f74002b4b7f68c5347e6a5837c
</td>
</tr>
<tr class="odd" id="9.2.33">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.33-1_all.deb">
dCache 9.2.33 (Debian package)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
afb1409175d2a2b33b4b5cb02a5864b3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.33">
9.2.33
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.33-1.noarch.rpm">
dCache 9.2.33 (rpm)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
ff1ad8fc3390faa9f437bb990f8bfb78
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.33.tar.gz">
dCache 9.2.33 (tgz)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
0d6dae5a297fd6d4cece03a54afc34de
</td>
</tr>
<tr class="even" id="9.2.32">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.32-1_all.deb">
dCache 9.2.32 (Debian package)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
571979fb451261aacf49e0e6d2c4c66d
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.32">
9.2.32
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.32-1.noarch.rpm">
dCache 9.2.32 (rpm)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
fe39c769970f1882a203027953171012
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.32.tar.gz">
dCache 9.2.32 (tgz)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
79e94bbcdd01c637435f28e547fc5d9f
</td>
</tr>
<tr class="odd" id="9.2.31">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.31-1_all.deb">
dCache 9.2.31 (Debian package)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
bb0d20a365fc437f60c3dfa0964d696b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.31">
9.2.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.31-1.noarch.rpm">
dCache 9.2.31 (rpm)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
8a69ef8b8354b7f96d1844b4329e22c0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.31.tar.gz">
dCache 9.2.31 (tgz)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
07ca21e4de4676b023147a43406d0389
</td>
</tr>
<tr class="even" id="9.2.30">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.30-1_all.deb">
dCache 9.2.30 (Debian package)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
8118d939d88a53f1bc9a653a73887c73
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.30">
9.2.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.30-1.noarch.rpm">
dCache 9.2.30 (rpm)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
27d9a0b074f2715a9202307b5defb48a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.30.tar.gz">
dCache 9.2.30 (tgz)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
65e6aa68cc102379e2790bc1408a4f28
</td>
</tr>
<tr class="odd" id="9.2.29">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.29-1_all.deb">
dCache 9.2.29 (Debian package)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
ac72c54aa9d4fafc21cbbca825fae07f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.29">
9.2.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.29-1.noarch.rpm">
dCache 9.2.29 (rpm)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
ee773b1663b8103d4c189aee497d3275
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.29.tar.gz">
dCache 9.2.29 (tgz)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
0873aafc581dbc653aeed0bcfaf19b58
</td>
</tr>
<tr class="even" id="9.2.28">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.28-1_all.deb">
dCache 9.2.28 (Debian package)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
cc60b8f0a38dbe4970d39e9b32e43ee9
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.28">
9.2.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.28-1.noarch.rpm">
dCache 9.2.28 (rpm)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
57e9dd60f836cd9d89b1b43c794b450c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.28.tar.gz">
dCache 9.2.28 (tgz)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
71fa368cef687251506f65c3a995fbe7
</td>
</tr>
<tr class="odd" id="9.2.27">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.27-1_all.deb">
dCache 9.2.27 (Debian package)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
4006f5f96adf528ac76a942150879078
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.27">
9.2.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.27-1.noarch.rpm">
dCache 9.2.27 (rpm)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
c7fc131b57abf60b18588994fd0df862
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.27.tar.gz">
dCache 9.2.27 (tgz)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
019e774c0ae623880285c64994168fe2
</td>
</tr>
<tr class="even" id="9.2.26">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.26-1_all.deb">
dCache 9.2.26 (Debian package)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
544d130787a4b77cb18bb3e417c5d7ee
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.26">
9.2.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.26-1.noarch.rpm">
dCache 9.2.26 (rpm)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
c728784cfb432f38577bc783c963c59e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.26.tar.gz">
dCache 9.2.26 (tgz)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
bc7cd6cb3944ffb584633ac4b4cb867a
</td>
</tr>
<tr class="odd" id="9.2.25">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.25-1_all.deb">
dCache 9.2.25 (Debian package)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
ea99e8f167dcc68ad03c35ea7dc78471
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#release9.2.25">
9.2.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.25-1.noarch.rpm">
dCache 9.2.25 (rpm)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
2ef6382f7edbe991c8523fcac5fcd357
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.25.tar.gz">
dCache 9.2.25 (tgz)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
09e79abc408f0572264d5f2f19f33ab8
</td>
</tr>
<tr id="9.2.24">
<td class="link">
<del>
dCache 9.2.24 (Debian package)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
f5c52fad122b05d5b8aea43cab3241e9
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.24
</a>
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 9.2.24 (rpm)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
ed3a14c102e4da7c9b21469260543801
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 9.2.24 (tgz)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
44b3dd30a044334d63e45604c0e5c6a3
</td>

</tr>
<tr class="even" id="9.2.23">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.23-1_all.deb">
dCache 9.2.23 (Debian package)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
90e0fe2f621bd41f92bb88e19af3be7c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.23
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.23-1.noarch.rpm">
dCache 9.2.23 (rpm)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
312a9d6f1f368789f3683cb90bf24a36
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.23.tar.gz">
dCache 9.2.23 (tgz)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
d08314d76ba62a3c4c4e51b01777773c
</td>
</tr>
<tbody>
<tr class="even" id="9.2.22">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.22-1_all.deb">
dCache 9.2.22 (Debian package)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
830b8bbccd1a8ab49689f2a6645b5b10
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.22-1.noarch.rpm">
dCache 9.2.22 (rpm)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
684057d7452211ccfde606ca5a081ea5
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.22.tar.gz">
dCache 9.2.22 (tgz)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
671c4d0c2d2be5f0d7153d97dcccc77c
</td>
</tr>
<tr class="even" id="9.2.21">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.21-1_all.deb">
dCache 9.2.21 (Debian package)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
1e088f2f84b775a7c4d67414be2814a3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.21
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.21-1.noarch.rpm">
dCache 9.2.21 (rpm)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
0ae586dbda174f4b8c3300618642c46d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.21.tar.gz">
dCache 9.2.21 (tgz)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
521726a0628fea3186dcb65c4dd71ade
</td>
</tr>
<tr class="even" id="9.2.20">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.20-1_all.deb">
dCache 9.2.20 (Debian package)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
7c5b76093191eb067debc55cced3688c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.20-1.noarch.rpm">
dCache 9.2.20 (rpm)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
8c2d6c16f41ebd81b67db96a4e2a1690
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.20.tar.gz">
dCache 9.2.20 (tgz)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
a036c8ca9b3a77c7f87437f852848e57
</td>
</tr>
<tr class="odd" id="9.2.19">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.19-1_all.deb">
dCache 9.2.19 (Debian package)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.19-1.noarch.rpm">
dCache 9.2.19 (rpm)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.19.tar.gz">
dCache 9.2.19 (tgz)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="even" id="9.2.18">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.18-1_all.deb">
dCache 9.2.18 (Debian package)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
75eb036c37599c205dccda3ee10b8ea3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.18-1.noarch.rpm">
dCache 9.2.18 (rpm)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
868f9773dec8033b55f5114ab34c9260
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.18.tar.gz">
dCache 9.2.18 (tgz)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
2249111003a83cdd7ba8322861800855
</td>
</tr>
<tr class="odd" id="9.2.17">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.17-1.noarch.rpm">
dCache 9.2.17 (rpm)
</a>
</td>
<td class="date">
15.4.2024
</td>
<td class="hash">
c9c91a523e727f9264c9031f4f8b7766
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml">
9.2.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.17.tar.gz">
dCache 9.2.17 (tgz)
</a>
</td>
<td class="date">
15.4.2024
</td>
<td class="hash">
f505cb1ab3057ac49081c30fd9d3af80
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.17-1_all.deb">
dCache 9.2.17 (Debian package)
</a>
</td>
<td class="date">
15.4.2024
</td>
<td class="hash">
d1da5dbc162f205fc3a3a2a4ff3fb43c
</td>
</tr>
<tr class="odd" id="9.2.16">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.16-1_all.deb">
dCache 9.2.16 (Debian package)
</a>
</td>
<td class="date">
3.4.2024
</td>
<td class="hash">
46ccf321a8ed41dfdeb9d546c0d81270
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#16">
9.2.16
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.16-1.noarch.rpm">
dCache 9.2.16 (rpm)
</a>
</td>
<td class="date">
3.4.2024
</td>
<td class="hash">
73e81e3dabad7692ff2ae03fba9de298
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.16.tar.gz">
dCache 9.2.16 (tgz)
</a>
</td>
<td class="date">
3.4.2024
</td>
<td class="hash">
2db6d2ec8f633e2ce0bfffae273d3290
</td>
</tr>
<tr class="even" id="9.2.15">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.15-1.noarch.rpm">
dCache 9.2.15 (rpm)
</a>
</td>
<td class="date">
13.3.2024
</td>
<td class="hash">
678727a8ecdc5ee32602b25b56c406a1
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#15">
9.2.15
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.15.tar.gz">
dCache 9.2.15 (tgz)
</a>
</td>
<td class="date">
13.3.2024
</td>
<td class="hash">
24eac11a79b94d30c6f9c15fb2cf00a3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.15-1_all.deb">
dCache 9.2.15 (Debian package)
</a>
</td>
<td class="date">
13.3.2024
</td>
<td class="hash">
f956f6c0ed9e579e83e1c0614ca03d37
</td>
</tr>
<tr class="odd" id="9.2.14">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.14-1.noarch.rpm">
dCache 9.2.14 (rpm)
</a>
</td>
<td class="date">
2.3.2024
</td>
<td class="hash">
0fd7a163652cbc0b984f55a4069aeb29
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#14">
9.2.14
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.14.tar.gz">
dCache 9.2.14 (tgz)
</a>
</td>
<td class="date">
2.3.2024
</td>
<td class="hash">
e2958cd16092a6f0d0273752bea58882
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.14-1_all.deb">
dCache 9.2.14 (Debian package)
</a>
</td>
<td class="date">
2.3.2024
</td>
<td class="hash">
6ed9cc31627387c916f8e4586a0839c1
</td>
</tr>
<tr class="even" id="9.2.13">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.13-1_all.deb">
dCache 9.2.13 (Debian package)
</a>
</td>
<td class="date">
23.2.2024
</td>
<td class="hash">
e5d79729308a76eeca42db09fc2fc096
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#13">
9.2.13
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.13-1.noarch.rpm">
dCache 9.2.13 (rpm)
</a>
</td>
<td class="date">
23.2.2024
</td>
<td class="hash">
8dce9547ae6f1f8a18ccdd3ede6aaa4b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.13.tar.gz">
dCache 9.2.13 (tgz)
</a>
</td>
<td class="date">
23.2.2024
</td>
<td class="hash">
ed8e4b72213a189a3b63fc468d291771
</td>
</tr>
<tr class="odd" id="9.2.12">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.12-1.noarch.rpm">
dCache 9.2.12 (rpm)
</a>
</td>
<td class="date">
15.2.2024
</td>
<td class="hash">
c43266eb9e7805b90648047c87313bec
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#12">
9.2.12
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.12.tar.gz">
dCache 9.2.12 (tgz)
</a>
</td>
<td class="date">
15.2.2024
</td>
<td class="hash">
25ad25bc9fc885329a4e72b78d281f4f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.12-1_all.deb">
dCache 9.2.12 (Debian package)
</a>
</td>
<td class="date">
15.2.2024
</td>
<td class="hash">
ddb62717830a826aa0ba07e9ff5e53fe
</td>
</tr>
<tr class="even" id="9.2.11">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.11-1.noarch.rpm">
dCache 9.2.11 (rpm)
</a>
</td>
<td class="date">
26.1.2024
</td>
<td class="hash">
bd614f8af1f233e8569494a3e1f65140
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#11">
9.2.11
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.11.tar.gz">
dCache 9.2.11 (tgz)
</a>
</td>
<td class="date">
26.1.2024
</td>
<td class="hash">
244e7139273e6874e2e6078c800e5216
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.11-1_all.deb">
dCache 9.2.11 (Debian package)
</a>
</td>
<td class="date">
26.1.2024
</td>
<td class="hash">
b19a316b8005825f7ad4ed10960cae74
</td>
</tr>
<tr class="odd" id="9.2.10">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.10-1.noarch.rpm">
dCache 9.2.10 (rpm)
</a>
</td>
<td class="date">
22.1.2024
</td>
<td class="hash">
095160d857faf9e302077bfbc4aa8c74
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#10">
9.2.10
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.10.tar.gz">
dCache 9.2.10 (tgz)
</a>
</td>
<td class="date">
22.1.2024
</td>
<td class="hash">
17d972a94fce4626f12fd96da125daf4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.10-1_all.deb">
dCache 9.2.10 (Debian package)
</a>
</td>
<td class="date">
22.1.2024
</td>
<td class="hash">
a1812063b540fbeca1abc0906ee36574
</td>
</tr>
<tr class="even" id="9.2.9">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.9-1.noarch.rpm">
dCache 9.2.9 (rpm)
</a>
</td>
<td class="date">
16.1.2024
</td>
<td class="hash">
62bbfb9f772e41245e699e74cca45de6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#9">
9.2.9
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.9.tar.gz">
dCache 9.2.9 (tgz)
</a>
</td>
<td class="date">
16.1.2024
</td>
<td class="hash">
53af7893a886703b329455be3aee0bcb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.9-1_all.deb">
dCache 9.2.9 (Debian package)
</a>
</td>
<td class="date">
16.1.2024
</td>
<td class="hash">
9e73b87c1f58c820563deab4a7e5d62b
</td>
</tr>
<tr class="odd" id="9.2.8">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.8-1_all.deb">
dCache 9.2.8 (Debian package)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
245e5c809baff509c2742fc24fab1148
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#8">
9.2.8
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.8-1.noarch.rpm">
dCache 9.2.8 (rpm)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
940bf3f4b305c1e2f3cfd743aa3e0018
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.8.tar.gz">
dCache 9.2.8 (tgz)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
16966d158edf3732eacf1ffa6647400f
</td>
</tr>
<tr class="even" id="9.2.7">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.7-1_all.deb">
dCache 9.2.7 (Debian package)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
fedf94bc73a4fbf452f50f8f5bb0c4b1
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#7">
9.2.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.7-1.noarch.rpm">
dCache 9.2.7 (rpm)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
c6f5826a035ae87ab78f3c9d59de6401
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.7.tar.gz">
dCache 9.2.7 (tgz)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
917bccb4b2182098a3419bd59172b0dd
</td>
</tr>
<tr class="odd" id="9.2.6">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.6-1.noarch.rpm">
dCache 9.2.6 (rpm)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
9447bfa4e1ac39cfc97c7614567e2ace
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#6">
9.2.6
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.6.tar.gz">
dCache 9.2.6 (tgz)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
559b69e796047c3328319a9071f783c5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.6-1_all.deb">
dCache 9.2.6 (Debian package)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
b553f3f24f2bab2b06bc5c2305f39153
</td>
</tr>
<tr class="even" id="9.2.5">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.5-1.noarch.rpm">
dCache 9.2.5 (rpm)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
c4809fa9b1cb6d02a388dcf80c063fc8
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#5">
9.2.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.5.tar.gz">
dCache 9.2.5 (tgz)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
95a7a9fd75aaa2be39269cf59aa02908
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.5-1_all.deb">
dCache 9.2.5 (Debian package)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
ce406b7312edbad166539e401b47ec1c
</td>
</tr>
<tr class="odd" id="9.2.4">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.4-1.noarch.rpm">
dCache 9.2.4 (rpm)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
bcfef3a8bcfe2bc9c2a0b483d66645fa
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#4">
9.2.4
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.4.tar.gz">
dCache 9.2.4 (tgz)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
d66872cf7b7ca95836558db1ea49639c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.4-1_all.deb">
dCache 9.2.4 (Debian package)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
b6d97e0fe4ea612a0a1259557c243168
</td>
</tr>
<tr class="even" id="9.2.3">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.3-1.noarch.rpm">
dCache 9.2.3 (rpm)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
294011815d84a649ae25da3c168d4df1
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#3">
9.2.3
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.3.tar.gz">
dCache 9.2.3 (tgz)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
7571fe73b849e6ab94909ff43455479c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.3-1_all.deb">
dCache 9.2.3 (Debian package)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
68e669e4dcac3ead10ce089477269542
</td>
</tr>
<tr class="odd" id="9.2.2">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.2-1_all.deb">
dCache 9.2.2 (Debian package)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
492d44105b7ab4788e04b44c7f91819a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#2">
9.2.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.2-1.noarch.rpm">
dCache 9.2.2 (rpm)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
92a49d389cfd49092f793c8944481498
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.2.tar.gz">
dCache 9.2.2 (tgz)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
cea2a5b64574314787d8ceadf0298313
</td>
</tr>
<tr class="even" id="9.2.1">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.1-1_all.deb">
dCache 9.2.1 (Debian package)
</a>
</td>
<td class="date">
13.10.2023
</td>
<td class="hash">
ce373025269f2be5a983e2ff846b352f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#1">
9.2.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.1-1.noarch.rpm">
dCache 9.2.1 (rpm)
</a>
</td>
<td class="date">
13.10.2023
</td>
<td class="hash">
86cd90a65ac6c4292234f4af3c80657a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.1.tar.gz">
dCache 9.2.1 (tgz)
</a>
</td>
<td class="date">
13.10.2023
</td>
<td class="hash">
b8f977dd7f3d3deaff1d5f8d6742a4c6
</td>
</tr>
<tr class="odd" id="9.2.0">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.0-1_all.deb">
dCache 9.2.0 (Debian package)
</a>
</td>
<td class="date">
9.10.2023
</td>
<td class="hash">
9b62963cda8e0dc4151598a59c4943e8
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.2.shtml#0">
9.2.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.0-1.noarch.rpm">
dCache 9.2.0 (rpm)
</a>
</td>
<td class="date">
9.10.2023
</td>
<td class="hash">
d2a274b862531edb006b7f097b841a81
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.0.tar.gz">
dCache 9.2.0 (tgz)
</a>
</td>
<td class="date">
9.10.2023
</td>
<td class="hash">
324b39efb80e63d1072cbe5490969690
</td>
</tr>
</tbody>
