<tr class="rec" id="12.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache_12.0.1-1_all.deb">
dCache 12.0.1 (Debian package)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
b882c14940fcc135ca29eea7308c9fa6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-12.0.shtml#release12.0.1">
12.0.1
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache-12.0.1-1.noarch.rpm">
dCache 12.0.1 (rpm)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
dd7d30d12dd946e7467324adf38c9d87
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache-12.0.1.tar.gz">
dCache 12.0.1 (tgz)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
028c3259e4eb290f968db7294e1aa247
</td>
</tr>
<tr class="even" id="12.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache_12.0.1-1_all.deb">
dCache 12.0.1 (Debian package)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
b882c14940fcc135ca29eea7308c9fa6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-12.0.shtml#release12.0.1">
12.0.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache-12.0.1-1.noarch.rpm">
dCache 12.0.1 (rpm)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
dd7d30d12dd946e7467324adf38c9d87
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache-12.0.1.tar.gz">
dCache 12.0.1 (tgz)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
028c3259e4eb290f968db7294e1aa247
</td>
</tr>
<tr class="even" id="12.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache_12.0.1-1_all.deb">
dCache 12.0.1 (Debian package)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
b882c14940fcc135ca29eea7308c9fa6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-12.0.shtml#release12.0.1">
12.0.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache-12.0.1-1.noarch.rpm">
dCache 12.0.1 (rpm)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
dd7d30d12dd946e7467324adf38c9d87
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/12.0/dcache-12.0.1.tar.gz">
dCache 12.0.1 (tgz)
</a>
</td>
<td class="date">
25.06.2026
</td>
<td class="hash">
028c3259e4eb290f968db7294e1aa247
</td>
</tr>
