<tr class="rec" id="10.0.30">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.30-1_all.deb">
dCache 10.0.30 (Debian package)
</a>
</td>
<td class="date">
08.01.2026
</td>
<td class="hash">
fb9c5b7b92a09a3f36bb18ffc9adb157
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.30">
10.0.30
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.30-1.noarch.rpm">
dCache 10.0.30 (rpm)
</a>
</td>
<td class="date">
08.01.2026
</td>
<td class="hash">
9d74a9ececc7b26aad9d9fc287397ec2
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.30.tar.gz">
dCache 10.0.30 (tgz)
</a>
</td>
<td class="date">
08.01.2026
</td>
<td class="hash">
c71a1bfb298b7c909500f99ae8b0395e
</td>
</tr>
<tr class="odd" id="10.0.27">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.27-1_all.deb">
dCache 10.0.27 (Debian package)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
d2aed4cb3c8606ddabddcdbf2a7f8b08
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.27">
10.0.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.27-1.noarch.rpm">
dCache 10.0.27 (rpm)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
942bb1aeee30d6a7aff404b002614b8f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.27.tar.gz">
dCache 10.0.27 (tgz)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
d5082aac5fb843049e56454d497d5ef5
</td>
</tr>
<tr class="even" id="10.0.26">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.26-1_all.deb">
dCache 10.0.26 (Debian package)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
7dbb7ee3833272b6ca147715a90bbb34
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.26">
10.0.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.26-1.noarch.rpm">
dCache 10.0.26 (rpm)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
f6d3307fe97792244d05011c6a018d66
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.26.tar.gz">
dCache 10.0.26 (tgz)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
af225dbc5cbdc1c702b6506721428fd1
</td>
</tr>
<tr class="odd" id="10.0.25">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.25-1_all.deb">
dCache 10.0.25 (Debian package)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
f371dfd402d1f826d1a207510836d242
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.25">
10.0.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.25-1.noarch.rpm">
dCache 10.0.25 (rpm)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
4ad1ab4e77a78b5e12a0be38406ea82c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.25.tar.gz">
dCache 10.0.25 (tgz)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
2b13824f15501fb16a6c5d1cad4d70cb
</td>
</tr>
<tr class="even" id="10.0.24">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.24-1_all.deb">
dCache 10.0.24 (Debian package)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
4ced27382c3ae43341c20a2836b5ebb6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.24">
10.0.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.24-1.noarch.rpm">
dCache 10.0.24 (rpm)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
e96d72e829b93f66513a0999d194a0d5
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.24.tar.gz">
dCache 10.0.24 (tgz)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
400b08625c3b0ff77603757eafdafe62
</td>
</tr>
<tr class="odd" id="10.0.23">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.23-1_all.deb">
dCache 10.0.23 (Debian package)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
8856d9e75435484e22a0a47c3053f8fb
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.23">
10.0.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.23-1.noarch.rpm">
dCache 10.0.23 (rpm)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
2c7ed87ae02280bb301f1b4bf9c57f5f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.23.tar.gz">
dCache 10.0.23 (tgz)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
4e7b31516f6274623074591ab3eee932
</td>
</tr>
<tr class="even" id="10.0.22">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.22-1_all.deb">
dCache 10.0.22 (Debian package)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
c30697db8492c15d84c64f48e5c2b693
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.22">
10.0.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.22-1.noarch.rpm">
dCache 10.0.22 (rpm)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
88b3fe76ba474d90dd8b59fb55af2aac
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.22.tar.gz">
dCache 10.0.22 (tgz)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
05ce0722881df1ae862f6a1998e991e4
</td>
</tr>
<tr class="odd" id="10.0.21">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.21-1_all.deb">
dCache 10.0.21 (Debian package)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
e0a313333605b785a23ed8c4c2aebdbc
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.21">
10.0.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.21-1.noarch.rpm">
dCache 10.0.21 (rpm)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
9b6783c6cb07b8cb80b661a6bb30831a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.21.tar.gz">
dCache 10.0.21 (tgz)
</a>
</td>
<td class="date">
23.04.2025
</td>
<td class="hash">
cbd82773d57841c294da81493a58f1db
</td>
</tr>
<tr class="even" id="10.0.20">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.20-1_all.deb">
dCache 10.0.20 (Debian package)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
1e4ef22a3c859f2f57e34d79bbf6262e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.20">
10.0.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.20-1.noarch.rpm">
dCache 10.0.20 (rpm)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
e0b03cd86d2d00609b887d8ff2214fed
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.20.tar.gz">
dCache 10.0.20 (tgz)
</a>
</td>
<td class="date">
31.03.2025
</td>
<td class="hash">
ab159c7d5dce306f49c1a3c41521f3ec
</td>
</tr>
<tr class="odd" id="10.0.19">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.19-1_all.deb">
dCache 10.0.19 (Debian package)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
a9d6a4e66c09dbf62cff6d945f220840
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.19">
10.0.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.19-1.noarch.rpm">
dCache 10.0.19 (rpm)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
5363d1d3e2e65c4baa97c3d3fada61ac
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.19.tar.gz">
dCache 10.0.19 (tgz)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
2dcda161676133ac4d98319aabee3248
</td>
</tr>
<tr class="even" id="10.0.18">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.18-1_all.deb">
dCache 10.0.18 (Debian package)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
9f2edc1f7bd894c9f571492e385ef34a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.18">
10.0.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.18-1.noarch.rpm">
dCache 10.0.18 (rpm)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
81710b4f239faca3230bca860ddd149f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.18.tar.gz">
dCache 10.0.18 (tgz)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
0eb9721441d91727d897995306b51986
</td>
</tr>
<tr class="odd" id="10.0.17">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.17-1_all.deb">
dCache 10.0.17 (Debian package)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
10078bfddc54705906873ea4fba6370a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.17">
10.0.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.17-1.noarch.rpm">
dCache 10.0.17 (rpm)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
45dbd44a1380203207de946dd3603c7f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.17.tar.gz">
dCache 10.0.17 (tgz)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
dc467496c4a0fb50b87d3e3a01014c46
</td>
</tr>
<tr class="even" id="10.0.16">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.16-1_all.deb">
dCache 10.0.16 (Debian package)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
ca37cfe868ea5fbdea0dc390bdadf5ec
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.16">
10.0.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.16-1.noarch.rpm">
dCache 10.0.16 (rpm)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
e84c0ae7ab01fd1dbae70fbc9bbcce03
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.16.tar.gz">
dCache 10.0.16 (tgz)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
9f16418e67dec7611e4006e8ac84eac7
</td>
</tr>
<tr class="odd" id="10.0.15">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.15-1_all.deb">
dCache 10.0.15 (Debian package)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
51559f6f5348b230995222fca8ac3e7f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.15">
10.0.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.15-1.noarch.rpm">
dCache 10.0.15 (rpm)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
08ff984369d4def87a544a6a6e664988
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.15.tar.gz">
dCache 10.0.15 (tgz)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
fc25d92e28f9aad32eed900688a6d496
</td>
</tr>
<tr class="even" id="10.0.14">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.14-1_all.deb">
dCache 10.0.14 (Debian package)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
082578808623485aec7a3bb40f33357d
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.14">
10.0.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.14-1.noarch.rpm">
dCache 10.0.14 (rpm)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
389d425868a269d00566fd2a03875359
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.14.tar.gz">
dCache 10.0.14 (tgz)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
381017ee473119e275b65b7fca79ce46
</td>
</tr>
<tr class="odd" id="10.0.13">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.13-1_all.deb">
dCache 10.0.13 (Debian package)
</a>
</td>
<td class="date">
13.11.2024
</td>
<td class="hash">
8aaa6dd0eb01c6789b4830c755612aa8
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.13">
10.0.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.13-1.noarch.rpm">
dCache 10.0.13 (rpm)
</a>
</td>
<td class="date">
13.11.2024
</td>
<td class="hash">
00684ef0a5b17c69e4acb00f2de44f64
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.13.tar.gz">
dCache 10.0.13 (tgz)
</a>
</td>
<td class="date">
13.11.2024
</td>
<td class="hash">
2b94c8f42c633aaa41eacab4efb62cab
</td>
</tr>
<tr class="even" id="10.0.12">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.12-1_all.deb">
dCache 10.0.12 (Debian package)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
0e531f8e78a506eb508d82b887a1b1b3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.12">
10.0.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.12-1.noarch.rpm">
dCache 10.0.12 (rpm)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
ecbf0f320de72b3b6f73fe3eec8f2674
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.12.tar.gz">
dCache 10.0.12 (tgz)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
e776c8db8ae3145699e059662fd666d6
</td>
</tr>
<tr class="odd" id="10.0.11">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.11-1_all.deb">
dCache 10.0.11 (Debian package)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
18440b525ce27ec496fff61080d6c614
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.11">
10.0.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.11-1.noarch.rpm">
dCache 10.0.11 (rpm)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
0ad4acddcdcce77fe740e6ab46b12111
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.11.tar.gz">
dCache 10.0.11 (tgz)
</a>
</td>
<td class="date">
08.10.2024
</td>
<td class="hash">
1c86783ba35b3aa20dbc60924d536ce0
</td>
</tr>
<tr class="even" id="10.0.10">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.10-1_all.deb">
dCache 10.0.10 (Debian package)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
bc47b5bf1323a05e998d24d52d94d63a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.10">
10.0.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.10-1.noarch.rpm">
dCache 10.0.10 (rpm)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
7766edcf4026bdb12f67ca5eb3790d7b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.10.tar.gz">
dCache 10.0.10 (tgz)
</a>
</td>
<td class="date">
01.10.2024
</td>
<td class="hash">
0dab0326f0f527e11d4090cc9b71e929
</td>
</tr>
<tr class="odd" id="10.0.9">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.9-1_all.deb">
dCache 10.0.9 (Debian package)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
40e345a20e87cf340a0b2bfc65b0088e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml#release10.0.9">
10.0.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.9-1.noarch.rpm">
dCache 10.0.9 (rpm)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
29083313ae4d87b07323a6e2f33ac239
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.9.tar.gz">
dCache 10.0.9 (tgz)
</a>
</td>
<td class="date">
11.09.2024
</td>
<td class="hash">
12aadc963d82ce2e3cac72a47d5a4202
</td>
</tr>
<tr id="10.0.8">
<td class="link">
<del>dCache 10.0.8 (Debian package)</del>
</td>

<td class="date">
06.09.2024
</td>
<td class="hash">
14772d0cd1d6ba950102be9063e7c603
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.1.2
</a>
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 10.0.8 (rpm)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
aa60de9e40fcea97324c0d76cca3dfd1
</td>
</tr>
<tr>
<td class="link">
<del>
dCache 10.0.8 (tgz)
</del>
</td>
<td class="date">
06.09.2024
</td>
<td class="hash">
d9332282f0bcc8fa9cb744195d2ed60e
</td>
</tr>


<tr class="even" id="10.0.7">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.7-1_all.deb">
dCache 10.0.7 (Debian package)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
7324ebd7ba2e838bf6f58417b16b33f5
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.7-1.noarch.rpm">
dCache 10.0.7 (rpm)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
a3937c9f490fe9d9cd7a463cb9e6f6f2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.7.tar.gz">
dCache 10.0.7 (tgz)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
9f369c3b15197cee0cc7541fb8a963a9
</td>
</tr>
<tbody>
<tr class="even" id="10.0.6">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.6-1_all.deb">
dCache 10.0.6 (Debian package)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
6195f192ae2d17a238ba6da7b7bd08b6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.6-1.noarch.rpm">
dCache 10.0.6 (rpm)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
2ba97a9d8b7d58b21ad5bb46437f7f10
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.6.tar.gz">
dCache 10.0.6 (tgz)
</a>
</td>
<td class="date">
04.07.2024
</td>
<td class="hash">
fa4768a9556744338b8fa45ecff443f4
</td>
</tr>
<tr class="even" id="10.0.5">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.5-1_all.deb">
dCache 10.0.5 (Debian package)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
3875d375a072da40597d883d9b460cce
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.5-1.noarch.rpm">
dCache 10.0.5 (rpm)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
812bb279b4387916f74d09bf0009f94b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.5.tar.gz">
dCache 10.0.5 (tgz)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
fb8e82f47ea4848a23bb86c3adfaeca1
</td>
</tr>
<tr class="even" id="10.0.4">
  <td class="link">
    <a href="/old/downloads/1.9/repo/10.0/dcache_10.0.4-1_all.deb">
      dCache 10.0.4 (Debian package)
    </a>
  </td>
  <td class="date">
    05.06.2024
  </td>
  <td class="hash">
    599fe0e7613f5b9379a1a4008b416ae2
  </td>
  <td class="notes" rowspan="3">
    <a href="/old/downloads/1.9/release-notes-10.0.shtml">
      10.0.4
    </a>
  </td>
</tr>
<tr class="even">
  <td class="link">
    <a href="/old/downloads/1.9/repo/10.0/dcache-10.0.4-1.noarch.rpm">
      dCache 10.0.4 (rpm)
    </a>
  </td>
  <td class="date">
    05.06.2024
  </td>
  <td class="hash">
    764de07fe80d8389403922feba81ee42
  </td>
</tr>
<tr class="even">
  <td class="link">
    <a href="/old/downloads/1.9/repo/10.0/dcache-10.0.4.tar.gz">
      dCache 10.0.4 (tgz)
    </a>
  </td>
  <td class="date">
    05.06.2024
  </td>
  <td class="hash">
    09718e85ef78a03bcbba518851ac0459
  </td>
</tr>
<tr class="odd" id="10.0.3">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.3-1_all.deb">
dCache 10.0.3 (Debian package)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
f99c96442d6f695386b4c3a0cbe59adb
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.3-1.noarch.rpm">
dCache 10.0.3 (rpm)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
ccf10654b03af7370993337f9995870f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.3.tar.gz">
dCache 10.0.3 (tgz)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
8e0392b4ac3ee07b42ab23f179769bf7
</td>
</tr>
<tr class="even" id="10.0.2">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.2-1_all.deb">
dCache 10.0.2 (Debian package)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.2-1.noarch.rpm">
dCache 10.0.2 (rpm)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.2.tar.gz">
dCache 10.0.2 (tgz)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="odd" id="10.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.1-1_all.deb">
dCache 10.0.1 (Debian package)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
a91e2bc08f7a65c7da79f5134dbf1c1b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.1-1.noarch.rpm">
dCache 10.0.1 (rpm)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
864bf28e71b2de1591b8be0b7ade8181
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.1.tar.gz">
dCache 10.0.1 (tgz)
</a>
</td>
<td class="date">
26.04.2024
</td>
<td class="hash">
e7445dab0627ec1c6b44fd028fb22fee
</td>
</tr>
<tr class="even" id="10.0.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.0-1.noarch.rpm">
dCache 10.0.0 (rpm)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
9020f50ca2e1d300c550eff0650b2cfc
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.0.shtml">
10.0.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache-10.0.0.tar.gz">
dCache 10.0.0 (tgz)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
b03f3e42c4e219dba012915084d50d77
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.0/dcache_10.0.0-1_all.deb">
dCache 10.0.0 (Debian package)
</a>
</td>
<td class="date">
18.4.2024
</td>
<td class="hash">
cd495a3b55051171d7ad2854d0ee4a1e
</td>
</tr>
</tbody>
