<tr class="rec" id="7.1.32">
<td class="link">
<a href="repo/7.1/dcache-7.1.32-1.noarch.rpm">
dCache 7.1.32 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
a5a2ca5dca60de8a6e26eed68ad7dccc
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml">
7.1.32
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/7.1/dcache-7.1.32.tar.gz">
dCache 7.1.32 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
19c20b21d86c3f25f3ef49a22c11b7ac
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/7.1/dcache_7.1.32-1_all.deb">
dCache 7.1.32 (Debian package)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
2a23ce216793b7183618a7e24a6bc0dc
</td>
</tr>
<tr class="odd" id="7.1.31">
<td class="link">
<a href="repo/7.1/dcache-7.1.31-1.noarch.rpm">
dCache 7.1.31 (rpm)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
a7895d43491fb07f1fe9ae1e4331e335
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#31">
7.1.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.31.tar.gz">
dCache 7.1.31 (tgz)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
c71821a3f44ffbd5c2f18d9840a539e2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.31-1_all.deb">
dCache 7.1.31 (Debian package)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
08822c1b5d911f788d062b732f218da2
</td>
</tr>
<tr class="even" id="7.1.30">
<td class="link">
<a href="repo/7.1/dcache-7.1.30-1.noarch.rpm">
dCache 7.1.30 (rpm)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
76346c056043fea782327f3e046dd636
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#30">
7.1.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.30.tar.gz">
dCache 7.1.30 (tgz)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
fca1db3f46ce3932dcbebf83ad8cb749
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.30-1_all.deb">
dCache 7.1.30 (Debian package)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
59f49567706c3dd19f71ba5d8573c87e
</td>
</tr>
<tr class="odd" id="7.1.29">
<td class="link">
<a href="repo/7.1/dcache-7.1.29-1.noarch.rpm">
dCache 7.1.29 (rpm)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
455597dd427712ab6d3976496e6bd19c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#29">
7.1.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.29.tar.gz">
dCache 7.1.29 (tgz)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
267bc6a74af86b27302bd8d8870bce60
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.29-1_all.deb">
dCache 7.1.29 (Debian package)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
52b5ad1102ac090bb7021bcfd066ff2b
</td>
</tr>
<tr class="even" id="7.1.28">
<td class="link">
<a href="repo/7.1/dcache-7.1.28-1.noarch.rpm">
dCache 7.1.28 (rpm)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
b4c0a015c0679f12dfba95deba1f49de
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#28">
7.1.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.28.tar.gz">
dCache 7.1.28 (tgz)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
a1d63bbe1d5ad9ec76c068b0da319773
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.28-1_all.deb">
dCache 7.1.28 (Debian package)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
502230be057b0037dc01f0b691f9e9ba
</td>
</tr>
<tr class="odd" id="7.1.27">
<td class="link">
<a href="repo/7.1/dcache-7.1.27-1.noarch.rpm">
dCache 7.1.27 (rpm)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
64622bccc41822a4e3e4c8292f941690
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#27">
7.1.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.27.tar.gz">
dCache 7.1.27 (tgz)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
e2ca872d0ecbd9a9777a0d9f37f33e04
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.27-1_all.deb">
dCache 7.1.27 (Debian package)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
bec9c84532f54ddd0ca709a748451e53
</td>
</tr>
<tr class="even" id="7.1.26">
<td class="link">
<a href="repo/7.1/dcache-7.1.26-1.noarch.rpm">
dCache 7.1.26 (rpm)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
366358c135d8659707fa00aba96a73b8
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#26">
7.1.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.26.tar.gz">
dCache 7.1.26 (tgz)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
9552c11efec6ba112279c3c2b7c8bffa
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.26-1_all.deb">
dCache 7.1.26 (Debian package)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
bc05b8c4875befc6fa43bcb64dc174a8
</td>
</tr>
<tr class="odd" id="7.1.25">
<td class="link">
<a href="repo/7.1/dcache-7.1.25-1.noarch.rpm">
dCache 7.1.25 (rpm)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
f878da154d6caacc577384675503f602
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#25">
7.1.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.25.tar.gz">
dCache 7.1.25 (tgz)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
c54ed6c5631c0fcb013850bb29737be0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.25-1_all.deb">
dCache 7.1.25 (Debian package)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
141336d7fe27f0bbbd6ef9e0e172e9f0
</td>
</tr>
<tr class="even" id="7.1.24">
<td class="link">
<a href="repo/7.1/dcache-7.1.24-1.noarch.rpm">
dCache 7.1.24 (rpm)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
847395dce4860b1468fc65f067abbdc5
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#24">
7.1.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.24.tar.gz">
dCache 7.1.24 (tgz)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
15593cab9c003c4dfef08be0a76ab688
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.24-1_all.deb">
dCache 7.1.24 (Debian package)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
296e0beb897189dad5cf87ab68ba228f
</td>
</tr>
<tr class="odd" id="7.1.23">
<td class="link">
<a href="repo/7.1/dcache-7.1.23-1.noarch.rpm">
dCache 7.1.23 (rpm)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
9f53b7ab771827fe23effcc35d865fb1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#23">
7.1.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.23.tar.gz">
dCache 7.1.23 (tgz)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
14b4f78f132d7a98cd6e06a67d63bf66
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.23-1_all.deb">
dCache 7.1.23 (Debian package)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
421ca462d67e909022b69f0e502f4e71
</td>
</tr>
<tr class="even" id="7.1.22">
<td class="link">
<a href="repo/7.1/dcache-7.1.22-1.noarch.rpm">
dCache 7.1.22 (rpm)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
989444e4eeb0a9a0745b5c2c617f4e3b
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#22">
7.1.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.22.tar.gz">
dCache 7.1.22 (tgz)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
4d408ffacb02949cb79a0ab71dcfa3e8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.22-1_all.deb">
dCache 7.1.22 (Debian package)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
d1e8a6d9a08b9cfba6d5a63f6bb99dd0
</td>
</tr>
<tr class="odd" id="7.1.21">
<td class="link">
<a href="repo/7.1/dcache-7.1.21-1.noarch.rpm">
dCache 7.1.21 (rpm)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
9cfac8491f5df78da8faf79563495fe2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#21">
7.1.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.21.tar.gz">
dCache 7.1.21 (tgz)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
94e012a9538cebd3898ca7c9f0017b7a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.21-1_all.deb">
dCache 7.1.21 (Debian package)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
fb75e98c0faf146aa66f712022dc850d
</td>
</tr>
<tr class="even" id="7.1.20">
<td class="link">
<a href="repo/7.1/dcache-7.1.20-1.noarch.rpm">
dCache 7.1.20 (rpm)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
2415ce447b4a89b66a1d222a54ab92ee
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#20">
7.1.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.20.tar.gz">
dCache 7.1.20 (tgz)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
04037298523f2262e8a4281f22d500bb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.20-1_all.deb">
dCache 7.1.20 (Debian package)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
89685bdf42f564a93f3aa7269337bde7
</td>
</tr>
<tr class="odd" id="7.1.19">
<td class="link">
<a href="repo/7.1/dcache-7.1.19-1.noarch.rpm">
dCache 7.1.19 (rpm)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
10b88efe802ae87a284a8f78c26483c9
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#19">
7.1.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.19.tar.gz">
dCache 7.1.19 (tgz)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
bfb3b426f4d93830ffd5947c0b89ce0d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.19-1_all.deb">
dCache 7.1.19 (Debian package)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
cdc4bb3d11382e3154e718531278cef9
</td>
</tr>
<tr class="even" id="7.1.18">
<td class="link">
<a href="repo/7.1/dcache-7.1.18-1.noarch.rpm">
dCache 7.1.18 (rpm)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
f59bd4f2f207d4d8797f435ca83d7d27
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#18">
7.1.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.18.tar.gz">
dCache 7.1.18 (tgz)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
28a8d6a498fc4671df25040a2b140afa
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.18-1_all.deb">
dCache 7.1.18 (Debian package)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
a7537e72affd304b61968e041173d92a
</td>
</tr>
<tr class="odd" id="7.1.17">
<td class="link">
<a href="repo/7.1/dcache-7.1.17-1.noarch.rpm">
dCache 7.1.17 (rpm)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
555ce48d40036e12a3b340d46f24598a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#17">
7.1.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.17.tar.gz">
dCache 7.1.17 (tgz)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
f6b2bc128f8dec4d89bea96b762ee8d4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.17-1_all.deb">
dCache 7.1.17 (Debian package)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
d98b5ce2f570d005a6a11a8495c4858b
</td>
</tr>
<tr class="even" id="7.1.16">
<td class="link">
<a href="repo/7.1/dcache-7.1.16-1.noarch.rpm">
dCache 7.1.16 (rpm)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
7a8c01bac42733b91924050f8637efae
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#16">
7.1.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.16.tar.gz">
dCache 7.1.16 (tgz)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
68113883c1d0bab27cf11956439889ac
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.16-1_all.deb">
dCache 7.1.16 (Debian package)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
ce64070eed6e25bfdcedc1487c86c10c
</td>
</tr>
<tr class="odd" id="7.1.15">
<td class="link">
<a href="repo/7.1/dcache-7.1.15-1.noarch.rpm">
dCache 7.1.15 (rpm)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
05c5c3d01c5b31f9a1d1c9f86243a932
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#15">
7.1.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.15.tar.gz">
dCache 7.1.15 (tgz)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
ba6e6727d0a3e8b321a1443ddeb84dee
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.15-1_all.deb">
dCache 7.1.15 (Debian package)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
c567cea8e1876f653d934fd0baf60437
</td>
</tr>
<tr class="even" id="7.1.14">
<td class="link">
<a href="repo/7.1/dcache-7.1.14-1.noarch.rpm">
dCache 7.1.14 (rpm)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
99f6873c015f8afba25035890a722415
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#14">
7.1.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.14.tar.gz">
dCache 7.1.14 (tgz)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
df3c5e0c51f8cbfc1117c69720500d66
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.14-1_all.deb">
dCache 7.1.14 (Debian package)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
469d448d72110a098c33c1cf479b516b
</td>
</tr>
<tr class="odd" id="7.1.13">
<td class="link">
<a href="repo/7.1/dcache-7.1.13-1.noarch.rpm">
dCache 7.1.13 (rpm)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
9a560535f7e7cc0676b633aa59c07647
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#13">
7.1.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.13.tar.gz">
dCache 7.1.13 (tgz)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
8dcbbc847a8dbc42d57bb996d5d67aae
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.13-1_all.deb">
dCache 7.1.13 (Debian package)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
ffac25b25660a59d73ca41db73f5df4c
</td>
</tr>
<tr class="even" id="7.1.12">
<td class="link">
<a href="repo/7.1/dcache-7.1.12-1.noarch.rpm">
dCache 7.1.12 (rpm)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
a094d707d3ff4e9e8c7492dc8cd3c4da
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#12">
7.1.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.12.tar.gz">
dCache 7.1.12 (tgz)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
05e191561b40949dc48461c921fc20b2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.12-1_all.deb">
dCache 7.1.12 (Debian package)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
94c65f13ef7faa3a7012b982d3c9ee09
</td>
</tr>
<tr class="odd" id="7.1.11">
<td class="link">
<a href="repo/7.1/dcache-7.1.11-1.noarch.rpm">
dCache 7.1.11 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
0e4ae0db8b01d8cdc2071437eed2d5bb
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#11">
7.1.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.11.tar.gz">
dCache 7.1.11 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
81c90d85503c72ad371042889b955d5c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.11-1_all.deb">
dCache 7.1.11 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
1243bbc89cc6adb347a7995b49e1f9aa
</td>
</tr>
<tr class="even" id="7.1.10">
<td class="link">
<a href="repo/7.1/dcache-7.1.10-1.noarch.rpm">
dCache 7.1.10 (rpm)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
6a55458be51a1b9b6dedb6bb64f5736a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#10">
7.1.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.10.tar.gz">
dCache 7.1.10 (tgz)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
18ec2f75714374aa15840638ed98b384
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.10-1_all.deb">
dCache 7.1.10 (Debian package)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
b3ea7a3edcb6548481c5f46e58fd0c6f
</td>
</tr>
<tr class="odd" id="7.1.9">
<td class="link">
<a href="repo/7.1/dcache-7.1.9-1.noarch.rpm">
dCache 7.1.9 (rpm)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
361d9d94f11dbd0b608e1ccae7f08f96
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#9">
7.1.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.9.tar.gz">
dCache 7.1.9 (tgz)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
50a20f00b696d31002655c450e498624
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.9-1_all.deb">
dCache 7.1.9 (Debian package)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
bba242bb7c257f8a18e4916899cbb40d
</td>
</tr>
<tr class="even" id="7.1.8">
<td class="link">
<a href="repo/7.1/dcache-7.1.8-1.noarch.rpm">
dCache 7.1.8 (rpm)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
bae76d4d71d5e0e6de77eedeeaef49f8
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#8">
7.1.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.8.tar.gz">
dCache 7.1.8 (tgz)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
e01cda1b16e9b1e4a50939a4a33229f2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.8-1_all.deb">
dCache 7.1.8 (Debian package)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
a8dc91aff15ace79e4c20ecfa2da5c26
</td>
</tr>
<tr class="odd" id="7.1.7">
<td class="link">
<a href="repo/7.1/dcache-7.1.7-1.noarch.rpm">
dCache 7.1.7 (rpm)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
ff516a15affa092ec4244ba64411abaf
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#7">
7.1.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.7.tar.gz">
dCache 7.1.7 (tgz)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
d917ee75d9bf5a5bafcc7bc967022d5c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.7-1_all.deb">
dCache 7.1.7 (Debian package)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
88f9a4820c8a222a43a54593308f8553
</td>
</tr>
<tr class="even" id="7.1.6">
<td class="link">
<a href="repo/7.1/dcache-7.1.6-1.noarch.rpm">
dCache 7.1.6 (rpm)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
b62ddb8b78fe7ea567fd965f046cca1e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#6">
7.1.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.6.tar.gz">
dCache 7.1.6 (tgz)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
8930eb9439591d78fd9938cbbba134d6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.6-1_all.deb">
dCache 7.1.6 (Debian package)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
55a90e8df8fb0ddcebe1273925ef647a
</td>
</tr>
<tr class="odd" id="7.1.5">
<td class="link">
<a href="repo/7.1/dcache-7.1.5-1.noarch.rpm">
dCache 7.1.5 (rpm)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
8ba880db66346633af180cd8acd03cd1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#5">
7.1.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.5.tar.gz">
dCache 7.1.5 (tgz)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
5253041a3af915c75b67fa52135f4ebb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.5-1_all.deb">
dCache 7.1.5 (Debian package)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
53008cc819ade949e8ddf1f6fcd749d5
</td>
</tr>
<tr class="even" id="7.1.4">
<td class="link">
<a href="repo/7.1/dcache-7.1.4-1.noarch.rpm">
dCache 7.1.4 (rpm)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
5a219820699a8ba706c51a98f575a6b1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#4">
7.1.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.4.tar.gz">
dCache 7.1.4 (tgz)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
b67a5b9b2b81d15fffc1465a56e2adbf
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.4-1_all.deb">
dCache 7.1.4 (Debian package)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
1622f0d74a74c5c8fcce3b97b7dfbef8
</td>
</tr>
<tr class="odd" id="7.1.3">
<td class="link">
<a href="repo/7.1/dcache-7.1.3-1.noarch.rpm">
dCache 7.1.3 (rpm)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
2ea726b8510f1ed00b50bb20b35c8b90
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#3">
7.1.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.3.tar.gz">
dCache 7.1.3 (tgz)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
cfa86e9f5826d542de7e0298661bb2a1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.3-1_all.deb">
dCache 7.1.3 (Debian package)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
4a32ad38704ec88f9d3a1ec3c0b3018e
</td>
</tr>
<tr class="even" id="7.1.2">
<td class="link">
<a href="repo/7.1/dcache-7.1.2-1.noarch.rpm">
dCache 7.1.2 (rpm)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
a9a1f694e97a1628db67e227ecf40d7f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#2">
7.1.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.2.tar.gz">
dCache 7.1.2 (tgz)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
ead43aca3aa683b65d24956a3eba12d8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.2-1_all.deb">
dCache 7.1.2 (Debian package)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
3aa4700995acdf3c2b62dd213f0bc014
</td>
</tr>
<tr class="odd" id="7.1.1">
<td class="link">
<a href="repo/7.1/dcache-7.1.1-1.noarch.rpm">
dCache 7.1.1 (rpm)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
dc7c1591b25a2815e7c33124073d1c9d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#1">
7.1.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache-7.1.1.tar.gz">
dCache 7.1.1 (tgz)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
6fbef8cb76d005516149a39fd24cc120
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.1/dcache_7.1.1-1_all.deb">
dCache 7.1.1 (Debian package)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
081ae669617e17cd28562e2932c1be1c
</td>
</tr>
<tr class="even" id="7.1.0">
<td class="link">
<a href="repo/7.1/dcache-7.1.0-1.noarch.rpm">
dCache 7.1.0 (rpm)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
28728b5189478b459bc59137cd8cff92
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.1.shtml#0">
7.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache-7.1.0.tar.gz">
dCache 7.1.0 (tgz)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
e01b1ef11c77cb774206cbd431efa350
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.1/dcache_7.1.0-1_all.deb">
dCache 7.1.0 (Debian package)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
3f29c5ed23e86c263e38309c54957439
</td>
</tr>
</tbody>
