<tr class="rec" id="10.2.3">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.3-1_all.deb">
dCache 10.2.3 (Debian package)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
4766fb43a72e6b494ac654baae4c02db
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.3">
10.2.3
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.3-1.noarch.rpm">
dCache 10.2.3 (rpm)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
3e2fe0740ad12dca40be5fbda9141610
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.3.tar.gz">
dCache 10.2.3 (tgz)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
a91935ae4b6e9449c41e4eeb14d75d0b
</td>
</tr>
<tr class="even" id="10.2.2">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.2-1_all.deb">
dCache 10.2.2 (Debian package)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
3f11b68a5178818fc21b09e4d340a458
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.2">
10.2.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.2-1.noarch.rpm">
dCache 10.2.2 (rpm)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
fff4da7021a92e773185598a34e45075
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.2.tar.gz">
dCache 10.2.2 (tgz)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
25017765291387b0cc45fa763c78de85
</td>
</tr>
<tr class="odd" id="10.2.1">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.1-1_all.deb">
dCache 10.2.1 (Debian package)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
d397570d3063486d63ab6e563f97e05a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.1">
10.2.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.1-1.noarch.rpm">
dCache 10.2.1 (rpm)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
015918f345817de633304ca15e3ff702
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.1.tar.gz">
dCache 10.2.1 (tgz)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
bf3a9498c8c86bb88cfd30ef08fcbded
</td>
</tr>
<tr class="even" id="10.2.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.0-1_all.deb">
dCache 10.2.0 (Debian package)
</a>
</td>
<td class="date">
20.10.2024
</td>
<td class="hash">
d30cadb154f3afc3da173f2324dea478
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.0">
10.2.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.0-1.noarch.rpm">
dCache 10.2.0 (rpm)
</a>
</td>
<td class="date">
20.10.2024
</td>
<td class="hash">
2d68faf8a22d8f96172be715ca94bd35
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.0.tar.gz">
dCache 10.2.0 (tgz)
</a>
</td>
<td class="date">
20.10.2024
</td>
<td class="hash">
6f93f5212170c55502443576d748467f
</td>
</tr>
