<tr class="rec" id="7.0.40">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.40-1.noarch.rpm">
dCache 7.0.40 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
922a6144de028c36ff92836f67769392
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#40">
7.0.40
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.40.tar.gz">
dCache 7.0.40 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
4edf6da36774d14c13448fb9fb722398
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.40-1_all.deb">
dCache 7.0.40 (Debian package)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
71e3d24096d8d074234ad3d862a16572
</td>
</tr>
<tr class="odd" id="7.0.39">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.39-1.noarch.rpm">
dCache 7.0.39 (rpm)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
31c23d4a4cec90d1cc3e95769f5503ad
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#39">
7.0.39
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.39.tar.gz">
dCache 7.0.39 (tgz)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
380c3e8f022870e59f5c968a8a8892f2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.39-1_all.deb">
dCache 7.0.39 (Debian package)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
0f4a9963d29041c6927b1773bd55ad6b
</td>
</tr>
<tr class="even" id="7.0.38">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.38-1.noarch.rpm">
dCache 7.0.38 (rpm)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
5867e78c287f5a3fb56dc6c8fbc1e49d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#38">
7.0.38
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.38.tar.gz">
dCache 7.0.38 (tgz)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
30803bc0593ce26f2ffec13677520def
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.38-1_all.deb">
dCache 7.0.38 (Debian package)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
b9532a4ccb265083132d171df249a35d
</td>
</tr>
<tr class="odd" id="7.0.37">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.37-1.noarch.rpm">
dCache 7.0.37 (rpm)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
ed3e31262892b4a0099492f2d0551763
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#37">
7.0.37
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.37.tar.gz">
dCache 7.0.37 (tgz)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
e288399d322e5c2a3cb4d7323db32947
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.37-1_all.deb">
dCache 7.0.37 (Debian package)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
b71a64cd6396ebf2a2dd78ea64078ad0
</td>
</tr>
<tr class="even" id="7.0.36">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.36-1.noarch.rpm">
dCache 7.0.36 (rpm)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
a1108b16658c3dc3b091b85128901f7f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#36">
7.0.36
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.36.tar.gz">
dCache 7.0.36 (tgz)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
a5170cce05d2fd395f488b128020833f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.36-1_all.deb">
dCache 7.0.36 (Debian package)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
5ffbbff2ca12a3c4c135fc71a9afbc0e
</td>
</tr>
<tr class="odd" id="7.0.35">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.35-1.noarch.rpm">
dCache 7.0.35 (rpm)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
04e48eee37bafe4bcb06a3bbd2072af8
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#35">
7.0.35
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.35.tar.gz">
dCache 7.0.35 (tgz)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
5498b7f23f98815539f27791fda0e7a9
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.35-1_all.deb">
dCache 7.0.35 (Debian package)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
8a134f297c5cacffdebfdcd3563f0e57
</td>
</tr>
<tr class="even" id="7.0.34">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.34-1.noarch.rpm">
dCache 7.0.34 (rpm)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
7ad5e63612867696eff3a8458fe3591a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#34">
7.0.34
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.34.tar.gz">
dCache 7.0.34 (tgz)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
89235446734e796c0a527989236703bb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.34-1_all.deb">
dCache 7.0.34 (Debian package)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
7b69c3eb3f96e8906b19b50bec020b80
</td>
</tr>
<tr class="odd" id="7.0.33">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.33-1.noarch.rpm">
dCache 7.0.33 (rpm)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
7cdafc732c59c1912b724dcea7a3c291
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#33">
7.0.33
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.33.tar.gz">
dCache 7.0.33 (tgz)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
bd2dec4bcfa1dbc81606ceabcad667b3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.33-1_all.deb">
dCache 7.0.33 (Debian package)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
eb763e2930d646c0c9c26f1823d66e77
</td>
</tr>
<tr class="even" id="7.0.32">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.32-1.noarch.rpm">
dCache 7.0.32 (rpm)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
b4b7fa919e4665e7c0802191a5b05b92
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#32">
7.0.32
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.32.tar.gz">
dCache 7.0.32 (tgz)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
a81e9d3e499f97615d179db12c847dbe
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.32-1_all.deb">
dCache 7.0.32 (Debian package)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
0fee172fac08a039d73d4e1f4c99b62e
</td>
</tr>
<tr class="odd" id="7.0.31">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.31-1.noarch.rpm">
dCache 7.0.31 (rpm)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
1fe4513ca3f8458cd563703e5a321bf5
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#31">
7.0.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.31.tar.gz">
dCache 7.0.31 (tgz)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
11c1ba34a7103bf9a7b68f48d7bc34f3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.31-1_all.deb">
dCache 7.0.31 (Debian package)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
130f66365da84c23b0c39550b1e69cf1
</td>
</tr>
<tr class="even" id="7.0.30">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.30-1.noarch.rpm">
dCache 7.0.30 (rpm)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
a042739c276e2e6915039bbf08817371
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#30">
7.0.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.30.tar.gz">
dCache 7.0.30 (tgz)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
8ff26766ffa66583501345aba9a0e685
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.30-1_all.deb">
dCache 7.0.30 (Debian package)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
6ce3d12e53e9e1fb4b1f9371833bed60
</td>
</tr>
<tr class="odd" id="7.0.29">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.29-1.noarch.rpm">
dCache 7.0.29 (rpm)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
7509dad891e96403e9655c8ef3d20c02
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#29">
7.0.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.29.tar.gz">
dCache 7.0.29 (tgz)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
98a7088e877f1d8eedfa3da5bf67f667
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.29-1_all.deb">
dCache 7.0.29 (Debian package)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
0c9b6e0899b2ee13ee3f863d478ed9f1
</td>
</tr>
<tr class="even" id="7.0.28">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.28-1.noarch.rpm">
dCache 7.0.28 (rpm)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
1ddbe7728794d0e2686f31d4de59ba60
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#28">
7.0.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.28.tar.gz">
dCache 7.0.28 (tgz)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
94743455181cd20fbd4b6d40a729c79a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.28-1_all.deb">
dCache 7.0.28 (Debian package)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
d795ea96e9df055f95ce3016d9c8d988
</td>
</tr>
<tr class="odd" id="7.0.27">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.27-1.noarch.rpm">
dCache 7.0.27 (rpm)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
4e7b48d232e123d7802b0549c189628a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#27">
7.0.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.27.tar.gz">
dCache 7.0.27 (tgz)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
87b2aa0117771834118be447f380163f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.27-1_all.deb">
dCache 7.0.27 (Debian package)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
41f5d419b346deac7d233a0548d709b4
</td>
</tr>
<tr class="even" id="7.0.26">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.26-1.noarch.rpm">
dCache 7.0.26 (rpm)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
6d7bce8291fc8ad264f78de6956ed538
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#26">
7.0.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.26.tar.gz">
dCache 7.0.26 (tgz)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
dce38ab20ead66bf0e92668133dbdef7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.26-1_all.deb">
dCache 7.0.26 (Debian package)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
d87786603a87549e3ce400bb718022b2
</td>
</tr>
<tr class="odd" id="7.0.25">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.25-1.noarch.rpm">
dCache 7.0.25 (rpm)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
144e85a75a9a19a8ace6ce048c39eec3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#25">
7.0.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.25.tar.gz">
dCache 7.0.25 (tgz)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
629676ad26b13e6e99dfd085a2b0fdbb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.25-1_all.deb">
dCache 7.0.25 (Debian package)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
7e0aff30aa281d8639fa09371101e7b2
</td>
</tr>
<tr class="even" id="7.0.24">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.24-1.noarch.rpm">
dCache 7.0.24 (rpm)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
c6303e07b2d728f4f95af61d040239b5
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#24">
7.0.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.24.tar.gz">
dCache 7.0.24 (tgz)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
af6dc267a3f4a4c370fe1fe35689a5f7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.24-1_all.deb">
dCache 7.0.24 (Debian package)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
7cf1643d16a9922ad075648f0072e2a3
</td>
</tr>
<tr class="odd" id="7.0.23">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.23-1.noarch.rpm">
dCache 7.0.23 (rpm)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
5220100ee672d12d80c7166d9541435a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#23">
7.0.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.23.tar.gz">
dCache 7.0.23 (tgz)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
d271df247bb5130b58d7dd9b7fe57e60
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.23-1_all.deb">
dCache 7.0.23 (Debian package)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
46143e701ab519563c26061be5dc364d
</td>
</tr>
<tr class="even" id="7.0.22">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.22-1.noarch.rpm">
dCache 7.0.22 (rpm)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
33abbc4044523022811b9cafd7d6f61f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#22">
7.0.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.22.tar.gz">
dCache 7.0.22 (tgz)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
2f0150ccdca1d9cab45108a8344b88cb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.22-1_all.deb">
dCache 7.0.22 (Debian package)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
0f1c98fe2aefd54ba418b28bed0f4a00
</td>
</tr>
<tr class="odd" id="7.0.21">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.21-1.noarch.rpm">
dCache 7.0.21 (rpm)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
c2ff077635c5f26842829b6e8cfce140
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#21">
7.0.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.21.tar.gz">
dCache 7.0.21 (tgz)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
cfb1e982024452c15bc8f25fc217ab1c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.21-1_all.deb">
dCache 7.0.21 (Debian package)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
82d3a9fdb2971a422fbe4efff414f587
</td>
</tr>
<tr class="even" id="7.0.20">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.20-1.noarch.rpm">
dCache 7.0.20 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
a4e77c27b7d37cf76b7e666e28d30aab
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#20">
7.0.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.20.tar.gz">
dCache 7.0.20 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
3b2202af1addd411ba54e7d13f3755d0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.20-1_all.deb">
dCache 7.0.20 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
1675bee356c83b36d2fceeeb6d56561e
</td>
</tr>
<tr class="odd" id="7.0.19">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.19-1.noarch.rpm">
dCache 7.0.19 (rpm)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
a9c180d7b9084b3af70febdb8c8b56fb
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#19">
7.0.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.19.tar.gz">
dCache 7.0.19 (tgz)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
20a408c22a54e6269f3f2ef0efa9b732
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.19-1_all.deb">
dCache 7.0.19 (Debian package)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
bd78b2402b0a13f9e5913e86ff61d13a
</td>
</tr>
<tr class="even" id="7.0.18">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.18-1.noarch.rpm">
dCache 7.0.18 (rpm)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
140dcb2e6bc1f64cf6614c61f1450a97
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#18">
7.0.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.18.tar.gz">
dCache 7.0.18 (tgz)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
3c06e41829b0af49fc242591364d1d3d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.18-1_all.deb">
dCache 7.0.18 (Debian package)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
e4a1fcbfbdcb41e8f122d04e0208c185
</td>
</tr>
<tr class="odd" id="7.0.17">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.17-1.noarch.rpm">
dCache 7.0.17 (rpm)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
cfb2ec68abe07c75459f3bf073b6e321
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#17">
7.0.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.17.tar.gz">
dCache 7.0.17 (tgz)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
91ac93dbdf044f24f052f07632e2b999
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.17-1_all.deb">
dCache 7.0.17 (Debian package)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
9b1407bf75b2d0b00e20667e75834611
</td>
</tr>
<tr class="even" id="7.0.16">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.16-1.noarch.rpm">
dCache 7.0.16 (rpm)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
825f38c212a906f97bc429309cf5169e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#16">
7.0.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.16.tar.gz">
dCache 7.0.16 (tgz)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
b6a518926f8f92d581c0bc44b15bdb7a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.16-1_all.deb">
dCache 7.0.16 (Debian package)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
4312c7a53ddabd034781f7b82bec0c62
</td>
</tr>
<tr class="odd" id="7.0.15">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.15-1.noarch.rpm">
dCache 7.0.15 (rpm)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
90d43a01a5803aff9fa87efda7afcb63
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#15">
7.0.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.15.tar.gz">
dCache 7.0.15 (tgz)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
0db867f3e56268d137bf05970b06efd1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.15-1_all.deb">
dCache 7.0.15 (Debian package)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
0d6f9b3b41b8a2ca765e28cfb38a3226
</td>
</tr>
<tr class="even" id="7.0.14">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.14-1.noarch.rpm">
dCache 7.0.14 (rpm)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
bc873718300ce69ea412be1e93434334
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#14">
7.0.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.14.tar.gz">
dCache 7.0.14 (tgz)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
b4f0f14b6a3a6976562ae1a3b9c4a69d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.14-1_all.deb">
dCache 7.0.14 (Debian package)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
fc9cb6057d3dfb72815145026de46264
</td>
</tr>
<tr class="odd" id="7.0.13">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.13-1.noarch.rpm">
dCache 7.0.13 (rpm)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
8f3394322a55ba11794cbefd4f8deed0
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#13">
7.0.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.13.tar.gz">
dCache 7.0.13 (tgz)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
78261e6683508023c2e8ee45011ad0bb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.13-1_all.deb">
dCache 7.0.13 (Debian package)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
d18a55eddc023ad447b3531489f5e980
</td>
</tr>
<tr class="even" id="7.0.12">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.12-1.noarch.rpm">
dCache 7.0.12 (rpm)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
f9fcb2d3f94f7263fdc259b5525b5e9a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#12">
7.0.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.12.tar.gz">
dCache 7.0.12 (tgz)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
bbbcfafc5a584f4173ed55e8e1a77b2f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.12-1_all.deb">
dCache 7.0.12 (Debian package)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
b510155021ab21139c1ec8f548266e00
</td>
</tr>
<tr class="odd" id="7.0.11">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.11-1.noarch.rpm">
dCache 7.0.11 (rpm)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
9ef0619bce68a3729d403baaf64ea13e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#11">
7.0.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.11.tar.gz">
dCache 7.0.11 (tgz)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
7e928fac7b12626c4a62f3f495d09abc
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.11-1_all.deb">
dCache 7.0.11 (Debian package)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
4adc84479b0c8b9d59911a34769447aa
</td>
</tr>
<tr class="even" id="7.0.10">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.10-1.noarch.rpm">
dCache 7.0.10 (rpm)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
f706d2f63538382ba3247ffaa088d809
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#10">
7.0.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.10.tar.gz">
dCache 7.0.10 (tgz)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
3b6d5c56ddc0f999c19ec893de1f6165
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.10-1_all.deb">
dCache 7.0.10 (Debian package)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
63cacdcc431d75a788c8ee8bfd9930be
</td>
</tr>
<tr class="odd" id="7.0.9">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.9-1.noarch.rpm">
dCache 7.0.9 (rpm)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
da34cadc1c9a65cb48707a5dd0b788f1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#9">
7.0.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.9.tar.gz">
dCache 7.0.9 (tgz)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
9587fae79fb2627e7fc94ab5884ac113
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.9-1_all.deb">
dCache 7.0.9 (Debian package)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
1c7a802be9bb2640e0ef6569d8f7a4af
</td>
</tr>
<tr class="even" id="7.0.8">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.8-1.noarch.rpm">
dCache 7.0.8 (rpm)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
5d454636b41c16b7e6293f79e03d935b
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#8">
7.0.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.8.tar.gz">
dCache 7.0.8 (tgz)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
841550c6960d84ed5ebe909df240e8e3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.8-1_all.deb">
dCache 7.0.8 (Debian package)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
335245bb74448c397a9b9d1ffc964229
</td>
</tr>
<tr class="odd" id="7.0.7">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.7-1.noarch.rpm">
dCache 7.0.7 (rpm)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
7e2adc7644c7a7e202cc93dfdfa04f48
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#7">
7.0.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.7.tar.gz">
dCache 7.0.7 (tgz)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
6641abe366f114fc4f47efb98ead6b81
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.7-1_all.deb">
dCache 7.0.7 (Debian package)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
dbdeb2f662036ff4d40f3c8d13278a52
</td>
</tr>
<tr class="even" id="7.0.6">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.6-1.noarch.rpm">
dCache 7.0.6 (rpm)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
19c1a0aecff47fb2274919dffc8ed4ba
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#6">
7.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.6.tar.gz">
dCache 7.0.6 (tgz)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
cf236170df0e70dad79666943b1f196c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.6-1_all.deb">
dCache 7.0.6 (Debian package)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
97739d6fcbb1272b8a6972067faef126
</td>
</tr>
<tr class="odd" id="7.0.5">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.5-1.noarch.rpm">
dCache 7.0.5 (rpm)
</a>
</td>
<td class="date">
24.3.2021
</td>
<td class="hash">
7c4d7a4f6f6d2af7294342108fce95ff
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#5">
7.0.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.5.tar.gz">
dCache 7.0.5 (tgz)
</a>
</td>
<td class="date">
24.3.2021
</td>
<td class="hash">
1dd73611775ccf884df80f9d77c2e49b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.5-1_all.deb">
dCache 7.0.5 (Debian package)
</a>
</td>
<td class="date">
24.3.2021
</td>
<td class="hash">
4d2f7527c793c8eb870d0be812c8d66c
</td>
</tr>
<tr class="even" id="7.0.4">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.4-1.noarch.rpm">
dCache 7.0.4 (rpm)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
cafbe567d59b71660c0347e56f250c66
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#4">
7.0.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.4.tar.gz">
dCache 7.0.4 (tgz)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
507823ecd8af7b9238c9caf4954cba26
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.4-1_all.deb">
dCache 7.0.4 (Debian package)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
d0e227d182b9b8645fa1c3d61964ffec
</td>
</tr>
<tr class="odd" id="7.0.3">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.3-1.noarch.rpm">
dCache 7.0.3 (rpm)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
bd4bfe56b304d6083853ffdf79ede0c8
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#3">
7.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.3.tar.gz">
dCache 7.0.3 (tgz)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
bd94d1a767ae95cd29be76c5b331e1a0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.3-1_all.deb">
dCache 7.0.3 (Debian package)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
18fc1861edbab6ad3eabb4ed146e22c6
</td>
</tr>
<tr class="even" id="7.0.2">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.2-1.noarch.rpm">
dCache 7.0.2 (rpm)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
df2c9111b0cc61dad86e8fc66d43c32f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#2">
7.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.2.tar.gz">
dCache 7.0.2 (tgz)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
31d84ecc054a7237f6b605e5b116e9d3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.2-1_all.deb">
dCache 7.0.2 (Debian package)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
d16a1c35d80a71acdfa8d2a0fcd09c04
</td>
</tr>
<tr class="odd" id="7.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.1-1.noarch.rpm">
dCache 7.0.1 (rpm)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
73a0648afb72f4cd7f9370a2e3ca2444
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#1">
7.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.1.tar.gz">
dCache 7.0.1 (tgz)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
b64c253f910c7fb0318acd94b0961ed1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.1-1_all.deb">
dCache 7.0.1 (Debian package)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
4d1977143afafc426877cb53212df19b
</td>
</tr>
<tr class="even" id="7.0.0">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.0-1.noarch.rpm">
dCache 7.0.0 (rpm)
</a>
</td>
<td class="date">
8.2.2021
</td>
<td class="hash">
0a727329d5585d53928a9aedfd74a5e5
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-7-0#0">
7.0.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache-7.0.0.tar.gz">
dCache 7.0.0 (tgz)
</a>
</td>
<td class="date">
8.2.2021
</td>
<td class="hash">
6ba40c6f54bafaabd4a51578de79fafc
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/7.0/dcache_7.0.0-1_all.deb">
dCache 7.0.0 (Debian package)
</a>
</td>
<td class="date">
8.2.2021
</td>
<td class="hash">
8a393fd24de0b6a208880e4039ae5b85
</td>
</tr>
</tbody>
