<tr class="rec" id="9.2">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.2-1_all.deb">
dCache 9.2.2 (Debian package)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
492d44105b7ab4788e04b44c7f91819a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-2#2">
9.2.2
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.2-1.noarch.rpm">
dCache 9.2.2 (rpm)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
92a49d389cfd49092f793c8944481498
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.2.tar.gz">
dCache 9.2.2 (tgz)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
cea2a5b64574314787d8ceadf0298313
</td>
</tr>
<tr class="odd" id="9.2.1">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.1-1.noarch.rpm">
dCache 9.2.1 (rpm)
</a>
</td>
<td class="date">
13.10.2023
</td>
<td class="hash">
86cd90a65ac6c4292234f4af3c80657a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-2#1">
9.2.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.1.tar.gz">
dCache 9.2.1 (tgz)
</a>
</td>
<td class="date">
13.10.2023
</td>
<td class="hash">
b8f977dd7f3d3deaff1d5f8d6742a4c6
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.1-1_all.deb">
dCache 9.2.1 (Debian package)
</a>
</td>
<td class="date">
13.10.2023
</td>
<td class="hash">
ce373025269f2be5a983e2ff846b352f
</td>
</tr>
<tr class="even" id="9.2.0">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.0-1.noarch.rpm">
dCache 9.2.0 (rpm)
</a>
</td>
<td class="date">
9.10.2023
</td>
<td class="hash">
d2a274b862531edb006b7f097b841a81
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-9-2#0">
9.2.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache-9.2.0.tar.gz">
dCache 9.2.0 (tgz)
</a>
</td>
<td class="date">
9.10.2023
</td>
<td class="hash">
324b39efb80e63d1072cbe5490969690
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.2/dcache_9.2.0-1_all.deb">
dCache 9.2.0 (Debian package)
</a>
</td>
<td class="date">
9.10.2023
</td>
<td class="hash">
9b62963cda8e0dc4151598a59c4943e8
</td>
</tr>
</tbody>
