<tr class="rec" id="10.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.0-1_all.deb">
dCache 10.1.0 (Debian package)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
0eed536760b5b7b8bf5c9e5f6031df85
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml">
10.1.0
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.0-1.noarch.rpm">
dCache 10.1.0 (rpm)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
a10b2ec6c18cc592d20f070d71175ea2
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.0.tar.gz">
dCache 10.1.0 (tgz)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
caaf189839acc766aa16e3935179a627
</td>
</tr>

