<tr class="rec" id="9.1.19">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.19-1_all.deb">
dCache 9.1.19 (Debian package)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
eebf567881305d55ee6b1bd8e47b171c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml">
9.1.19
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.19-1.noarch.rpm">
dCache 9.1.19 (rpm)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
a83f8057a2cbbb126c1fb84b038c26ec
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.19.tar.gz">
dCache 9.1.19 (tgz)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
9ef0d1e0eb3fadef020d07a64c91b98c
</td>
</tr>
<tr class="even" id="9.1.18">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.18-1_all.deb">
dCache 9.1.18 (Debian package)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
8f92e0179f4741c5557e702ceb644387
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml">
9.1.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.18-1.noarch.rpm">
dCache 9.1.18 (rpm)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
3100e441cfdcf2c55957fd29417dd113
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.18.tar.gz">
dCache 9.1.18 (tgz)
</a>
</td>
<td class="date">
21.06.2024
</td>
<td class="hash">
0dcb96ca5567f400ee63c99aa15d4ff9
</td>
</tr>
<tr class="odd" id="9.1.18">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.18-1_all.deb">
dCache 9.1.18 (Debian package)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
8f92e0179f4741c5557e702ceb644387
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml">
9.1.18
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.18-1.noarch.rpm">
dCache 9.1.18 (rpm)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
70461da8b94c6ca5d2fda3260c5a8c3b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.18.tar.gz">
dCache 9.1.18 (tgz)
</a>
</td>
<td class="date">
31.05.2024
</td>
<td class="hash">
0dcb96ca5567f400ee63c99aa15d4ff9
</td>
</tr>
<tr class="odd" id="9.1.17">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.17-1_all.deb">
dCache 9.1.17 (Debian package)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml">
9.1.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.17-1.noarch.rpm">
dCache 9.1.17 (rpm)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.17.tar.gz">
dCache 9.1.17 (tgz)
</a>
</td>
<td class="date">
13.05.2024
</td>
<td class="hash">
51bba79901680c8f6646df67ff4fe5c4
</td>
</tr>
<tr class="even" id="9.1.16">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.16-1_all.deb">
dCache 9.1.16 (Debian package)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
34e8961ade55f9d45e86536bfffee5b7
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml">
9.1.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.16-1.noarch.rpm">
dCache 9.1.16 (rpm)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
4349171c77620dec7e727e80ea4fdbc2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.16.tar.gz">
dCache 9.1.16 (tgz)
</a>
</td>
<td class="date">
22.12.2023
</td>
<td class="hash">
1c4649e9c96a2495a27ffb59d6f40ce0
</td>
</tr>
<tr class="odd" id="9.1.15">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.15-1_all.deb">
dCache 9.1.15 (Debian package)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
fb39256f6ada619d424c8750e93f4b60
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#15">
9.1.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.15-1.noarch.rpm">
dCache 9.1.15 (rpm)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
d49f6f7fb21902fc1e528f3e09a979d8
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.15.tar.gz">
dCache 9.1.15 (tgz)
</a>
</td>
<td class="date">
15.12.2023
</td>
<td class="hash">
57661519ecc2f3e1352d2c50353af04c
</td>
</tr>
<tr class="even" id="9.1.14">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.14-1.noarch.rpm">
dCache 9.1.14 (rpm)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
9b65a9ed74842a6d0175112ba1ec5e16
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#14">
9.1.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.14.tar.gz">
dCache 9.1.14 (tgz)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
652bf32604d2d505fcd87867d7b6b843
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.14-1_all.deb">
dCache 9.1.14 (Debian package)
</a>
</td>
<td class="date">
4.12.2023
</td>
<td class="hash">
96d4f3bb1c0e38c082db71120b909212
</td>
</tr>
<tr class="odd" id="9.1.13">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.13-1.noarch.rpm">
dCache 9.1.13 (rpm)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
351ff9973e2a144c5681f9fd2dfc3990
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#13">
9.1.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.13.tar.gz">
dCache 9.1.13 (tgz)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
dd7f3d672a6b37428e897a30e9f849b3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.13-1_all.deb">
dCache 9.1.13 (Debian package)
</a>
</td>
<td class="date">
22.11.2023
</td>
<td class="hash">
31df83e6e1ed78e48fb3be5502f1070d
</td>
</tr>
<tr class="even" id="9.1.12">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.12-1.noarch.rpm">
dCache 9.1.12 (rpm)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
c20059efc4f2591ab31d6bdb64bffb46
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#12">
9.1.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.12.tar.gz">
dCache 9.1.12 (tgz)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
aef296ea7c78d1aba6a4cd2cab48e317
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.12-1_all.deb">
dCache 9.1.12 (Debian package)
</a>
</td>
<td class="date">
8.11.2023
</td>
<td class="hash">
7f71b2d67685faa0d68ca169009533fe
</td>
</tr>
<tr class="odd" id="9.1.11">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.11-1.noarch.rpm">
dCache 9.1.11 (rpm)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
bf1c4e816b65b2ccb681f1bab0bc334e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#11">
9.1.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.11.tar.gz">
dCache 9.1.11 (tgz)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
081ed6bc685c3a3f3653292de2101a65
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.11-1_all.deb">
dCache 9.1.11 (Debian package)
</a>
</td>
<td class="date">
27.10.2023
</td>
<td class="hash">
5d3ae71acef44afed71a721f94010549
</td>
</tr>
<tr class="even" id="9.1.10">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.10-1_all.deb">
dCache 9.1.10 (Debian package)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
95c36ac69ad47b5acb36439d564260a9
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#10">
9.1.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.10-1.noarch.rpm">
dCache 9.1.10 (rpm)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
b88c9c8973dae7d83cdd2b77cf4d212c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.10.tar.gz">
dCache 9.1.10 (tgz)
</a>
</td>
<td class="date">
19.10.2023
</td>
<td class="hash">
26621896a1584b463e5d532613783227
</td>
</tr>
<tr class="odd" id="9.1.9">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.9-1_all.deb">
dCache 9.1.9 (Debian package)
</a>
</td>
<td class="date">
5.10.2023
</td>
<td class="hash">
3e8ba2f7cdb157351f48dc4ca7dd7c37
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#9">
9.1.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.9-1.noarch.rpm">
dCache 9.1.9 (rpm)
</a>
</td>
<td class="date">
5.10.2023
</td>
<td class="hash">
68eaf25216d30b3f50d348085d290154
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.9.tar.gz">
dCache 9.1.9 (tgz)
</a>
</td>
<td class="date">
5.10.2023
</td>
<td class="hash">
aebda60671a0bdd0c55a49d773922a1d
</td>
</tr>
<tr class="even" id="9.1.8">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.8-1.noarch.rpm">
dCache 9.1.8 (rpm)
</a>
</td>
<td class="date">
20.9.2023
</td>
<td class="hash">
580a5240810eee2f53f4f27648cefff6
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#8">
9.1.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.8.tar.gz">
dCache 9.1.8 (tgz)
</a>
</td>
<td class="date">
20.9.2023
</td>
<td class="hash">
c6c4fa240e88c0b4d50ba412ea6bc4bb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.8-1_all.deb">
dCache 9.1.8 (Debian package)
</a>
</td>
<td class="date">
20.9.2023
</td>
<td class="hash">
5a4a7fb0e29daa28f132bee167cf73af
</td>
</tr>
<tr class="odd" id="9.1.7">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.7-1.noarch.rpm">
dCache 9.1.7 (rpm)
</a>
</td>
<td class="date">
8.9.2023
</td>
<td class="hash">
937505ad36b36f82b01dbb9f280d3c4c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#7">
9.1.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.7.tar.gz">
dCache 9.1.7 (tgz)
</a>
</td>
<td class="date">
8.9.2023
</td>
<td class="hash">
4a45adc8408e22b8eeff5b099ad246ec
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.7-1_all.deb">
dCache 9.1.7 (Debian package)
</a>
</td>
<td class="date">
8.9.2023
</td>
<td class="hash">
2d925e403b9999b8c4dc171c037d00cc
</td>
</tr>
<tr class="even" id="9.1.6">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.6-1_all.deb">
dCache 9.1.6 (Debian package)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
5c3624b9f3f5a61f0284109f3779b717
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#6">
9.1.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.6-1.noarch.rpm">
dCache 9.1.6 (rpm)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
7a0e793db80e2e44850791faecb0d330
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.6.tar.gz">
dCache 9.1.6 (tgz)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
1fec4b4c800b32d3dd5401fbe8ab95cb
</td>
</tr>
<tr class="odd" id="9.1.5">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.5-1.noarch.rpm">
dCache 9.1.5 (rpm)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
a421c78c39e032b30e412315024e2480
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#5">
9.1.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.5.tar.gz">
dCache 9.1.5 (tgz)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
908ce358db6d278e7c601f69cf960dc5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.5-1_all.deb">
dCache 9.1.5 (Debian package)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
eaf9e414a110326a9c5e524ac7872472
</td>
</tr>
<tr class="even" id="9.1.4">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.4-1.noarch.rpm">
dCache 9.1.4 (rpm)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
77613cc186ed3f41ac4653dc7912ba10
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#4">
9.1.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.4.tar.gz">
dCache 9.1.4 (tgz)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
a5c9df2669cfc53b09c09a093e0eaf0a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.4-1_all.deb">
dCache 9.1.4 (Debian package)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
778cad8a4435832f4aaefb73c84deaa5
</td>
</tr>
<tr class="odd" id="9.1.3">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.3-1.noarch.rpm">
dCache 9.1.3 (rpm)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
5b8013c690de1ad84d33a121a596499f
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#3">
9.1.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.3.tar.gz">
dCache 9.1.3 (tgz)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
80e7f28821ad8b172df5e69f225e1153
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.3-1_all.deb">
dCache 9.1.3 (Debian package)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
5b531b9e6abf5eaa9f262179e8901634
</td>
</tr>
<tr class="even" id="9.1.2">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.2-1.noarch.rpm">
dCache 9.1.2 (rpm)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
27a1879114fde238b45c94e0d48502f3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#2">
9.1.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.2.tar.gz">
dCache 9.1.2 (tgz)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
692fdbe3d3f92d93463a0745ec357136
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.2-1_all.deb">
dCache 9.1.2 (Debian package)
</a>
</td>
<td class="date">
28.7.2023
</td>
<td class="hash">
69d5afaa7342ec381a36abfe314d549f
</td>
</tr>
<tr class="odd" id="9.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.1-1.noarch.rpm">
dCache 9.1.1 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
edd4446a6301ed566084801dfb6252a2
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#1">
9.1.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.1.tar.gz">
dCache 9.1.1 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
3afb7752f530d2a71c25c1fd5d14a36a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.1-1_all.deb">
dCache 9.1.1 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
fc25b9fba3ef6d56227f127d2b453fb5
</td>
</tr>
<tr class="even" id="9.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.0-1.noarch.rpm">
dCache 9.1.0 (rpm)
</a>
</td>
<td class="date">
5.7.2023
</td>
<td class="hash">
ef2c0acdb0d99c0a6afbc1fad17a35d3
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-9.1.shtml#0">
9.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache-9.1.0.tar.gz">
dCache 9.1.0 (tgz)
</a>
</td>
<td class="date">
5.7.2023
</td>
<td class="hash">
d0bd5164bdbaf52ead30963aa4078364
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/9.1/dcache_9.1.0-1_all.deb">
dCache 9.1.0 (Debian package)
</a>
</td>
<td class="date">
5.7.2023
</td>
<td class="hash">
32407854fb3f8cd4f40d10935131fd42
</td>
</tr>
</tbody>
