<tr class="rec" id="8.0.32">
<td class="link">
<a href="repo/8.0/dcache-8.0.32-1.noarch.rpm">
dCache 8.0.32 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
8c5f7a80da0a8b96c7304707b0db88ea
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#32">
8.0.32
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/8.0/dcache-8.0.32.tar.gz">
dCache 8.0.32 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
c4663458bb86ad9af5448d4f2872b3aa
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/8.0/dcache_8.0.32-1_all.deb">
dCache 8.0.32 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
bde526d9ab6c8090e2100d2265c0fbbc
</td>
</tr>
<tr class="odd" id="8.0.31">
<td class="link">
<a href="repo/8.0/dcache-8.0.31-1.noarch.rpm">
dCache 8.0.31 (rpm)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
c3c3565aa4fc9474c131c28a837afc1e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#31">
8.0.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.31.tar.gz">
dCache 8.0.31 (tgz)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
8fc41f3dd6498d0fc1a787ce5029c4b4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.31-1_all.deb">
dCache 8.0.31 (Debian package)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
9d722bead20372f518ab9c85d60072c0
</td>
</tr>
<tr class="even" id="8.0.30">
<td class="link">
<a href="repo/8.0/dcache_8.0.30-1_all.deb">
dCache 8.0.30 (Debian package)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
cf083b25fc12cab89fc5b9c1612c4e7d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#30">
8.0.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.30-1.noarch.rpm">
dCache 8.0.30 (rpm)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
28fb06ce9dcf530bd3bb5130245a3887
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.30.tar.gz">
dCache 8.0.30 (tgz)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
9d76c25ceab41559eb87132dab22506e
</td>
</tr>
<tr class="odd" id="8.0.29">
<td class="link">
<a href="repo/8.0/dcache-8.0.29-1.noarch.rpm">
dCache 8.0.29 (rpm)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
5e62ba54e7d82ca6465f6bd72268cffd
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#29">
8.0.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.29.tar.gz">
dCache 8.0.29 (tgz)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
677dabf101ac7c2a88b14114a4371bf2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.29-1_all.deb">
dCache 8.0.29 (Debian package)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
081a29496cdb5e8f139b95b2c8ec6677
</td>
</tr>
<tr class="even" id="8.0.28">
<td class="link">
<a href="repo/8.0/dcache-8.0.28-1.noarch.rpm">
dCache 8.0.28 (rpm)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
b1d82651806c86597f66a2555e1b1351
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#28">
8.0.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.28.tar.gz">
dCache 8.0.28 (tgz)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
57f54058be24a133be49846370706316
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.28-1_all.deb">
dCache 8.0.28 (Debian package)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
c4920633b69b5eb9979bd8feacdef42a
</td>
</tr>
<tr class="odd" id="8.0.27">
<td class="link">
<a href="repo/8.0/dcache_8.0.27-1_all.deb">
dCache 8.0.27 (Debian package)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
a0e063a5f36e135c444fcb69a5c0f407
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#27">
8.0.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.27-1.noarch.rpm">
dCache 8.0.27 (rpm)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
8af2d4bd88d8f23716a9e8e7935221c6
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.27.tar.gz">
dCache 8.0.27 (tgz)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
679e8aec57d7e8f758a75487c7badc23
</td>
</tr>
<tr class="even" id="8.0.26">
<td class="link">
<a href="repo/8.0/dcache-8.0.26-1.noarch.rpm">
dCache 8.0.26 (rpm)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
8b50dc31c6112f2c2318e8e1c64a97df
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#26">
8.0.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.26.tar.gz">
dCache 8.0.26 (tgz)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
07c670252ed96bb36d99a25d1687ce94
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.26-1_all.deb">
dCache 8.0.26 (Debian package)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
fcdbe7dfb52f330dceadc69a6f973dc5
</td>
</tr>
<tr class="odd" id="8.0.25">
<td class="link">
<a href="repo/8.0/dcache-8.0.25-1.noarch.rpm">
dCache 8.0.25 (rpm)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
5ae5a57d3008e7d77dd5c6ef4edbcf58
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#25">
8.0.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.25.tar.gz">
dCache 8.0.25 (tgz)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
f111ea169268d71f57cbd853f17f2f60
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.25-1_all.deb">
dCache 8.0.25 (Debian package)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
77bdd97663843cd7e859703b88c54f4f
</td>
</tr>
<tr class="even" id="8.0.24">
<td class="link">
<a href="repo/8.0/dcache-8.0.24-1.noarch.rpm">
dCache 8.0.24 (rpm)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
b68ed722c695fcb8a22964f6d0bdee37
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#24">
8.0.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.24.tar.gz">
dCache 8.0.24 (tgz)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
086b10193ed1c01eb868e12904211913
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.24-1_all.deb">
dCache 8.0.24 (Debian package)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
8841e30a68398497a8c2f0f704e1b425
</td>
</tr>
<tr class="odd" id="8.0.23">
<td class="link">
<a href="repo/8.0/dcache_8.0.23-1_all.deb">
dCache 8.0.23 (Debian package)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
6e415f6a1f1831bccb6a6acac88634cd
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#23">
8.0.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.23-1.noarch.rpm">
dCache 8.0.23 (rpm)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
e207668197a9f4a36723dc82e6d0ec87
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.23.tar.gz">
dCache 8.0.23 (tgz)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
f82acdba98222e7929b16267e8b640e4
</td>
</tr>
<tr class="even" id="8.0.22">
<td class="link">
<a href="repo/8.0/dcache-8.0.22-1.noarch.rpm">
dCache 8.0.22 (rpm)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
d4b2ca310e2d0ed0e0883e58298a8e73
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#22">
8.0.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.22.tar.gz">
dCache 8.0.22 (tgz)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
9d3a8e5985c8f2161c8c73248cd80e89
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.22-1_all.deb">
dCache 8.0.22 (Debian package)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
abff4227565183eb8fd8198225d4f324
</td>
</tr>
<tr class="odd" id="8.0.21">
<td class="link">
<a href="repo/8.0/dcache_8.0.21-1_all.deb">
dCache 8.0.21 (Debian package)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
78ffa7b45f99b13d3569e5eca586b98d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#21">
8.0.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.21-1.noarch.rpm">
dCache 8.0.21 (rpm)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
9f086653abe7b61385f6d72948a5e977
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.21.tar.gz">
dCache 8.0.21 (tgz)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
0a9108b160fadc52e31e0e072fdb5342
</td>
</tr>
<tr class="even" id="8.0.20">
<td class="link">
<a href="repo/8.0/dcache-8.0.20-1.noarch.rpm">
dCache 8.0.20 (rpm)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
4de380f2d28a7f2a906427d737d78eb3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#20">
8.0.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.20.tar.gz">
dCache 8.0.20 (tgz)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
9cd108bd8eef424971bdf3b4f61436b0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.20-1_all.deb">
dCache 8.0.20 (Debian package)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
47262596a3e8e7a170880a082789ef1b
</td>
</tr>
<tr class="odd" id="8.0.19">
<td class="link">
<a href="repo/8.0/dcache_8.0.19-1_all.deb">
dCache 8.0.19 (Debian package)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
b29073e284596958414c78296115f555
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#19">
8.0.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.19-1.noarch.rpm">
dCache 8.0.19 (rpm)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
ec90974030328652075b67f83cd6ed1a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.19.tar.gz">
dCache 8.0.19 (tgz)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
5ad4d08694b57bdcd5374ee4afe100b2
</td>
</tr>
<tr class="even" id="8.0.18">
<td class="link">
<a href="repo/8.0/dcache-8.0.18-1.noarch.rpm">
dCache 8.0.18 (rpm)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
a7ff78627fb1bc3a60e05fd3f99778d6
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#18">
8.0.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.18.tar.gz">
dCache 8.0.18 (tgz)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
b4cbfd2267543d7076c468deb17b2232
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.18-1_all.deb">
dCache 8.0.18 (Debian package)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
d2b464e6500451752d1c7a236d4b799f
</td>
</tr>
<tr class="odd" id="8.0.17">
<td class="link">
<a href="repo/8.0/dcache-8.0.17-1.noarch.rpm">
dCache 8.0.17 (rpm)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
3fb9d6f51f1ae1a8c42542078e426fd2
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#17">
8.0.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.17.tar.gz">
dCache 8.0.17 (tgz)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
94f3320146f395f7487b404828c674ca
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.17-1_all.deb">
dCache 8.0.17 (Debian package)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
c944af9b3f4d654af60a1fb4d463071c
</td>
</tr>
<tr class="even" id="8.0.16">
<td class="link">
<a href="repo/8.0/dcache-8.0.16-1.noarch.rpm">
dCache 8.0.16 (rpm)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
797c0ea4a75669460d708a2c26c814f2
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#16">
8.0.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.16.tar.gz">
dCache 8.0.16 (tgz)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
fe38e8e8186f78a1f185d77462d26656
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.16-1_all.deb">
dCache 8.0.16 (Debian package)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
0a95f113a373da697fa4a5e20624d9dd
</td>
</tr>
<tr class="odd" id="8.0.15">
<td class="link">
<a href="repo/8.0/dcache-8.0.15-1.noarch.rpm">
dCache 8.0.15 (rpm)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
ce93d7c5509816c0ba279d50877e2d49
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#15">
8.0.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.15.tar.gz">
dCache 8.0.15 (tgz)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
1ad9423dc788290e166f601f8e8b7bc1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.15-1_all.deb">
dCache 8.0.15 (Debian package)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
bb5fa63206320554a51d5b2d8e80c8dc
</td>
</tr>
<tr class="even" id="8.0.14">
<td class="link">
<a href="repo/8.0/dcache_8.0.14-1_all.deb">
dCache 8.0.14 (Debian package)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
aa04dbce6e58c82fdc19c3ee2b4891e2
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#14">
8.0.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.14-1.noarch.rpm">
dCache 8.0.14 (rpm)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
00b456dae2dfc4e50a3a22c28f9bfb94
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.14.tar.gz">
dCache 8.0.14 (tgz)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
03dd15a0071780106d16e0e5efd17549
</td>
</tr>
<tr class="odd" id="8.0.13">
<td class="link">
<a href="repo/8.0/dcache-8.0.13-1.noarch.rpm">
dCache 8.0.13 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
e32fd1e4e919c62979b6c487875beb8e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#13">
8.0.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.13.tar.gz">
dCache 8.0.13 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
8bf56869154af4aa965795ae9ab763dd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.13-1_all.deb">
dCache 8.0.13 (Debian package)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
ebe769491c23287cd9fc7bfb1e423926
</td>
</tr>
<tr class="even" id="8.0.12">
<td class="link">
<a href="repo/8.0/dcache-8.0.12-1.noarch.rpm">
dCache 8.0.12 (rpm)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
0d3201cb591439cfc76eff92db03553b
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#12">
8.0.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.12.tar.gz">
dCache 8.0.12 (tgz)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
9c575b5e6876802e68c62fc6837484e4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.12-1_all.deb">
dCache 8.0.12 (Debian package)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
87fcde83e9b8ee1da433770fd97b8d7f
</td>
</tr>
<tr class="odd" id="8.0.11">
<td class="link">
<a href="repo/8.0/dcache-8.0.11-1.noarch.rpm">
dCache 8.0.11 (rpm)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
54ae4d1af9f561cb4e890e223f2787c1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#11">
8.0.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.11.tar.gz">
dCache 8.0.11 (tgz)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
f75de0dabe427cf21545c0ed8d414548
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.11-1_all.deb">
dCache 8.0.11 (Debian package)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
dc62cedcf01d6224206e40447ed4fc42
</td>
</tr>
<tr class="even" id="8.0.10">
<td class="link">
<a href="repo/8.0/dcache-8.0.10-1.noarch.rpm">
dCache 8.0.10 (rpm)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
8d1a842ea7de693d648de8964c4505fc
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#10">
8.0.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.10.tar.gz">
dCache 8.0.10 (tgz)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
da25954c5b3c4e83fa20327171be211a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.10-1_all.deb">
dCache 8.0.10 (Debian package)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
e1c66cf4081f13ed083a7b03552f73e7
</td>
</tr>
<tr class="odd" id="8.0.9">
<td class="link">
<a href="repo/8.0/dcache-8.0.9-1.noarch.rpm">
dCache 8.0.9 (rpm)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
cacaa091096bf82e66fafac0ebbe060b
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#9">
8.0.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.9.tar.gz">
dCache 8.0.9 (tgz)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
644c067462643c4276745a6cf8f4ed0d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.9-1_all.deb">
dCache 8.0.9 (Debian package)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
f3f661d7f7803216b112be3912a90087
</td>
</tr>
<tr class="even" id="8.0.8">
<td class="link">
<a href="repo/8.0/dcache-8.0.8-1.noarch.rpm">
dCache 8.0.8 (rpm)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
ab4edda3ff68077c499cf0fdddce9af7
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#8">
8.0.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.8.tar.gz">
dCache 8.0.8 (tgz)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
3d05070ee871a6da4e656faa8e47389c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.8-1_all.deb">
dCache 8.0.8 (Debian package)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
fbc99f0f837212974338c219fd471a7b
</td>
</tr>
<tr class="odd" id="8.0.7">
<td class="link">
<a href="repo/8.0/dcache-8.0.7-1.noarch.rpm">
dCache 8.0.7 (rpm)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
496f25a99bc676e2410bb5c097fe490c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#7">
8.0.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.7.tar.gz">
dCache 8.0.7 (tgz)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
10164409e993d79bdf688d62b484cefd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.7-1_all.deb">
dCache 8.0.7 (Debian package)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
a6ae807649e102964166f0e18d3f9c33
</td>
</tr>
<tr class="even" id="8.0.6">
<td class="link">
<a href="repo/8.0/dcache-8.0.6-1.noarch.rpm">
dCache 8.0.6 (rpm)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
195428b7e43a407f052558ee5e3f533b
</td>
<td class="notes" rowspan="4">
<a href="/release-notes/release-notes-8-0#6">
8.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.6.tar.gz">
dCache 8.0.6 (tgz)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
a48824a4c7d96c910c357b1a9d22cf79
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.6.tar.gz">
dCache 8.0.6 (tgz)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
f815d75d51bc47da5f20bf9fed59ccb1
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.6-1_all.deb">
dCache 8.0.6 (Debian package)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
b739c57c5d271947551b983205623454
</td>
</tr>
<tr class="odd" id="8.0.5">
<td class="link">
<a href="repo/8.0/dcache-8.0.5-1.noarch.rpm">
dCache 8.0.5 (rpm)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
30a3be4fbabe8aedcb067ae088d47e22
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#5">
8.0.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.5.tar.gz">
dCache 8.0.5 (tgz)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
28cafa534bc7f0a9d9bcbe0ef47761bb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.5-1_all.deb">
dCache 8.0.5 (Debian package)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
6e0ed747ae54e1ee95f57cc8fedee835
</td>
</tr>
<tr class="even" id="8.0.4">
<td class="link">
<a href="repo/8.0/dcache-8.0.4-1.noarch.rpm">
dCache 8.0.4 (rpm)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
efa026fcd947c5220a97e7df47d61bf7
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#4">
8.0.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.4.tar.gz">
dCache 8.0.4 (tgz)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
be656149aeda4709c2609dc37f0f9d1a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.4-1_all.deb">
dCache 8.0.4 (Debian package)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
3a906df4aff3d5c471ea2fe55d304fa4
</td>
</tr>
<tr class="odd" id="8.0.3">
<td class="link">
<a href="repo/8.0/dcache-8.0.3-1.noarch.rpm">
dCache 8.0.3 (rpm)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
b0315651adc8b510a6ef6a0138458feb
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#3">
8.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.3.tar.gz">
dCache 8.0.3 (tgz)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
04a593cef739fa06b4da93bd5a4ce647
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.3-1_all.deb">
dCache 8.0.3 (Debian package)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
02d5c06a90f3cc79d9104635f227692f
</td>
</tr>
<tr class="even" id="8.0.2">
<td class="link">
<a href="repo/8.0/dcache-8.0.2-1.noarch.rpm">
dCache 8.0.2 (rpm)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
e6f5ac1bb89d51063849ab77923f5f6a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#2">
8.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.2.tar.gz">
dCache 8.0.2 (tgz)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
992080804de7f8ad2b8bbf8f6e962cf5
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.2-1_all.deb">
dCache 8.0.2 (Debian package)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
8c386feb441c25bf0bcca27b8e98c09d
</td>
</tr>
<tr class="odd" id="8.0.1">
<td class="link">
<a href="repo/8.0/dcache-8.0.1-1.noarch.rpm">
dCache 8.0.1 (rpm)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
dfea3e3c70cd075c1df7256cf10bba73
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#1">
8.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache-8.0.1.tar.gz">
dCache 8.0.1 (tgz)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
556189884d61286c3d480fe40aeaf9aa
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.0/dcache_8.0.1-1_all.deb">
dCache 8.0.1 (Debian package)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
e63b65d5a02b4ef1675b71d5ef12d7e0
</td>
</tr>
<tr class="even" id="8.0.0">
<td class="link">
<a href="repo/8.0/dcache-8.0.0-1.noarch.rpm">
dCache 8.0.0 (rpm)
</a>
</td>
<td class="date">
9.2.2022
</td>
<td class="hash">
5b1ae78f91125a4ee37f9b5744892e73
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-0#0">
8.0.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache-8.0.0.tar.gz">
dCache 8.0.0 (tgz)
</a>
</td>
<td class="date">
9.2.2022
</td>
<td class="hash">
9c43e086345e0753d29bacc3626b595c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.0/dcache_8.0.0-1_all.deb">
dCache 8.0.0 (Debian package)
</a>
</td>
<td class="date">
9.2.2022
</td>
<td class="hash">
16d3dee28efe5718afef700d577b5e15
</td>
</tr>
</tbody>
