<tr class="rec" id="7.2.43">
<td class="link">
<a href="repo/7.2/dcache-7.2.43-1.noarch.rpm">
dCache 7.2.43 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
ce835e536a639d336c9b8fc3f0934af2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml">
7.2.43
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/7.2/dcache-7.2.43.tar.gz">
dCache 7.2.43 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
6ea23cc95dad1ba5a2944d67b3327b8c
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/7.2/dcache_7.2.43-1_all.deb">
dCache 7.2.43 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
b40e6f59b0b51806c29cf368e24cc28f
</td>
</tr>
<tr class="odd" id="7.2.42">
<td class="link">
<a href="repo/7.2/dcache-7.2.42-1.noarch.rpm">
dCache 7.2.42 (rpm)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
7cd64c548f388e949aa1035502b3db3f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#42">
7.2.42
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.42.tar.gz">
dCache 7.2.42 (tgz)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
cc7cdef630208a47a8315f48a6975f04
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.42-1_all.deb">
dCache 7.2.42 (Debian package)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
26d1392ac25ca9d688a6ddb0fe8aa695
</td>
</tr>
<tr class="even" id="7.2.41">
<td class="link">
<a href="repo/7.2/dcache_7.2.41-1_all.deb">
dCache 7.2.41 (Debian package)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
81043e5db8701a99ede7128fa71ef8a3
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#41">
7.2.41
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.41-1.noarch.rpm">
dCache 7.2.41 (rpm)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
57cb306491eb03ff199a27f7b5637081
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.41.tar.gz">
dCache 7.2.41 (tgz)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
7d9d4bd1febaba06f23b38258b73cd71
</td>
</tr>
<tr class="odd" id="7.2.40">
<td class="link">
<a href="repo/7.2/dcache-7.2.40-1.noarch.rpm">
dCache 7.2.40 (rpm)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
bf8949d97d67ccfce8a01d57683107b7
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#40">
7.2.40
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.40.tar.gz">
dCache 7.2.40 (tgz)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
3c0a8d105e3fe3a350c1e92e0bca8491
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.40-1_all.deb">
dCache 7.2.40 (Debian package)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
3e467f4cbc124f200cb2dfac151f597d
</td>
</tr>
<tr class="even" id="7.2.39">
<td class="link">
<a href="repo/7.2/dcache-7.2.39-1.noarch.rpm">
dCache 7.2.39 (rpm)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
4bfe8a2e998e6de032262740d5153fbd
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#39">
7.2.39
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.39.tar.gz">
dCache 7.2.39 (tgz)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
1c283227e7dd4bf1403107904fe33b1a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.39-1_all.deb">
dCache 7.2.39 (Debian package)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
1e494c80740cff41006c729f02e11312
</td>
</tr>
<tr class="odd" id="7.2.38">
<td class="link">
<a href="repo/7.2/dcache_7.2.38-1_all.deb">
dCache 7.2.38 (Debian package)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
2ff99a9621ec3fa85fdc1e6b94448e5d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#38">
7.2.38
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.38-1.noarch.rpm">
dCache 7.2.38 (rpm)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
c5f23a58e3ce8190378cd4ba69687cba
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.38.tar.gz">
dCache 7.2.38 (tgz)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
327968ebe52b6b8e5b3fd5a77b172967
</td>
</tr>
<tr class="even" id="7.2.37">
<td class="link">
<a href="repo/7.2/dcache-7.2.37-1.noarch.rpm">
dCache 7.2.37 (rpm)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
ddd37163f37316912ececb18c1836924
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#37">
7.2.37
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.37.tar.gz">
dCache 7.2.37 (tgz)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
1cadf08813386545a47604abd188d227
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.37-1_all.deb">
dCache 7.2.37 (Debian package)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
1f51c93e19aaf371cfbaaef5cdd4fe0e
</td>
</tr>
<tr class="odd" id="7.2.36">
<td class="link">
<a href="repo/7.2/dcache-7.2.36-1.noarch.rpm">
dCache 7.2.36 (rpm)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
4b31a35d73612c1c2cc438decc5d28fc
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#36">
7.2.36
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.36.tar.gz">
dCache 7.2.36 (tgz)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
f7f00ace16ff7e8e83a5fbcf34ebcf71
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.36-1_all.deb">
dCache 7.2.36 (Debian package)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
3cfb87dd5ebe0c135455c61e8a0eec09
</td>
</tr>
<tr class="even" id="7.2.35">
<td class="link">
<a href="repo/7.2/dcache-7.2.35-1.noarch.rpm">
dCache 7.2.35 (rpm)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
8bc5d31b324f6617633055a74669b5d2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#35">
7.2.35
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.35.tar.gz">
dCache 7.2.35 (tgz)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
1d46066d41a9166c31a3196d4a543553
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.35-1_all.deb">
dCache 7.2.35 (Debian package)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
346ea93a31eab1d9ad9294ec10bc6abe
</td>
</tr>
<tr class="odd" id="7.2.34">
<td class="link">
<a href="repo/7.2/dcache_7.2.34-1_all.deb">
dCache 7.2.34 (Debian package)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
f1b2420db04e0a2a62a845730ee368b6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#34">
7.2.34
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.34-1.noarch.rpm">
dCache 7.2.34 (rpm)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
8acb4aea1530867f47386a401c1bcaec
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.34.tar.gz">
dCache 7.2.34 (tgz)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
7ee01d58ae9d164ce78815c0440ba48d
</td>
</tr>
<tr class="even" id="7.2.33">
<td class="link">
<a href="repo/7.2/dcache-7.2.33-1.noarch.rpm">
dCache 7.2.33 (rpm)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
b407592ddf9e89fb55a768bfe7c0b798
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#33">
7.2.33
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.33.tar.gz">
dCache 7.2.33 (tgz)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
d1ea4c79e429a0a8ba01fe530df7b075
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.33-1_all.deb">
dCache 7.2.33 (Debian package)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
35386c3c042c45babb6858cba5dd2cb5
</td>
</tr>
<tr class="odd" id="7.2.32">
<td class="link">
<a href="repo/7.2/dcache_7.2.32-1_all.deb">
dCache 7.2.32 (Debian package)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
69e62cb053e2b104bbfa00ba86548e6a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#32">
7.2.32
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.32-1.noarch.rpm">
dCache 7.2.32 (rpm)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
82b91e516d34eb24c3967bcbaa4fcac0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.32.tar.gz">
dCache 7.2.32 (tgz)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
1414e39f72476bc587a767c484ffa5fb
</td>
</tr>
<tr class="even" id="7.2.31">
<td class="link">
<a href="repo/7.2/dcache-7.2.31-1.noarch.rpm">
dCache 7.2.31 (rpm)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
d5d7a3275a2c35e5872b80ea98546a72
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#31">
7.2.31
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.31.tar.gz">
dCache 7.2.31 (tgz)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
fbccc142fc18adc8c6bc4a6b6df9c267
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.31-1_all.deb">
dCache 7.2.31 (Debian package)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
1b585ad356e5b874a7120e0958e62541
</td>
</tr>
<tr class="odd" id="7.2.30">
<td class="link">
<a href="repo/7.2/dcache_7.2.30-1_all.deb">
dCache 7.2.30 (Debian package)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
f8098d7f74e1d53be4d2d33e314cdc96
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#30">
7.2.30
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.30-1.noarch.rpm">
dCache 7.2.30 (rpm)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
14f8f91b64b932a76749445e1b80c65d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.30.tar.gz">
dCache 7.2.30 (tgz)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
489b40bbd4ec9ae83d009b055be534c9
</td>
</tr>
<tr class="even" id="7.2.29">
<td class="link">
<a href="repo/7.2/dcache-7.2.29-1.noarch.rpm">
dCache 7.2.29 (rpm)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
eb1a4542f5c309ae77f4beb6b4020592
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#29">
7.2.29
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.29.tar.gz">
dCache 7.2.29 (tgz)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
46984ccd66f096c13580af1266c2eea0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.29-1_all.deb">
dCache 7.2.29 (Debian package)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
5fbe21188a0115ef929d7cc6a3b9d08a
</td>
</tr>
<tr class="odd" id="7.2.28">
<td class="link">
<a href="repo/7.2/dcache-7.2.28-1.noarch.rpm">
dCache 7.2.28 (rpm)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
63be55dcbc03f6b36657b5b3aafdd09c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#28">
7.2.28
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.28.tar.gz">
dCache 7.2.28 (tgz)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
741068e94198aaa1a3d312e265243e41
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.28-1_all.deb">
dCache 7.2.28 (Debian package)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
1032239a8513b99b067ada9530feff68
</td>
</tr>
<tr class="even" id="7.2.27">
<td class="link">
<a href="repo/7.2/dcache-7.2.27-1.noarch.rpm">
dCache 7.2.27 (rpm)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
887e8e6a38673b7b42885666e378216c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#27">
7.2.27
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.27.tar.gz">
dCache 7.2.27 (tgz)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
1b3ec119c9559aba1bd815e3578f28bc
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.27-1_all.deb">
dCache 7.2.27 (Debian package)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
ebfd1d166275165d0ea23e035a6f44b9
</td>
</tr>
<tr class="odd" id="7.2.26">
<td class="link">
<a href="repo/7.2/dcache-7.2.26-1.noarch.rpm">
dCache 7.2.26 (rpm)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
db848a9af60452f45fe4b571c352495e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#26">
7.2.26
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.26.tar.gz">
dCache 7.2.26 (tgz)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
969fc2f09912b144d0e5252b1f2f0620
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.26-1_all.deb">
dCache 7.2.26 (Debian package)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
12102fbcd817fb012e655b59828179aa
</td>
</tr>
<tr class="even" id="7.2.25">
<td class="link">
<a href="repo/7.2/dcache_7.2.25-1_all.deb">
dCache 7.2.25 (Debian package)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
407ae3e84f79c85e9852a2d7790b9a39
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#25">
7.2.25
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.25-1.noarch.rpm">
dCache 7.2.25 (rpm)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
34fb92d19d567b6e7504f9821dfbd2af
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.25.tar.gz">
dCache 7.2.25 (tgz)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
403ad7c7c4e1418e4ee60fed0ce80708
</td>
</tr>
<tr class="odd" id="7.2.23">
<td class="link">
<a href="repo/7.2/dcache-7.2.23-1.noarch.rpm">
dCache 7.2.23 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
cf31ce92e033dd5092f035971e210fae
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#23">
7.2.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.23.tar.gz">
dCache 7.2.23 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
4cbb0208854aeb1c5d88b6d0797920e8
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.23-1_all.deb">
dCache 7.2.23 (Debian package)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
d00eb3d0d5b387540bcd1c5abaf2a9cb
</td>
</tr>
<tr class="even" id="7.2.22">
<td class="link">
<a href="repo/7.2/dcache-7.2.22-1.noarch.rpm">
dCache 7.2.22 (rpm)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
9b0fc23db25d9b47ea9040994c85b8c4
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#22">
7.2.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.22.tar.gz">
dCache 7.2.22 (tgz)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
a72aca1e95529efccf467759159e35b6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.22-1_all.deb">
dCache 7.2.22 (Debian package)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
b00d18267a81fe0039625b51bcc88307
</td>
</tr>
<tr class="odd" id="7.2.21">
<td class="link">
<a href="repo/7.2/dcache-7.2.21-1.noarch.rpm">
dCache 7.2.21 (rpm)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
c62de23e25f8a7881f164219d4357caa
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#21">
7.2.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.21.tar.gz">
dCache 7.2.21 (tgz)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
de3db789f56a8ab066e690845bdd7a0d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.21-1_all.deb">
dCache 7.2.21 (Debian package)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
53f3d3e664ce1218e53423deaf07a337
</td>
</tr>
<tr class="even" id="7.2.20">
<td class="link">
<a href="repo/7.2/dcache-7.2.20-1.noarch.rpm">
dCache 7.2.20 (rpm)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
860cbb0932449630615f2118065f04af
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#20">
7.2.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.20.tar.gz">
dCache 7.2.20 (tgz)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
1cd41271fe9d0f1ddc2fe27379d42169
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.20-1_all.deb">
dCache 7.2.20 (Debian package)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
55c55fc6dffdd79fc922a83255f57403
</td>
</tr>
<tr class="odd" id="7.2.19">
<td class="link">
<a href="repo/7.2/dcache-7.2.19-1.noarch.rpm">
dCache 7.2.19 (rpm)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
c204f5abefa6bbd3bf9030bb75da1a55
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#19">
7.2.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.19.tar.gz">
dCache 7.2.19 (tgz)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
892269680b3bfff5134d52c388636085
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.19-1_all.deb">
dCache 7.2.19 (Debian package)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
59c32dc230a36c16a3927e553194ad2d
</td>
</tr>
<tr class="even" id="7.2.18">
<td class="link">
<a href="repo/7.2/dcache-7.2.18-1.noarch.rpm">
dCache 7.2.18 (rpm)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
4afe9ecfb7fd498a5eac52d3140bb3e4
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#18">
7.2.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.18.tar.gz">
dCache 7.2.18 (tgz)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
88be6c3250ce989816bd7c3c0d368515
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.18-1_all.deb">
dCache 7.2.18 (Debian package)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
009a16181ffac969ba1ab62fa148bc65
</td>
</tr>
<tr class="odd" id="7.2.17">
<td class="link">
<a href="repo/7.2/dcache-7.2.17-1.noarch.rpm">
dCache 7.2.17 (rpm)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
78558de8e4201ae0f01a0a8494ef9073
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#17">
7.2.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.17.tar.gz">
dCache 7.2.17 (tgz)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
1fd314bd901c70984df0d470808891eb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.17-1_all.deb">
dCache 7.2.17 (Debian package)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
5e665f13d3593df4a511c33560557066
</td>
</tr>
<tr class="even" id="7.2.16">
<td class="link">
<a href="repo/7.2/dcache-7.2.16-1.noarch.rpm">
dCache 7.2.16 (rpm)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
d6c9227d92c07181dd51360cbee04fe6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#16">
7.2.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.16.tar.gz">
dCache 7.2.16 (tgz)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
33f178c971dd829186ca6615672227e5
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.16-1_all.deb">
dCache 7.2.16 (Debian package)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
c15407f3eb9f1372f22ebb3fab8394a1
</td>
</tr>
<tr class="odd" id="7.2.15">
<td class="link">
<a href="repo/7.2/dcache-7.2.15-1.noarch.rpm">
dCache 7.2.15 (rpm)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
23b7dacb5d4c2bb35d9588f5428f12e0
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#15">
7.2.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.15.tar.gz">
dCache 7.2.15 (tgz)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
09e4969d74bc8e1855bdd6cf48072225
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.15-1_all.deb">
dCache 7.2.15 (Debian package)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
6d88315c111cc1f3c0c24a67bc760cf8
</td>
</tr>
<tr class="even" id="7.2.14">
<td class="link">
<a href="repo/7.2/dcache-7.2.14-1.noarch.rpm">
dCache 7.2.14 (rpm)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
97760bd0c124cd31f4c8bee8d7fda34b
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#14">
7.2.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.14.tar.gz">
dCache 7.2.14 (tgz)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
dc72c4c9e51b89422810415cf2aa2094
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.14-1_all.deb">
dCache 7.2.14 (Debian package)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
dd669eda00e9136e2a026bf1fbd4e175
</td>
</tr>
<tr class="odd" id="7.2.13">
<td class="link">
<a href="repo/7.2/dcache-7.2.13-1.noarch.rpm">
dCache 7.2.13 (rpm)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
4bd44ec9e5576c34f934cf5d113920c1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#13">
7.2.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.13.tar.gz">
dCache 7.2.13 (tgz)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
f90196f06b7623691031c55686aafb64
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.13-1_all.deb">
dCache 7.2.13 (Debian package)
</a>
</td>
<td class="date">
30.3.2022
</td>
<td class="hash">
c4a3916bb1117164404559ee5938c470
</td>
</tr>
<tr class="even" id="7.2.12">
<td class="link">
<a href="repo/7.2/dcache-7.2.12-1.noarch.rpm">
dCache 7.2.12 (rpm)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
3c4dd399dd2edc6a3dbc51e26a1d1522
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#12">
7.2.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.12.tar.gz">
dCache 7.2.12 (tgz)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
0c09c1e676b056dfa38680187c97b38f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.12-1_all.deb">
dCache 7.2.12 (Debian package)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
eaab0e3a7c84e01bcf59b170795f4bbd
</td>
</tr>
<tr class="odd" id="7.2.11">
<td class="link">
<a href="repo/7.2/dcache-7.2.11-1.noarch.rpm">
dCache 7.2.11 (rpm)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
a958084b871d2a84fd6c4614013872fb
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#11">
7.2.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.11.tar.gz">
dCache 7.2.11 (tgz)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
742b404828fc9a0fdea981a8532520d4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.11-1_all.deb">
dCache 7.2.11 (Debian package)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
a2121643c985efca482170b8f2eae92e
</td>
</tr>
<tr class="even" id="7.2.10">
<td class="link">
<a href="repo/7.2/dcache-7.2.10-1.noarch.rpm">
dCache 7.2.10 (rpm)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
9830323a901ea2baf1b194de31dc69aa
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#10">
7.2.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.10.tar.gz">
dCache 7.2.10 (tgz)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
e68bba41b3c5f709ac8f1f1509c8e5cf
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.10-1_all.deb">
dCache 7.2.10 (Debian package)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
c56f148e189dc9346bb32c9779e240c6
</td>
</tr>
<tr class="odd" id="7.2.9">
<td class="link">
<a href="repo/7.2/dcache-7.2.9-1.noarch.rpm">
dCache 7.2.9 (rpm)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
1dcc545c3f313d10c92f4d8af96bbe99
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#9">
7.2.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.9.tar.gz">
dCache 7.2.9 (tgz)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
213c851ad7be138924eff65b9d4eb7c4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.9-1_all.deb">
dCache 7.2.9 (Debian package)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
235bd2bc92ac4ef3714819fcdd6b7f83
</td>
</tr>
<tr class="even" id="7.2.8">
<td class="link">
<a href="repo/7.2/dcache-7.2.8-1.noarch.rpm">
dCache 7.2.8 (rpm)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
c976717e72096c3b841f8f854a775158
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#8">
7.2.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.8.tar.gz">
dCache 7.2.8 (tgz)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
78ccc3e0052cce84236754de57b16a5d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.8-1_all.deb">
dCache 7.2.8 (Debian package)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
44917dcc06a9c683ca1fbac9b105fc9f
</td>
</tr>
<tr class="odd" id="7.2.7">
<td class="link">
<a href="repo/7.2/dcache-7.2.7-1.noarch.rpm">
dCache 7.2.7 (rpm)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
b0fdd675be06ddce6b764b5e32a4b423
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#7">
7.2.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.7.tar.gz">
dCache 7.2.7 (tgz)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
8c8ebc6237ccf92ea7219029d11fb4d6
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.7-1_all.deb">
dCache 7.2.7 (Debian package)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
f7cda2375ed798aa8bc8c91d707c99e9
</td>
</tr>
<tr class="even" id="7.2.6">
<td class="link">
<a href="repo/7.2/dcache-7.2.6-1.noarch.rpm">
dCache 7.2.6 (rpm)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
57aea25fe8fb9083d692fee04bf3c116
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#6">
7.2.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.6.tar.gz">
dCache 7.2.6 (tgz)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
911108f3e8321cefa1b47bab82567fc8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.6-1_all.deb">
dCache 7.2.6 (Debian package)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
d3cd096fae05c3b3f8f2f76064a60bb7
</td>
</tr>
<tr class="odd" id="7.2.5">
<td class="link">
<a href="repo/7.2/dcache-7.2.5-1.noarch.rpm">
dCache 7.2.5 (rpm)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
b5845e2dafccf9b019344235a4e6c6a6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#5">
7.2.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.5.tar.gz">
dCache 7.2.5 (tgz)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
c283d1e1b9764703457d735796b6b5ee
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.5-1_all.deb">
dCache 7.2.5 (Debian package)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
efa8d3973f88e0c4825464b7b5c0b5c1
</td>
</tr>
<tr class="even" id="7.2.4">
<td class="link">
<a href="repo/7.2/dcache-7.2.4-1.noarch.rpm">
dCache 7.2.4 (rpm)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
322eb33714112189b08228215893e52e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#4">
7.2.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.4.tar.gz">
dCache 7.2.4 (tgz)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
6f03257cc618bc2cf6277f11f7dfddc2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.4-1_all.deb">
dCache 7.2.4 (Debian package)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
1f8e1337c574b6cc9f3b87c608ce4ab1
</td>
</tr>
<tr class="odd" id="7.2.3">
<td class="link">
<a href="repo/7.2/dcache-7.2.3-1.noarch.rpm">
dCache 7.2.3 (rpm)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
d69d55c07535e751fd403bd27e56200a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#3">
7.2.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.3.tar.gz">
dCache 7.2.3 (tgz)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
f62b4187a66467fdbdb90048b922399f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.3-1_all.deb">
dCache 7.2.3 (Debian package)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
366f7f34ed62b0757bbc086065b30e26
</td>
</tr>
<tr class="even" id="7.2.2">
<td class="link">
<a href="repo/7.2/dcache-7.2.2-1.noarch.rpm">
dCache 7.2.2 (rpm)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
0d71a7431ff65ce9b51f71165a75d4bc
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#2">
7.2.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.2.tar.gz">
dCache 7.2.2 (tgz)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
74188f085d98fa6b0673ef0abf3dd2e3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.2-1_all.deb">
dCache 7.2.2 (Debian package)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
b388d765bda3b1a1aba2060de5d3829e
</td>
</tr>
<tr class="odd" id="7.2.1">
<td class="link">
<a href="repo/7.2/dcache-7.2.1-1.noarch.rpm">
dCache 7.2.1 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
41ecf67e0aac2f8ed971a40ebfc88deb
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#1">
7.2.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache-7.2.1.tar.gz">
dCache 7.2.1 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
4902cd3bd197cf48b87245eddb996710
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/7.2/dcache_7.2.1-1_all.deb">
dCache 7.2.1 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
737926a8bb59212599593e4f0a5ac670
</td>
</tr>
<tr class="even" id="7.2.0">
<td class="link">
<a href="repo/7.2/dcache-7.2.0-1.noarch.rpm">
dCache 7.2.0 (rpm)
</a>
</td>
<td class="date">
5.10.2021
</td>
<td class="hash">
235954060866bed09d629595d771e4fa
</td>
<td class="notes" rowspan="3">
<a href="release-notes-7.2.shtml#0">
7.2.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache-7.2.0.tar.gz">
dCache 7.2.0 (tgz)
</a>
</td>
<td class="date">
5.10.2021
</td>
<td class="hash">
10495cd388dfd6c4f20e7bec3d7b9baf
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/7.2/dcache_7.2.0-1_all.deb">
dCache 7.2.0 (Debian package)
</a>
</td>
<td class="date">
5.10.2021
</td>
<td class="hash">
894d6b15b337f8d4f999273724ccba66
</td>
</tr>
</tbody>
