<tr class="rec" id="8.1.27">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.27-1.noarch.rpm">
dCache 8.1.27 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
f0884833034810093dd05770e3104245
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#27">
8.1.27
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.27.tar.gz">
dCache 8.1.27 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
2d326679d45742fa07dff8d8488e598c
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.27-1_all.deb">
dCache 8.1.27 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
1f3426f9c44680a507070f345e3dde09
</td>
</tr>
<tr class="odd" id="8.1.26">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.26-1.noarch.rpm">
dCache 8.1.26 (rpm)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
b869d8654aca333549a1d486a6671aa4
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#26">
8.1.26
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.26.tar.gz">
dCache 8.1.26 (tgz)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
6900db9b9cba30db429408e28ac9134a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.26-1_all.deb">
dCache 8.1.26 (Debian package)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
241fd7a70b21e9335b99d41a438f98f1
</td>
</tr>
<tr class="even" id="8.1.25">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.25-1_all.deb">
dCache 8.1.25 (Debian package)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
f828b0520b35f39a890c68a3274e7590
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#25">
8.1.25
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.25-1.noarch.rpm">
dCache 8.1.25 (rpm)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
218f764278e408dfff188a46520b1021
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.25.tar.gz">
dCache 8.1.25 (tgz)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
7c4d9f280e865523d2cb598cd94eb817
</td>
</tr>
<tr class="odd" id="8.1.24">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.24-1_all.deb">
dCache 8.1.24 (Debian package)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
93a06532ad1e3da9e02a8edf21722641
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#24">
8.1.24
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.24-1.noarch.rpm">
dCache 8.1.24 (rpm)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
7192742230ea206bb56a95ba543d7f0f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.24.tar.gz">
dCache 8.1.24 (tgz)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
36cadc8d35a7bf36f803f594113104a6
</td>
</tr>
<tr class="even" id="8.1.23">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.23-1.noarch.rpm">
dCache 8.1.23 (rpm)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
879a6fe3625a1e6fcec2d2f2fe104f8a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#23">
8.1.23
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.23.tar.gz">
dCache 8.1.23 (tgz)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
6d5c009151338391f615de3484cf4036
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.23-1_all.deb">
dCache 8.1.23 (Debian package)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
9af5dfe9e89c0ef14c0734662fcfc0b5
</td>
</tr>
<tr class="odd" id="8.1.22">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.22-1.noarch.rpm">
dCache 8.1.22 (rpm)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
9f6d5182472e12053d6ce88e9e604e84
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#22">
8.1.22
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.22.tar.gz">
dCache 8.1.22 (tgz)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
0f9a1b0e4490154765c66f27750ac274
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.22-1_all.deb">
dCache 8.1.22 (Debian package)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
d10c12c1f111aecff4744689ed20ed80
</td>
</tr>
<tr class="even" id="8.1.21">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.21-1_all.deb">
dCache 8.1.21 (Debian package)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
db85a6dce44f82e1e605b1f8a0d01dae
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#21">
8.1.21
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.21-1.noarch.rpm">
dCache 8.1.21 (rpm)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
1ff09a1abaa4978347acc64281d820b9
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.21.tar.gz">
dCache 8.1.21 (tgz)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
1f77fbe65e81ede717891e92d6c8652b
</td>
</tr>
<tr class="odd" id="8.1.20">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.20-1.noarch.rpm">
dCache 8.1.20 (rpm)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
9172f91e184761c0adb6806e696eb7c1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#20">
8.1.20
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.20.tar.gz">
dCache 8.1.20 (tgz)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
8eb36574359e71950ecfd95495e4b80a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.20-1_all.deb">
dCache 8.1.20 (Debian package)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
7358b871daaa8b6e847d69f0863e3925
</td>
</tr>
<tr class="even" id="8.1.19">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.19-1.noarch.rpm">
dCache 8.1.19 (rpm)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
c74a8e524ee98ec80f3126470764d460
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#19">
8.1.19
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.19.tar.gz">
dCache 8.1.19 (tgz)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
b5f002010d0d0ae15ceb31dfd99e4dfd
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.19-1_all.deb">
dCache 8.1.19 (Debian package)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
fdf0ceeb77b4f54ac3c92e51242e95e5
</td>
</tr>
<tr class="odd" id="8.1.18">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.18-1.noarch.rpm">
dCache 8.1.18 (rpm)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
32aad817ecf6f45ed64bf5c719b600fe
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#18">
8.1.18
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.18.tar.gz">
dCache 8.1.18 (tgz)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
e162ab92faaf28f9af0e8b440f7e8f71
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.18-1_all.deb">
dCache 8.1.18 (Debian package)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
8bbfb0d6f1a23cd99346be5ccb4c1222
</td>
</tr>
<tr class="even" id="8.1.17">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.17-1_all.deb">
dCache 8.1.17 (Debian package)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
5d9418752894af56f92c4431990fc3bb
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#17">
8.1.17
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.17-1.noarch.rpm">
dCache 8.1.17 (rpm)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
d713e599bb173679d287be09fb9004eb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.17.tar.gz">
dCache 8.1.17 (tgz)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
644f5f77f520649b6dfe73e5e67f3034
</td>
</tr>
<tr class="odd" id="8.1.16">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.16-1.noarch.rpm">
dCache 8.1.16 (rpm)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
554175e0f7c6070b4907a78afa7de5ec
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#16">
8.1.16
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.16.tar.gz">
dCache 8.1.16 (tgz)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
edb3d0b3d63621bd8efb4b4314472290
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.16-1_all.deb">
dCache 8.1.16 (Debian package)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
007e6c0846cabcadf5fd9b186886ccbb
</td>
</tr>
<tr class="even" id="8.1.15">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.15-1_all.deb">
dCache 8.1.15 (Debian package)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
dca61aa3edbe3bb82b463b95b78d5467
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#15">
8.1.15
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.15-1.noarch.rpm">
dCache 8.1.15 (rpm)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
c0b8e0a6b0ee3f70f1cf6a8ab412186f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.15.tar.gz">
dCache 8.1.15 (tgz)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
6ba7497bb4b6f2fe52a877879165a498
</td>
</tr>
<tr class="odd" id="8.1.14">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.14-1.noarch.rpm">
dCache 8.1.14 (rpm)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
f38aa769d391b52bbb0e832863ce65ef
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#14">
8.1.14
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.14.tar.gz">
dCache 8.1.14 (tgz)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
a97f7d6baca382549578d577f52eadb5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.14-1_all.deb">
dCache 8.1.14 (Debian package)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
1e0873fb8db736de3538e3569df8b92d
</td>
</tr>
<tr class="even" id="8.1.13">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.13-1_all.deb">
dCache 8.1.13 (Debian package)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
4112bac998bbc3cfb9cb015139953f6d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#13">
8.1.13
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.13-1.noarch.rpm">
dCache 8.1.13 (rpm)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
63b0b858a7bee7d8b29b70ea2af2b247
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.13.tar.gz">
dCache 8.1.13 (tgz)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
0094bb1bbba873e779a0b5f68398ef12
</td>
</tr>
<tr class="odd" id="8.1.12">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.12-1.noarch.rpm">
dCache 8.1.12 (rpm)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
95042e80113d0786ec58de3efe8cb15b
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#12">
8.1.12
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.12.tar.gz">
dCache 8.1.12 (tgz)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
a5379ba3365e06d5f2a55a9984f3f7f3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.12-1_all.deb">
dCache 8.1.12 (Debian package)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
31957ef3d7c17666531181e3c9cb9481
</td>
</tr>
<tr class="even" id="8.1.11">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.11-1.noarch.rpm">
dCache 8.1.11 (rpm)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
a7e080bcc285fd8c8c0e25eac59f0441
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#11">
8.1.11
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.11.tar.gz">
dCache 8.1.11 (tgz)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
d56fb728beb33d8f015b3e8ee5956761
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.11-1_all.deb">
dCache 8.1.11 (Debian package)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
c76d4144a981387129c9aea1099007b7
</td>
</tr>
<tr class="odd" id="8.1.10">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.10-1.noarch.rpm">
dCache 8.1.10 (rpm)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
1901643f9c3b93dc548260ea3087082d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#10">
8.1.10
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.10.tar.gz">
dCache 8.1.10 (tgz)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
606517dcd31b1e565b1683993e5f2edb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.10-1_all.deb">
dCache 8.1.10 (Debian package)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
8485e0863a51bc6abfe9632ee1a09df8
</td>
</tr>
<tr class="even" id="8.1.9">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.9-1.noarch.rpm">
dCache 8.1.9 (rpm)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
80badbe8f653d6ce9d0d519b2501d958
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#9">
8.1.9
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.9.tar.gz">
dCache 8.1.9 (tgz)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
971aaf7271f6a4037f4cd9e5b234681e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.9-1_all.deb">
dCache 8.1.9 (Debian package)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
a1d8d240536218e29122820aca5153ae
</td>
</tr>
<tr class="odd" id="8.1.8">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.8-1_all.deb">
dCache 8.1.8 (Debian package)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
5cac7d9f21e09fc13ad7475ba9552ca5
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#8">
8.1.8
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.8-1.noarch.rpm">
dCache 8.1.8 (rpm)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
2eb7d04390a75dff47282e1bece3784d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.8.tar.gz">
dCache 8.1.8 (tgz)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
460888aee33c57467c7b759223c5e3ff
</td>
</tr>
<tr class="even" id="8.1.7">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.7-1.noarch.rpm">
dCache 8.1.7 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
81873af46e3bb13890cdb4446d328b70
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#7">
8.1.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.7.tar.gz">
dCache 8.1.7 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
24efaf3ad99eee84fdc3d64967761b30
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.7-1_all.deb">
dCache 8.1.7 (Debian package)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
3b6e8af229893817fde09d7ff371dfc9
</td>
</tr>
<tr class="odd" id="8.1.6">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.6-1.noarch.rpm">
dCache 8.1.6 (rpm)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
38ad3f530fef23a64500cc8689d6bfee
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#6">
8.1.6
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.6.tar.gz">
dCache 8.1.6 (tgz)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
0f115fde52e7e5d18b7288727a69e6e2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.6-1_all.deb">
dCache 8.1.6 (Debian package)
</a>
</td>
<td class="date">
13.9.2022
</td>
<td class="hash">
02fb83045539ef94456eca5ae03e0b21
</td>
</tr>
<tr class="even" id="8.1.5">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.5-1.noarch.rpm">
dCache 8.1.5 (rpm)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
41cfb1d1631db2a0fbdda9cb1ab3502c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#5">
8.1.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.5.tar.gz">
dCache 8.1.5 (tgz)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
4179ac0ddbf09c555819be7f5e699f8e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.5-1_all.deb">
dCache 8.1.5 (Debian package)
</a>
</td>
<td class="date">
8.8.2022
</td>
<td class="hash">
480cbc687c8b14d8f7938239506bc73e
</td>
</tr>
<tr class="odd" id="8.1.4">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.4-1.noarch.rpm">
dCache 8.1.4 (rpm)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
8004dc51557d5076853c4fcbc8df1334
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#4">
8.1.4
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.4.tar.gz">
dCache 8.1.4 (tgz)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
e679296d65b6b73d70e9b513d7fade51
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.4-1_all.deb">
dCache 8.1.4 (Debian package)
</a>
</td>
<td class="date">
27.7.2022
</td>
<td class="hash">
70a86427920242a3cdb979cb97984cf4
</td>
</tr>
<tr class="even" id="8.1.3">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.3-1.noarch.rpm">
dCache 8.1.3 (rpm)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
29df3d4daa1c6b7dc9d5740c9b957c88
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#3">
8.1.3
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.3.tar.gz">
dCache 8.1.3 (tgz)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
c27ed929b7d9c989ac387ec0673ff933
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.3-1_all.deb">
dCache 8.1.3 (Debian package)
</a>
</td>
<td class="date">
6.7.2022
</td>
<td class="hash">
4e162c117e002a9396dc18a95de0afcd
</td>
</tr>
<tr class="odd" id="8.1.2">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.2-1.noarch.rpm">
dCache 8.1.2 (rpm)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
9d2f90c5f8246a5093f52983a402251b
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#2">
8.1.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.2.tar.gz">
dCache 8.1.2 (tgz)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
b4797127285dcd6d0b2782212b14df40
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.2-1_all.deb">
dCache 8.1.2 (Debian package)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
ad975275fae7ed09be2b0429955e07b9
</td>
</tr>
<tr class="even" id="8.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.1-1.noarch.rpm">
dCache 8.1.1 (rpm)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
c9a3e470364c15cb237846e6a33a2401
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#1">
8.1.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.1.tar.gz">
dCache 8.1.1 (tgz)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
717c6b8a941d5968e349accde2a00be1
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.1-1_all.deb">
dCache 8.1.1 (Debian package)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
f48cdb11f6ebc7f26acf299021188323
</td>
</tr>
<tr class="odd" id="8.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.0-1.noarch.rpm">
dCache 8.1.0 (rpm)
</a>
</td>
<td class="date">
19.5.2022
</td>
<td class="hash">
dcc3ddf8faf7f1d58a16fea00e20838c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-8-1#0">
8.1.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache-8.1.0.tar.gz">
dCache 8.1.0 (tgz)
</a>
</td>
<td class="date">
19.5.2022
</td>
<td class="hash">
af72eeee7ac27f53b9fe4b35b45314d2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/8.1/dcache_8.1.0-1_all.deb">
dCache 8.1.0 (Debian package)
</a>
</td>
<td class="date">
19.5.2022
</td>
<td class="hash">
455143c5a3b69f555f54e136f4e6f4a4
</td>
</tr>
</tbody>
