<tr class="rec" id="6.0.46">
<td class="link">
<a href="repo/6.0/dcache-6.0.46-1.noarch.rpm">
dCache 6.0.46 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
23e1320631c1de40b07f5954c02545af
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#46">
6.0.46
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/6.0/dcache-6.0.46.tar.gz">
dCache 6.0.46 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
86a535ac656d0dcca3a695f8cebd95a2
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/6.0/dcache_6.0.46-1_all.deb">
dCache 6.0.46 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
63969dc80b2920147480acfcdae19c96
</td>
</tr>
<tr class="odd" id="6.0.45">
<td class="link">
<a href="repo/6.0/dcache-6.0.45-1.noarch.rpm">
dCache 6.0.45 (rpm)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
462e69d6c5a0b63ffaafa169abdb0323
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#45">
6.0.45
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.45.tar.gz">
dCache 6.0.45 (tgz)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
f97085dd7f511adc3d9d09dbada5ded2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.45-1_all.deb">
dCache 6.0.45 (Debian package)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
1ae1a8b826d167c576a438da00d1c695
</td>
</tr>
<tr class="even" id="6.0.44">
<td class="link">
<a href="repo/6.0/dcache-6.0.44-1.noarch.rpm">
dCache 6.0.44 (rpm)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
15352727faad5ac4f42b5c9a1cfc9fa1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#44">
6.0.44
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.44.tar.gz">
dCache 6.0.44 (tgz)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
67b794bc134aae20c3ff4339d27eb2ac
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.44-1_all.deb">
dCache 6.0.44 (Debian package)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
1beaea751eb4b72e09e489504a1a7ea0
</td>
</tr>
<tr class="odd" id="6.0.43">
<td class="link">
<a href="repo/6.0/dcache-6.0.43-1.noarch.rpm">
dCache 6.0.43 (rpm)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
efe7b78fa8012da35ed1d1c333fa78e3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#43">
6.0.43
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.43.tar.gz">
dCache 6.0.43 (tgz)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
934e0c77973785f38e840a76744d9de7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.43-1_all.deb">
dCache 6.0.43 (Debian package)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
2b141bfa31e9140cf9403db4e8412910
</td>
</tr>
<tr class="even" id="6.0.42">
<td class="link">
<a href="repo/6.0/dcache-6.0.42-1.noarch.rpm">
dCache 6.0.42 (rpm)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
0cd2575ed592f82ff56b3279d76f1f50
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#42">
6.0.42
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.42.tar.gz">
dCache 6.0.42 (tgz)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
99b954987a1cd4732d3690383f9be1b0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.42-1_all.deb">
dCache 6.0.42 (Debian package)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
6dcb0465d40c366263ef08b519d3f49c
</td>
</tr>
<tr class="odd" id="6.0.41">
<td class="link">
<a href="repo/6.0/dcache-6.0.41-1.noarch.rpm">
dCache 6.0.41 (rpm)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
eaeea72e9b47edc458c2ad158d832ba9
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#41">
6.0.41
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.41.tar.gz">
dCache 6.0.41 (tgz)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
753f8049ce6efc0317122574be04e9f4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.41-1_all.deb">
dCache 6.0.41 (Debian package)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
0c724877ccc3da133e5bc23ce51d9f06
</td>
</tr>
<tr class="even" id="6.0.40">
<td class="link">
<a href="repo/6.0/dcache-6.0.40-1.noarch.rpm">
dCache 6.0.40 (rpm)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
f235155a8e23aec01af0d2fbbfdc0c25
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#40">
6.0.40
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.40.tar.gz">
dCache 6.0.40 (tgz)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
ffbce79226ed13bd5c29e5ccf560712b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.40-1_all.deb">
dCache 6.0.40 (Debian package)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
618ffe1c0dd8210003e9e845a8ad4336
</td>
</tr>
<tr class="odd" id="6.0.39">
<td class="link">
<a href="repo/6.0/dcache-6.0.39-1.noarch.rpm">
dCache 6.0.39 (rpm)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
f169c235054fa2f15990a9d7818ccfd0
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#39">
6.0.39
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.39.tar.gz">
dCache 6.0.39 (tgz)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
5d9f8d06a253c0a896847c37fb41cc73
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.39-1_all.deb">
dCache 6.0.39 (Debian package)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
7ef54107f19bde8d57e2e630140fe2f0
</td>
</tr>
<tr class="even" id="6.0.38">
<td class="link">
<a href="repo/6.0/dcache-6.0.38-1.noarch.rpm">
dCache 6.0.38 (rpm)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
c8953f9724d12c8014848c12634edfe6
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#38">
6.0.38
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.38.tar.gz">
dCache 6.0.38 (tgz)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
bcf844fdaf744e2dc58ee54d75bdb52f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.38-1_all.deb">
dCache 6.0.38 (Debian package)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
6ca71a010c734f6d8b556332e8364bda
</td>
</tr>
<tr class="odd" id="6.0.37">
<td class="link">
<a href="repo/6.0/dcache-6.0.37-1.noarch.rpm">
dCache 6.0.37 (rpm)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
80ee9e5f9cc6ab94ce082dea3299e479
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#37">
6.0.37
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.37.tar.gz">
dCache 6.0.37 (tgz)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
7259e1f6ed3b146d3e847050e95ab2e6
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.37-1_all.deb">
dCache 6.0.37 (Debian package)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
a25f1c6253d14988bd2ef31b312b23c2
</td>
</tr>
<tr class="even" id="6.0.36">
<td class="link">
<a href="repo/6.0/dcache-6.0.36-1.noarch.rpm">
dCache 6.0.36 (rpm)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
793600b3d4945f48e16b294bfd16f15d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#36">
6.0.36
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.36.tar.gz">
dCache 6.0.36 (tgz)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
b2a154d09cf918c09e27572f368c4cfd
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.36-1_all.deb">
dCache 6.0.36 (Debian package)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
ab2b483769b8e1787fbb1949cd996109
</td>
</tr>
<tr class="odd" id="6.0.35">
<td class="link">
<a href="repo/6.0/dcache-6.0.35-1.noarch.rpm">
dCache 6.0.35 (rpm)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
1c032f27809e87a94565908004718f4c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#35">
6.0.35
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.35.tar.gz">
dCache 6.0.35 (tgz)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
4f298e867814a561f943df2bd53d81ae
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.35-1_all.deb">
dCache 6.0.35 (Debian package)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
6f6b2d90897eb9e02ebaea0a79f7765d
</td>
</tr>
<tr class="even" id="6.0.34">
<td class="link">
<a href="repo/6.0/dcache-6.0.34-1.noarch.rpm">
dCache 6.0.34 (rpm)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
b162a0c2e0b05e1c83a7ed1353bb90ad
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#34">
6.0.34
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.34.tar.gz">
dCache 6.0.34 (tgz)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
cce5d1e670b9dfcd47b6aeae9acc2747
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.34-1_all.deb">
dCache 6.0.34 (Debian package)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
3afcf939b2a21c0395300bd79697b8cb
</td>
</tr>
<tr class="odd" id="6.0.33">
<td class="link">
<a href="repo/6.0/dcache-6.0.33-1.noarch.rpm">
dCache 6.0.33 (rpm)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
6c40d825ce1b99e47a6d4e2966f2418a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#33">
6.0.33
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.33.tar.gz">
dCache 6.0.33 (tgz)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
bc6d5744e9704f476665a7e3f4eb0e36
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.33-1_all.deb">
dCache 6.0.33 (Debian package)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
979e92e63a4202b5c879b5177bf533b9
</td>
</tr>
<tr class="even" id="6.0.32">
<td class="link">
<a href="repo/6.0/dcache-6.0.32-1.noarch.rpm">
dCache 6.0.32 (rpm)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
938a29295fb1f624ff752a420ce32b32
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#32">
6.0.32
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.32.tar.gz">
dCache 6.0.32 (tgz)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
d287743b4b354f0719aa6fdfa915c8a1
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.32-1_all.deb">
dCache 6.0.32 (Debian package)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
e29d4c372a0574c15b47eef846e96678
</td>
</tr>
<tr class="odd" id="6.0.31">
<td class="link">
<a href="repo/6.0/dcache-6.0.31-1.noarch.rpm">
dCache 6.0.31 (rpm)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
e0f1e6ff57e596b3aa1559df0f0d9c52
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#31">
6.0.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.31.tar.gz">
dCache 6.0.31 (tgz)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
019a1eb87090bd4c42bdf63452f48bd7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.31-1_all.deb">
dCache 6.0.31 (Debian package)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
8a2b1def7e446cefb3e8754fe2effc0c
</td>
</tr>
<tr class="even" id="6.0.30">
<td class="link">
<a href="repo/6.0/dcache-6.0.30-1.noarch.rpm">
dCache 6.0.30 (rpm)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
b36a334c6c09e63663bdbe3b526abea1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#30">
6.0.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.30.tar.gz">
dCache 6.0.30 (tgz)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
ce1a59797eaf825e3b51c5452f446055
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.30-1_all.deb">
dCache 6.0.30 (Debian package)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
8cecd990ebe995372755225a0846e2a9
</td>
</tr>
<tr class="odd" id="6.0.29">
<td class="link">
<a href="repo/6.0/dcache-6.0.29-1.noarch.rpm">
dCache 6.0.29 (rpm)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
f3178f25d0d98b225697ac71fa631d19
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#29">
6.0.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.29.tar.gz">
dCache 6.0.29 (tgz)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
51d0653d5fb6758a1d65a10fdccc7afd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.29-1_all.deb">
dCache 6.0.29 (Debian package)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
ab82c4a594f3e6c6e4e0884198887c36
</td>
</tr>
<tr class="even" id="6.0.28">
<td class="link">
<a href="repo/6.0/dcache-6.0.28-1.noarch.rpm">
dCache 6.0.28 (rpm)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
0b7892c1794dc31f899c30c81d372ad5
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#28">
6.0.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.28.tar.gz">
dCache 6.0.28 (tgz)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
9f49eb7df63722f8e03bc0f2aad97107
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.28-1_all.deb">
dCache 6.0.28 (Debian package)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
b479dc221a1a371b17b09785025fda42
</td>
</tr>
<tr class="odd" id="6.0.27">
<td class="link">
<a href="repo/6.0/dcache-6.0.27-1.noarch.rpm">
dCache 6.0.27 (rpm)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
a525478519d070a973c72e0918cedd0f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#27">
6.0.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.27.tar.gz">
dCache 6.0.27 (tgz)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
762a711ad2ebbca8c6a182edcbb1be6c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.27-1_all.deb">
dCache 6.0.27 (Debian package)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
5ee5204c1ed3f812799fceebad7eb761
</td>
</tr>
<tr class="even" id="6.0.26">
<td class="link">
<a href="repo/6.0/dcache_6.0.26-1_all.deb">
dCache 6.0.26 (Debian package)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
4dd59568f77d15423b3018cbb2360655
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#26">
6.0.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.26-1.noarch.rpm">
dCache 6.0.26 (rpm)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
6ca58245c710249b72cf4ccf11b61292
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.26.tar.gz">
dCache 6.0.26 (tgz)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
52972ce47ba6e715a0dc3310cff1d018
</td>
</tr>
<tr class="odd" id="6.0.25">
<td class="link">
<a href="repo/6.0/dcache-6.0.25-1.noarch.rpm">
dCache 6.0.25 (rpm)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
6b9ae6fe01c3636896ff3338a7d1ad45
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#25">
6.0.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.25.tar.gz">
dCache 6.0.25 (tgz)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
0b39fa2d10b2190600ac19eff0a26b52
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.25-1_all.deb">
dCache 6.0.25 (Debian package)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
6f3b9f5038e11fac0ed79acb9ac50278
</td>
</tr>
<tr class="even" id="6.0.24">
<td class="link">
<a href="repo/6.0/dcache-6.0.24-1.noarch.rpm">
dCache 6.0.24 (rpm)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
48a084890b6b5943232274e1c21d4d69
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#24">
6.0.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.24.tar.gz">
dCache 6.0.24 (tgz)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
e12f2604c04dff5d4b519e66950f9802
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.24-1_all.deb">
dCache 6.0.24 (Debian package)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
5058d0852cee97f1962645538bda37c5
</td>
</tr>
<tr class="odd" id="6.0.23">
<td class="link">
<a href="repo/6.0/dcache-6.0.23-1.noarch.rpm">
dCache 6.0.23 (rpm)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
794f16d25e1094fe821c8d0648ebc5a2
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#23">
6.0.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.23.tar.gz">
dCache 6.0.23 (tgz)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
57fc318238ac105198651cae2b463607
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache_6.0.23-1_all.deb">
dCache 6.0.23 (Debian package)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
0142c5af5c6b7f377fc11235fdc6cb7b
</td>
</tr>
<tr class="even" id="6.0.22">
<td class="link">
<a href="repo/6.0/dcache-6.0.22-1.noarch.rpm">
dCache 6.0.22 (rpm)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
586c48526c9414f2b3503627b2f432db
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#22">
6.0.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.22.tar.gz">
dCache 6.0.22 (tgz)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
7c32ea03ebc4d11f8a5a5bd8dbce7a08
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.22-1_all.deb">
dCache 6.0.22 (Debian package)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
b317f4c95ee8a2c5e76da0fe7a217c47
</td>
</tr>
<tr class="odd" id="6.0.21">
<td class="link">
<a href="repo/6.0/dcache_6.0.21-1_all.deb">
dCache 6.0.21 (Debian package)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
c92354ab245dda60089c88208c72154c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#21">
6.0.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.21-1.noarch.rpm">
dCache 6.0.21 (rpm)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
b00623066d308ffc23e59ba80dcdce05
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.21.tar.gz">
dCache 6.0.21 (tgz)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
7aeb78392aa3b6c6b97324a07c9a3a3a
</td>
</tr>
<tr class="even" id="6.0.20">
<td class="link">
<a href="repo/6.0/dcache_6.0.20-1_all.deb">
dCache 6.0.20 (Debian package)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
c3892cc789fb97d47f8e4b07bd1becc7
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#20">
6.0.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.20-1.noarch.rpm">
dCache 6.0.20 (rpm)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
5d4fa2b4599b01796d3b9fe7a4856ec8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.20.tar.gz">
dCache 6.0.20 (tgz)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
90653effda44bd39eb49680e829bb45c
</td>
</tr>
<tr class="odd" id="6.0.19">
<td class="link">
<a href="repo/6.0/dcache_6.0.19-1_all.deb">
dCache 6.0.19 (Debian package)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
c5afdd29f392c9b81b81fe6655406039
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#19">
6.0.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.19-1.noarch.rpm">
dCache 6.0.19 (rpm)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
18c8b775b6c6e1dc610e2d926e494e94
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.19.tar.gz">
dCache 6.0.19 (tgz)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
2e9d2123230b6b6c20bdea6706541ee5
</td>
</tr>
<tr class="even" id="6.0.18">
<td class="link">
<a href="repo/6.0/dcache_6.0.18-1_all.deb">
dCache 6.0.18 (Debian package)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
45d6729e0b56d0cf07619a497c4e8a49
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#18">
6.0.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.18-1.noarch.rpm">
dCache 6.0.18 (rpm)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
7c79f7fb535e0b9d8bbfbdbaeb3c2145
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.18.tar.gz">
dCache 6.0.18 (tgz)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
7500ba8d83e3bd2fc620f5be8e6f9be5
</td>
</tr>
<tr class="odd" id="6.0.17">
<td class="link">
<a href="repo/6.0/dcache_6.0.17-1_all.deb">
dCache 6.0.17 (Debian package)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
3f37ce076ecad3e47b014241aca1b4e4
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#17">
6.0.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.17-1.noarch.rpm">
dCache 6.0.17 (rpm)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
85b23dd10c181f661a8d2ee21befb131
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.17.tar.gz">
dCache 6.0.17 (tgz)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
586b0ec4188c4a7e52132400c3e2ee4d
</td>
</tr>
<tr class="even" id="6.0.15">
<td class="link">
<a href="repo/6.0/dcache_6.0.15-1_all.deb">
dCache 6.0.15 (Debian package)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
6b596066d0823efc7965e91b5349a4ba
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#15">
6.0.15
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.15-1.noarch.rpm">
dCache 6.0.15 (rpm)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
b1f95eb23e096a6aea1d8e4bd3485b42
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.15.tar.gz">
dCache 6.0.15 (tgz)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
4ad2821836701b3717bda9967f2d385f
</td>
</tr>
<tr class="odd" id="6.0.14">
<td class="link">
<a href="repo/6.0/dcache_6.0.14-1_all.deb">
dCache 6.0.14 (Debian package)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
121f5e22e8378edf7baf7a84bc3b4fff
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#14">
6.0.14
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.14-1.noarch.rpm">
dCache 6.0.14 (rpm)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
26af911fe65cfab9b5d7b5335a725e01
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.14.tar.gz">
dCache 6.0.14 (tgz)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
5c92b4ba5e7114e0fe76b80d0837cfdd
</td>
</tr>
<tr class="even" id="6.0.13">
<td class="link">
<a href="repo/6.0/dcache_6.0.13-1_all.deb">
dCache 6.0.13 (Debian package)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
80983f8cf79135da3828db3597494cf3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#13">
6.0.13
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.13-1.noarch.rpm">
dCache 6.0.13 (rpm)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
8e675e710e5d243bc9ea70534d0f986e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.13.tar.gz">
dCache 6.0.13 (tgz)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
8cfa5d36b8d35b963f903a4680547320
</td>
</tr>
<tr class="odd" id="6.0.12">
<td class="link">
<a href="repo/6.0/dcache_6.0.12-1_all.deb">
dCache 6.0.12 (Debian package)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
3b0fd6b16a286e42b123b1466b36be07
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#12">
6.0.12
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.12-1.noarch.rpm">
dCache 6.0.12 (rpm)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
57846baae03b017477f37a6ce96d5e3b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.12.tar.gz">
dCache 6.0.12 (tgz)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
832dd192dc4d3387b524befd826d75d5
</td>
</tr>
<tr class="even" id="6.0.11">
<td class="link">
<a href="repo/6.0/dcache_6.0.11-1_all.deb">
dCache 6.0.11 (Debian package)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
0fda2a3f0ea2439f677b98d7b2e63001
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#11">
6.0.11
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.11-1.noarch.rpm">
dCache 6.0.11 (rpm)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
1d899867277251b2a5a7b550e92787e9
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.11.tar.gz">
dCache 6.0.11 (tgz)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
d8d65154074da7431ca8003558f9f56f
</td>
</tr>
<tr class="odd" id="6.0.10">
<td class="link">
<a href="repo/6.0/dcache_6.0.10-1_all.deb">
dCache 6.0.10 (Debian package)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
9e33bf6439a79ed165adfd9dc92bd8f1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#10">
6.0.10
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.10-1.noarch.rpm">
dCache 6.0.10 (rpm)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
8c4fd9acaf327f711e91b814759324b7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.10.tar.gz">
dCache 6.0.10 (tgz)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
e3e0a32be723607adf45d5d98f1ea0c3
</td>
</tr>
<tr class="even" id="6.0.9">
<td class="link">
<a href="repo/6.0/dcache_6.0.9-1_all.deb">
dCache 6.0.9 (Debian package)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
25712833b513932527e6eedd60325677
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#9">
6.0.9
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.9-1.noarch.rpm">
dCache 6.0.9 (rpm)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
5139a2dd97ea8056be1f6195c9f403ce
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.9.tar.gz">
dCache 6.0.9 (tgz)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
1e94f359f6f61df6b261033d58d95aaa
</td>
</tr>
<tr class="odd" id="6.0.8">
<td class="link">
<a href="repo/6.0/dcache_6.0.8-1_all.deb">
dCache 6.0.8 (Debian package)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
5202af48889fbc21f2d1f47a909bc7aa
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#8">
6.0.8
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.8-1.noarch.rpm">
dCache 6.0.8 (rpm)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
3cbdb3e1fb6c3bafa23583387f2f4bd1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.8.tar.gz">
dCache 6.0.8 (tgz)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
7ca4640d29e0982494efc5988e4640dd
</td>
</tr>
<tr class="even" id="6.0.7">
<td class="link">
<a href="repo/6.0/dcache_6.0.7-1_all.deb">
dCache 6.0.7 (Debian package)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
95e2c59cf3b2bc4b16de29d54d19a1c7
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#7">
6.0.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.7-1.noarch.rpm">
dCache 6.0.7 (rpm)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
fc8fc20d8210d151eb00f2f4585d7f70
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.7.tar.gz">
dCache 6.0.7 (tgz)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
4b898207f45b4c146a2ab375ad60a776
</td>
</tr>
<tr class="odd" id="6.0.6">
<td class="link">
<a href="repo/6.0/dcache_6.0.6-1_all.deb">
dCache 6.0.6 (Debian package)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
64ace51c4b33773a34155125b64e3f4c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#6">
6.0.6
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.6-1.noarch.rpm">
dCache 6.0.6 (rpm)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
9481d382fcadb384b65cdc880d234240
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.6.tar.gz">
dCache 6.0.6 (tgz)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
6e81902c2ddaea107041c7d247e13bbc
</td>
</tr>
<tr class="even" id="6.0.5">
<td class="link">
<a href="repo/6.0/dcache_6.0.5-1_all.deb">
dCache 6.0.5 (Debian package)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
f57e12cb5c48e805d86aac191c343243
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#5">
6.0.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.5-1.noarch.rpm">
dCache 6.0.5 (rpm)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
4d0bb007c2a2450edb41787d73a1c609
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.5.tar.gz">
dCache 6.0.5 (tgz)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
7e9bd11c6830f61b3f619cb4a867775e
</td>
</tr>
<tr class="odd" id="6.0.4">
<td class="link">
<a href="repo/6.0/dcache_6.0.4-1_all.deb">
dCache 6.0.4 (Debian package)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
f5b9123b82cbe5a51186454482d2a5cd
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#4">
6.0.4
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.4-1.noarch.rpm">
dCache 6.0.4 (rpm)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
592035d11082321296591a0a80d15738
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.4.tar.gz">
dCache 6.0.4 (tgz)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
8bc20aa9c97a595bb216a5999e75951d
</td>
</tr>
<tr class="even" id="6.0.3">
<td class="link">
<a href="repo/6.0/dcache_6.0.3-1_all.deb">
dCache 6.0.3 (Debian package)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
518d535cd9720d04e77e01401845cc5f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#3">
6.0.3
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.3-1.noarch.rpm">
dCache 6.0.3 (rpm)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
fde578b4c3bec4f42c704e663cf12760
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.3.tar.gz">
dCache 6.0.3 (tgz)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
ff93194d7054d0419f20914580e06f35
</td>
</tr>
<tr class="odd" id="6.0.2">
<td class="link">
<a href="repo/6.0/dcache_6.0.2-1_all.deb">
dCache 6.0.2 (Debian package)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
cf2ea10aa348a899190c45cc49c2431a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#2">
6.0.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.2-1.noarch.rpm">
dCache 6.0.2 (rpm)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
9580d1c2bed7f8a928f42cd82e2d3adc
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.2.tar.gz">
dCache 6.0.2 (tgz)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
b23f2b78e58e471d4aeff61591c2f7a1
</td>
</tr>
<tr class="even" id="6.0.1">
<td class="link">
<a href="repo/6.0/dcache-6.0.1-1.noarch.rpm">
dCache 6.0.1 (rpm)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
1497b91a2f919e6263031888b8238900
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#1">
6.0.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache-6.0.1.tar.gz">
dCache 6.0.1 (tgz)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
f96af28626752b4ba3bd4a5826214ecb
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/6.0/dcache_6.0.1-1_all.deb">
dCache 6.0.1 (Debian package)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
95a58e1cd9430fd3bf1ee792b475d142
</td>
</tr>
<tr class="odd" id="6.0.0">
<td class="link">
<a href="repo/6.0/dcache_6.0.0-1_all.deb">
dCache 6.0.0 (Debian package)
</a>
</td>
<td class="date">
16.10.2019
</td>
<td class="hash">
c9db07be4a87531861c84f2fd408cc52
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-0#0">
6.0.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.0-1.noarch.rpm">
dCache 6.0.0 (rpm)
</a>
</td>
<td class="date">
16.10.2019
</td>
<td class="hash">
2ab4fbac0fddfbfb913ecfdc11d6a1c7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/6.0/dcache-6.0.0.tar.gz">
dCache 6.0.0 (tgz)
</a>
</td>
<td class="date">
16.10.2019
</td>
<td class="hash">
9330e5bf7f2fcee5079ac3bf6aa1c26f
</td>
</tr>
</tbody>
