<tr class="rec" id="11.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.1-1_all.deb">
dCache 11.1.1 (Debian package)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
9b2e1203ae08cb109d8495508259bd8b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.1">
11.1.1
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.1-1.noarch.rpm">
dCache 11.1.1 (rpm)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
b4f119d2f23e7a27168db36c65676266
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.1.tar.gz">
dCache 11.1.1 (tgz)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
f750c17f84bc8c5c9568eef3536f92cd
</td>
</tr>
<tr class="even" id="11.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.0-1_all.deb">
dCache 11.1.0 (Debian package)
</a>
</td>
<td class="date">
19.09.2025
</td>
<td class="hash">
85c6e32e17f0466820a38e47b704a856
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.0">
11.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.0-1.noarch.rpm">
dCache 11.1.0 (rpm)
</a>
</td>
<td class="date">
19.09.2025
</td>
<td class="hash">
368947eff03092b7fb74dbdce9b4ddb2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.0.tar.gz">
dCache 11.1.0 (tgz)
</a>
</td>
<td class="date">
19.09.2025
</td>
<td class="hash">
9b9f0b00170af187e138968c35a02081
</td>
</tr>
