<tr class="rec" id="11.0.8">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.8-1_all.deb">
dCache 11.0.8 (Debian package)
</a>
</td>
<td class="date">
06.11.2025
</td>
<td class="hash">
8a0d68016ecb388b39d91d2c190aa543
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.8">
11.0.8
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.8-1.noarch.rpm">
dCache 11.0.8 (rpm)
</a>
</td>
<td class="date">
06.11.2025
</td>
<td class="hash">
e874a553db63882f13af0151bbe80dcd
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.8.tar.gz">
dCache 11.0.8 (tgz)
</a>
</td>
<td class="date">
06.11.2025
</td>
<td class="hash">
ae9ed5311d64d215a6a553283a582625
</td>
</tr>
<tr class="odd" id="11.0.7">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.7-1_all.deb">
dCache 11.0.7 (Debian package)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
4ecef519c83bd6345b447f0f3640309e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.7">
11.0.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.7-1.noarch.rpm">
dCache 11.0.7 (rpm)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
db626cb33cbea124ecaf7a630d644c37
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.7.tar.gz">
dCache 11.0.7 (tgz)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
48f5420b82898171eeb96b70d3471ec3
</td>
</tr>
<tr class="even" id="11.0.6">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.6-1_all.deb">
dCache 11.0.6 (Debian package)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
3cad64c7e14ba05bc65e14afdab10e96
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.6">
11.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.6-1.noarch.rpm">
dCache 11.0.6 (rpm)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
75c16accba2f26c633d78484c13cef22
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.6.tar.gz">
dCache 11.0.6 (tgz)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
2c69987c579a8d3a7aa3f52afce8a4fd
</td>
</tr>
<tr class="odd" id="11.0.5">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.5-1_all.deb">
dCache 11.0.5 (Debian package)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
0fca49b2f6507895ca79f71765172a28
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.5">
11.0.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.5-1.noarch.rpm">
dCache 11.0.5 (rpm)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
c7b0281ec7c9c237ff5a64ec52b853c5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.5.tar.gz">
dCache 11.0.5 (tgz)
</a>
</td>
<td class="date">
28.08.2025
</td>
<td class="hash">
11f0bade2221ca03c6b8743f758dd217
</td>
</tr>
<tr class="even" id="11.0.4">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.4-1_all.deb">
dCache 11.0.4 (Debian package)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
00cdf6f9b954846fa5377d127de13ee2
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.4">
11.0.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.4-1.noarch.rpm">
dCache 11.0.4 (rpm)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
031d5aeefaae425c69fda86c127109ce
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.4.tar.gz">
dCache 11.0.4 (tgz)
</a>
</td>
<td class="date">
23.07.2025
</td>
<td class="hash">
04a173490dbb0c3840fd07f1e6dd7962
</td>
</tr>
<tr class="odd" id="11.0.3">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.3-1_all.deb">
dCache 11.0.3 (Debian package)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
ce7221d023aeb21a91fc6d12b64ed512
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.3">
11.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.3-1.noarch.rpm">
dCache 11.0.3 (rpm)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
5a1718fe97b793ca162e1edce14f02de
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.3.tar.gz">
dCache 11.0.3 (tgz)
</a>
</td>
<td class="date">
30.06.2025
</td>
<td class="hash">
d654a015eb6795a69cc399154c731cb2
</td>
</tr>
<tr class="even" id="11.0.2">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.2-1_all.deb">
dCache 11.0.2 (Debian package)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
bce0348598d96cf0e175f8acc356477c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.2">
11.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.2-1.noarch.rpm">
dCache 11.0.2 (rpm)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
ce4c7fb737d8989aed6b69beed70f7b4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.2.tar.gz">
dCache 11.0.2 (tgz)
</a>
</td>
<td class="date">
20.06.2025
</td>
<td class="hash">
16d3183cf1ea8627e70f3b0de18dfd24
</td>
</tr>
<tr class="odd" id="11.0.1">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache_11.0.1-1_all.deb">
dCache 11.0.1 (Debian package)
</a>
</td>
<td class="date">
26.05.2025
</td>
<td class="hash">
b26c7296897b94f602d1786d86768c7e
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.0.shtml#release11.0.1">
11.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.1-1.noarch.rpm">
dCache 11.0.1 (rpm)
</a>
</td>
<td class="date">
26.05.2025
</td>
<td class="hash">
c4d615dddc8a3ff8837bade447ab48c2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.0/dcache-11.0.1.tar.gz">
dCache 11.0.1 (tgz)
</a>
</td>
<td class="date">
26.05.2025
</td>
<td class="hash">
73540b1c9d49a197a2e5b3bc729cfe29
</td>
</tr>
