<tr class="rec" id="5.1.26">
<td class="link">
<a href="repo/5.1/dcache_5.1.26-1_all.deb">
dCache 5.1.26 (Debian package)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
0c080f84aab2a7bb84ae8341157ea9e9
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml">
5.1.26
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/5.1/dcache-5.1.26-1.noarch.rpm">
dCache 5.1.26 (rpm)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
4d6a1c2f4d2174ed198777a4bcafadf9
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/5.1/dcache-5.1.26.tar.gz">
dCache 5.1.26 (tgz)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
132114562d280146dd22a578798aed72
</td>
</tr>
<tr class="odd" id="5.1.25">
<td class="link">
<a href="repo/5.1/dcache_5.1.25-1_all.deb">
dCache 5.1.25 (Debian package)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
e7e97ffa41f1d78acc8122fc55b8a5f0
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#25">
5.1.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.25-1.noarch.rpm">
dCache 5.1.25 (rpm)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
d7da22ec79bc1b7f11c4899cfc300259
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.25.tar.gz">
dCache 5.1.25 (tgz)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
4378f4edfa11973dafcc9e32dd9440bf
</td>
</tr>
<tr class="even" id="5.1.24">
<td class="link">
<a href="repo/5.1/dcache_5.1.24-1_all.deb">
dCache 5.1.24 (Debian package)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
b1cb9474230f1dee97a5a990f4b73184
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#24">
5.1.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.24-1.noarch.rpm">
dCache 5.1.24 (rpm)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
d8cfb1da18c054abc531e72bb5a9d55d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.24.tar.gz">
dCache 5.1.24 (tgz)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
98cd72f8d9fe492ff943bbd483e4d8bf
</td>
</tr>
<tr class="odd" id="5.1.23">
<td class="link">
<a href="repo/5.1/dcache_5.1.23-1_all.deb">
dCache 5.1.23 (Debian package)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
6145c930528b302acd502834f45ac8de
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#23">
5.1.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.23-1.noarch.rpm">
dCache 5.1.23 (rpm)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
3bbc68c918120b1776920fdcae1889a0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.23.tar.gz">
dCache 5.1.23 (tgz)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
76246f82531b5aaee15ed922317226a0
</td>
</tr>
<tr class="even" id="5.1.22">
<td class="link">
<a href="repo/5.1/dcache_5.1.22-1_all.deb">
dCache 5.1.22 (Debian package)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
68eed7ff4a8b8beef24263dfcec22f7d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#22">
5.1.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.22-1.noarch.rpm">
dCache 5.1.22 (rpm)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
ca1dc085d47a72861c1d59e14ae88b1e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.22.tar.gz">
dCache 5.1.22 (tgz)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
1790095ffa43cc7d4c5970a367313b54
</td>
</tr>
<tr class="odd" id="5.1.21">
<td class="link">
<a href="repo/5.1/dcache_5.1.21-1_all.deb">
dCache 5.1.21 (Debian package)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
8ee9b733f6a3d0734ac7c0aa30b0efc3
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#21">
5.1.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.21-1.noarch.rpm">
dCache 5.1.21 (rpm)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
355ee9ab546b2dc38a6d1f9065ac949a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.21.tar.gz">
dCache 5.1.21 (tgz)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
166707f168573faae9f55155fa6edbe0
</td>
</tr>
<tr class="even" id="5.1.20">
<td class="link">
<a href="repo/5.1/dcache_5.1.20-1_all.deb">
dCache 5.1.20 (Debian package)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
ba82fa3ea57adae4d837d45965dbf344
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#20">
5.1.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.20-1.noarch.rpm">
dCache 5.1.20 (rpm)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
bf9f398d8fd48a3a0faf190e6c225537
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.20.tar.gz">
dCache 5.1.20 (tgz)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
4086f8cac95dde1bec4693a3dca55470
</td>
</tr>
<tr class="odd" id="5.1.19">
<td class="link">
<a href="repo/5.1/dcache_5.1.19-1_all.deb">
dCache 5.1.19 (Debian package)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
cc90deaf79208a90f224d0c5aa6d8ead
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#19">
5.1.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.19-1.noarch.rpm">
dCache 5.1.19 (rpm)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
350a21cd5ac8b85b9a32011f879dc63f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.19.tar.gz">
dCache 5.1.19 (tgz)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
b65604b87d539d21c2b2b20af505d4f6
</td>
</tr>
<tr class="even" id="5.1.18">
<td class="link">
<a href="repo/5.1/dcache_5.1.18-1_all.deb">
dCache 5.1.18 (Debian package)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
eb9277068b8b480459777b9ed036944c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#18">
5.1.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.18-1.noarch.rpm">
dCache 5.1.18 (rpm)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
2470b417b5bc20411e8ef4f37d304e81
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.18.tar.gz">
dCache 5.1.18 (tgz)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
502f5338c753c94d2c46b7ea5fa3fe15
</td>
</tr>
<tr class="odd" id="5.1.17">
<td class="link">
<a href="repo/5.1/dcache_5.1.17-1_all.deb">
dCache 5.1.17 (Debian package)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
d17a9de6a4b30df8574b8025786a2a21
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#17">
5.1.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.17-1.noarch.rpm">
dCache 5.1.17 (rpm)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
aed70ee5baed7737f7dfea31b720e689
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.17.tar.gz">
dCache 5.1.17 (tgz)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
4e6e45b66dac3dda8aed921a9f6bedc2
</td>
</tr>
<tr class="even" id="5.1.16">
<td class="link">
<a href="repo/5.1/dcache_5.1.16-1_all.deb">
dCache 5.1.16 (Debian package)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
aecfc75e37073aac6e496483314cf65c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#16">
5.1.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.16-1.noarch.rpm">
dCache 5.1.16 (rpm)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
e66e5a08d3426b7e938d0c239091832a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.16.tar.gz">
dCache 5.1.16 (tgz)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
99129799e19609538f7778f813549e90
</td>
</tr>
<tr class="odd" id="5.1.15">
<td class="link">
<a href="repo/5.1/dcache_5.1.15-1_all.deb">
dCache 5.1.15 (Debian package)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
42d6b875022479f765ff1fae23b26712
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#15">
5.1.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.15-1.noarch.rpm">
dCache 5.1.15 (rpm)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
63047c1ca55bb0608ee5d8dd3012270e
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.15.tar.gz">
dCache 5.1.15 (tgz)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
66cf7bab874df5f1152dd14dd35219d8
</td>
</tr>
<tr class="even" id="5.1.14">
<td class="link">
<a href="repo/5.1/dcache_5.1.14-1_all.deb">
dCache 5.1.14 (Debian package)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
04440a510bdb013019141795631814d8
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#14">
5.1.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.14-1.noarch.rpm">
dCache 5.1.14 (rpm)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
23163b53b232ac84287bf40290328dc0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.14.tar.gz">
dCache 5.1.14 (tgz)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
07a698c0a79c86207ee9b41595f5d714
</td>
</tr>
<tr class="odd" id="5.1.13">
<td class="link">
<a href="repo/5.1/dcache_5.1.13-1_all.deb">
dCache 5.1.13 (Debian package)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
d06703809b21cfa9a556b2f75f542665
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#13">
5.1.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.13-1.noarch.rpm">
dCache 5.1.13 (rpm)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
55600991c5f6a9b3a8a69a43a9373e1b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.13.tar.gz">
dCache 5.1.13 (tgz)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
5a8d2efcd4a9f4ea34c9c8c65b42c23a
</td>
</tr>
<tr class="even" id="5.1.12">
<td class="link">
<a href="repo/5.1/dcache-5.1.12-1.noarch.rpm">
dCache 5.1.12 (rpm)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
dde7d1d32aa272b5abb99af56e86e65e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#12">
5.1.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.12.tar.gz">
dCache 5.1.12 (tgz)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
f80e27420a32a560fd7966013a8da481
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache_5.1.12-1_all.deb">
dCache 5.1.12 (Debian package)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
b1355a5f71903b92009c77f3b74e1c3b
</td>
</tr>
<tr class="odd" id="5.1.11">
<td class="link">
<a href="repo/5.1/dcache_5.1.11-1_all.deb">
dCache 5.1.11 (Debian package)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
9b60bcc84d639b6ddf38ff0cf2d13a65
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#11">
5.1.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.11-1.noarch.rpm">
dCache 5.1.11 (rpm)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
36c7808811f1a41121b978f69c31552b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.11.tar.gz">
dCache 5.1.11 (tgz)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
35127c912f5af6bc33bea4f33db8bbb6
</td>
</tr>
<tr class="even" id="5.1.10">
<td class="link">
<a href="repo/5.1/dcache_5.1.10-1_all.deb">
dCache 5.1.10 (Debian package)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
01cff28fd1c32cda16be2e5185a9f0ba
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#10">
5.1.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.10-1.noarch.rpm">
dCache 5.1.10 (rpm)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
6ab8867e1bdfc8a7852e8d6051ae6f5b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.10.tar.gz">
dCache 5.1.10 (tgz)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
b44401d9e305967f1ce4eeca1409534d
</td>
</tr>
<tr class="odd" id="5.1.9">
<td class="link">
<a href="repo/5.1/dcache_5.1.9-1_all.deb">
dCache 5.1.9 (Debian package)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
307dacf07355bbaa40b43b8ce4cd8096
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#9">
5.1.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.9-1.noarch.rpm">
dCache 5.1.9 (rpm)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
7c8ad6dff00c2b6d7a8e4fad8c4a4e8c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.9.tar.gz">
dCache 5.1.9 (tgz)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
9679887ac7c1ebe357573ea7bf7fd624
</td>
</tr>
<tr class="even" id="5.1.8">
<td class="link">
<a href="repo/5.1/dcache_5.1.8-1_all.deb">
dCache 5.1.8 (Debian package)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
e3fcb23a09b4a2e462cbcbd7a2bbaf1e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#8">
5.1.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.8-1.noarch.rpm">
dCache 5.1.8 (rpm)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
590cc1d9dc9c22ed643c6ed1a4444e89
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.8.tar.gz">
dCache 5.1.8 (tgz)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
7aad3c836d0c6d08106d4d55a8197ec1
</td>
</tr>
<tr class="odd" id="5.1.7">
<td class="link">
<a href="repo/5.1/dcache-5.1.7-1.noarch.rpm">
dCache 5.1.7 (rpm)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
709afa7a5a25dfc35ff0856979569f20
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#7">
5.1.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.7.tar.gz">
dCache 5.1.7 (tgz)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
8a51c65a20a2caadc14003aab49526fa
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache_5.1.7-1_all.deb">
dCache 5.1.7 (Debian package)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
c637011d6364aa855a995219e3642ee7
</td>
</tr>
<tr class="even" id="5.1.6">
<td class="link">
<a href="repo/5.1/dcache-5.1.6-1.noarch.rpm">
dCache 5.1.6 (rpm)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
d5bfdb7062143bd78cb8be9a101b3734
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#6">
5.1.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.6.tar.gz">
dCache 5.1.6 (tgz)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
a1ff65204e95d57da09273d2a1678902
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache_5.1.6-1_all.deb">
dCache 5.1.6 (Debian package)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
d214b80ebd4301039061fee1d0dfd431
</td>
</tr>
<tr class="odd" id="5.1.5">
<td class="link">
<a href="repo/5.1/dcache-5.1.5-1.noarch.rpm">
dCache 5.1.5 (rpm)
</a>
</td>
<td class="date">
25.6.2019
</td>
<td class="hash">
8946edb22352cca42bde26f22816b0ed
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#5">
5.1.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.5.tar.gz">
dCache 5.1.5 (tgz)
</a>
</td>
<td class="date">
25.6.2019
</td>
<td class="hash">
d858378c02855e752f26b3450ccb6a62
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache_5.1.5-1_all.deb">
dCache 5.1.5 (Debian package)
</a>
</td>
<td class="date">
25.6.2019
</td>
<td class="hash">
bd2c60d0aa8f813b3e4a5e27f250a2ad
</td>
</tr>
<tr class="even" id="5.1.4">
<td class="link">
<a href="repo/5.1/dcache-5.1.4-1.noarch.rpm">
dCache 5.1.4 (rpm)
</a>
</td>
<td class="date">
19.6.2019
</td>
<td class="hash">
e1942207e2586ae33653adc91b501f88
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#4">
5.1.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.4.tar.gz">
dCache 5.1.4 (tgz)
</a>
</td>
<td class="date">
19.6.2019
</td>
<td class="hash">
055beed57901c79a91fbbc8b61b3d2c3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache_5.1.4-1_all.deb">
dCache 5.1.4 (Debian package)
</a>
</td>
<td class="date">
19.6.2019
</td>
<td class="hash">
785e74b72ce9f9e5e2e5901bdd5f2639
</td>
</tr>
<tr class="odd" id="5.1.2">
<td class="link">
<a href="repo/5.1/dcache-5.1.2-1.noarch.rpm">
dCache 5.1.2 (rpm)
</a>
</td>
<td class="date">
29.5.2019
</td>
<td class="hash">
4baf69ae45dbfb008279198d8a690bc1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#2">
5.1.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.2.tar.gz">
dCache 5.1.2 (tgz)
</a>
</td>
<td class="date">
29.5.2019
</td>
<td class="hash">
0642f20f323ad065a66c85f418f0ca7f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache_5.1.2-1_all.deb">
dCache 5.1.2 (Debian package)
</a>
</td>
<td class="date">
29.5.2019
</td>
<td class="hash">
38b21034b977df7e77418e51d6ab3136
</td>
</tr>
<tr class="even" id="5.1.1">
<td class="link">
<a href="repo/5.1/dcache_5.1.1-1_all.deb">
dCache 5.1.1 (Debian package)
</a>
</td>
<td class="date">
17.5.2019
</td>
<td class="hash">
62545a3b2fc9f5d63933cb0d7b3e24a8
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#1">
5.1.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.1-1.noarch.rpm">
dCache 5.1.1 (rpm)
</a>
</td>
<td class="date">
17.5.2019
</td>
<td class="hash">
a774375590aadca7f48626dc338dfcab
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.1/dcache-5.1.1.tar.gz">
dCache 5.1.1 (tgz)
</a>
</td>
<td class="date">
17.5.2019
</td>
<td class="hash">
f5033d803b1a39da79430b50b4b59955
</td>
</tr>
<tr class="odd" id="5.1.0">
<td class="link">
<a href="repo/5.1/dcache-5.1.0-1.noarch.rpm">
dCache 5.1.0 (rpm)
</a>
</td>
<td class="date">
3.5.2019
</td>
<td class="hash">
9e34f0347cfe56573327d463559cbb8f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.1.shtml#0">
5.1.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache-5.1.0.tar.gz">
dCache 5.1.0 (tgz)
</a>
</td>
<td class="date">
3.5.2019
</td>
<td class="hash">
fc313dc3d7f04c99f6edc42cf9a561c0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.1/dcache_5.1.0-1_all.deb">
dCache 5.1.0 (Debian package)
</a>
</td>
<td class="date">
3.5.2019
</td>
<td class="hash">
c0d6f4e2ac6c493ace9d19d09ff0c491
</td>
</tr>
</tbody>
