<tr class="rec" id="10.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.1-1_all.deb">
dCache 10.1.1 (Debian package)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
55a7e993359d03a8c54968fb6dd18258
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml">
10.1.1
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.1-1.noarch.rpm">
dCache 10.1.1 (rpm)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
2561cbec4e6744bd696973b04eb74230
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.1.tar.gz">
dCache 10.1.1 (tgz)
</a>
</td>
<td class="date">
15.08.2024
</td>
<td class="hash">
0d67c4f71ad25b72931f4a4bafdb695d
</td>
</tr>
<tbody>
<tr class="even" id="10.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.0-1.noarch.rpm">
dCache 10.1.0 (rpm)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
a10b2ec6c18cc592d20f070d71175ea2
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.1.shtml">
10.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache-10.1.0.tar.gz">
dCache 10.1.0 (tgz)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
caaf189839acc766aa16e3935179a627
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.1/dcache_10.1.0-1_all.deb">
dCache 10.1.0 (Debian package)
</a>
</td>
<td class="date">
09.08.2024
</td>
<td class="hash">
0eed536760b5b7b8bf5c9e5f6031df85
</td>
</tr>
</tbody>
