<tr class="rec" id="5.2.52">
<td class="link">
<a href="repo/5.2/dcache-5.2.52-1.noarch.rpm">
dCache 5.2.52 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
01d6f34e9ac25c1e9c846bb69a65a358
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml">
5.2.52
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/5.2/dcache-5.2.52.tar.gz">
dCache 5.2.52 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
bac76407b40df54ebd801939616185f8
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/5.2/dcache_5.2.52-1_all.deb">
dCache 5.2.52 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
b8c54b410de70955b4e59736661ec0c5
</td>
</tr>
<tr class="odd" id="5.2.51">
<td class="link">
<a href="repo/5.2/dcache-5.2.51-1.noarch.rpm">
dCache 5.2.51 (rpm)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
b040e5c61ba9ea7d4007f8d93299f8d1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#51">
5.2.51
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.51.tar.gz">
dCache 5.2.51 (tgz)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
2b921b278b09eb4d11267f70d7bf2815
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.51-1_all.deb">
dCache 5.2.51 (Debian package)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
3ad0b6e2dd9b7bc19428ccb96af2e772
</td>
</tr>
<tr class="even" id="5.2.50">
<td class="link">
<a href="repo/5.2/dcache-5.2.50-1.noarch.rpm">
dCache 5.2.50 (rpm)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
9af6e18d53f090b1f795b208726f7b32
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#50">
5.2.50
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.50.tar.gz">
dCache 5.2.50 (tgz)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
1728f7ed97c7f10754c5cf5379ebd81e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.50-1_all.deb">
dCache 5.2.50 (Debian package)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
957145ba3b030aae358b433042140c3a
</td>
</tr>
<tr class="odd" id="5.2.49">
<td class="link">
<a href="repo/5.2/dcache-5.2.49-1.noarch.rpm">
dCache 5.2.49 (rpm)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
d49c5bfd2726dad053529ae6f9fe7155
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#49">
5.2.49
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.49.tar.gz">
dCache 5.2.49 (tgz)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
367b1a8817615f5ec83e0761e98667eb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.49-1_all.deb">
dCache 5.2.49 (Debian package)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
e0b63a24861a58a1886520bcf1830fbd
</td>
</tr>
<tr class="even" id="5.2.48">
<td class="link">
<a href="repo/5.2/dcache-5.2.48-1.noarch.rpm">
dCache 5.2.48 (rpm)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
a0a0f9c9d9f3d49dff5c1e6f0c0e8b1d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#48">
5.2.48
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.48.tar.gz">
dCache 5.2.48 (tgz)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
f54b9ab96d7f06c410d8b6c3eb870662
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.48-1_all.deb">
dCache 5.2.48 (Debian package)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
0e93aeab85d6aaf630d3d7f9857f7f4b
</td>
</tr>
<tr class="odd" id="5.2.47">
<td class="link">
<a href="repo/5.2/dcache-5.2.47-1.noarch.rpm">
dCache 5.2.47 (rpm)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
3745824a542c83dd3bce6758869c2fef
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#47">
5.2.47
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.47.tar.gz">
dCache 5.2.47 (tgz)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
be0d5a10bc9db4f771d9eaea1f143546
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.47-1_all.deb">
dCache 5.2.47 (Debian package)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
bd9d51d6d2c6aa99f8ad4c15ce8e58b1
</td>
</tr>
<tr class="even" id="5.2.46">
<td class="link">
<a href="repo/5.2/dcache-5.2.46-1.noarch.rpm">
dCache 5.2.46 (rpm)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
00749fdf4d0370f1eb80b4ec130eec48
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#46">
5.2.46
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.46.tar.gz">
dCache 5.2.46 (tgz)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
654fb53fa0146813de1f94ad6bd6d029
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.46-1_all.deb">
dCache 5.2.46 (Debian package)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
189bd1b07b42aa6575145cf5c95c0dd1
</td>
</tr>
<tr class="odd" id="5.2.45">
<td class="link">
<a href="repo/5.2/dcache-5.2.45-1.noarch.rpm">
dCache 5.2.45 (rpm)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
4e3694c0b1aac521d9e08d960e28d4e6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#45">
5.2.45
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.45.tar.gz">
dCache 5.2.45 (tgz)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
9f91ef78df4cf6ece477fe613b49f73c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.45-1_all.deb">
dCache 5.2.45 (Debian package)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
65b7c3eca36d87fa28e2b940c8dd458d
</td>
</tr>
<tr class="even" id="5.2.44">
<td class="link">
<a href="repo/5.2/dcache-5.2.44-1.noarch.rpm">
dCache 5.2.44 (rpm)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
2778e461ec0c485097fb4234401011e1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#44">
5.2.44
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.44.tar.gz">
dCache 5.2.44 (tgz)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
51348008e05d1580ac5b7b3473b0a34e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.44-1_all.deb">
dCache 5.2.44 (Debian package)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
c65b1b28730697dd224ad9fa7b50d3a7
</td>
</tr>
<tr class="odd" id="5.2.43">
<td class="link">
<a href="repo/5.2/dcache-5.2.43-1.noarch.rpm">
dCache 5.2.43 (rpm)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
b872ef34c6fc0030869be74cb5a0b8c5
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#43">
5.2.43
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.43.tar.gz">
dCache 5.2.43 (tgz)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
4d711b7c8e62c478b031dbd59ae4538c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.43-1_all.deb">
dCache 5.2.43 (Debian package)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
b590ff14b52dd0e4bd06ca6ab34e8ecb
</td>
</tr>
<tr class="even" id="5.2.42">
<td class="link">
<a href="repo/5.2/dcache-5.2.42-1.noarch.rpm">
dCache 5.2.42 (rpm)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
49df5085f634a927b82ff0ceed22f51c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#42">
5.2.42
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.42.tar.gz">
dCache 5.2.42 (tgz)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
b79327721133a7ea09e3d8294a5b9ad7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.42-1_all.deb">
dCache 5.2.42 (Debian package)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
79086922b6c78aa607d0629744daa697
</td>
</tr>
<tr class="odd" id="5.2.41">
<td class="link">
<a href="repo/5.2/dcache-5.2.41-1.noarch.rpm">
dCache 5.2.41 (rpm)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
ff28e555fba888a4bec1b0091d2b2d45
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#41">
5.2.41
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.41.tar.gz">
dCache 5.2.41 (tgz)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
f2dac0e5d03898e2c04d83cd4b873e61
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.41-1_all.deb">
dCache 5.2.41 (Debian package)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
060dc376d44cea4e3c9f6f2b30c6f3a6
</td>
</tr>
<tr class="even" id="5.2.40">
<td class="link">
<a href="repo/5.2/dcache-5.2.40-1.noarch.rpm">
dCache 5.2.40 (rpm)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
d2ab8af08e17eac303f7a65ce8f78611
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#40">
5.2.40
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.40.tar.gz">
dCache 5.2.40 (tgz)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
84fcac1b0e0f0704601b982185a3aab0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.40-1_all.deb">
dCache 5.2.40 (Debian package)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
7ef0a1d53c0dd7f1f2b3b1ff09599c88
</td>
</tr>
<tr class="odd" id="5.2.39">
<td class="link">
<a href="repo/5.2/dcache-5.2.39-1.noarch.rpm">
dCache 5.2.39 (rpm)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
4dd450d132a22fe3f9d0229a8d975ce6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#39">
5.2.39
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.39.tar.gz">
dCache 5.2.39 (tgz)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
5d4bb47d74296172823e2ee7cf25a10b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.39-1_all.deb">
dCache 5.2.39 (Debian package)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
68dd2f90c3b790295248fbe5d0bde833
</td>
</tr>
<tr class="even" id="5.2.38">
<td class="link">
<a href="repo/5.2/dcache-5.2.38-1.noarch.rpm">
dCache 5.2.38 (rpm)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
a8a46489de3c386716e5844443643854
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#38">
5.2.38
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.38.tar.gz">
dCache 5.2.38 (tgz)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
975013c39fa5e08335631587c17da0ca
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.38-1_all.deb">
dCache 5.2.38 (Debian package)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
bf868b0e2777b92e037c52d21870dddb
</td>
</tr>
<tr class="odd" id="5.2.37">
<td class="link">
<a href="repo/5.2/dcache-5.2.37-1.noarch.rpm">
dCache 5.2.37 (rpm)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
36c3f9d26135a3e7d85956e977e64fcd
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#37">
5.2.37
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.37.tar.gz">
dCache 5.2.37 (tgz)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
5c74b153c9812a8b0182e21de6701eca
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.37-1_all.deb">
dCache 5.2.37 (Debian package)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
2679b4d6f230a308a46b81c00648b54b
</td>
</tr>
<tr class="even" id="5.2.36">
<td class="link">
<a href="repo/5.2/dcache-5.2.36-1.noarch.rpm">
dCache 5.2.36 (rpm)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
fde76bd35c8ab5442c174ff43ec47729
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#36">
5.2.36
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.36.tar.gz">
dCache 5.2.36 (tgz)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
c5964034cb0a56a73f41714829f72eb9
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.36-1_all.deb">
dCache 5.2.36 (Debian package)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
3c55741029cca8c4649ad8c41a13a938
</td>
</tr>
<tr class="odd" id="5.2.35">
<td class="link">
<a href="repo/5.2/dcache-5.2.35-1.noarch.rpm">
dCache 5.2.35 (rpm)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
2d0e2da05f21a77c8c11d8fcb6afdfee
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#35">
5.2.35
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.35.tar.gz">
dCache 5.2.35 (tgz)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
34471cb0d2ed700f4ae3ec0e53a1553a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.35-1_all.deb">
dCache 5.2.35 (Debian package)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
439f17fb0e2c19d6a7b311977b4371b9
</td>
</tr>
<tr class="even" id="5.2.34">
<td class="link">
<a href="repo/5.2/dcache-5.2.34-1.noarch.rpm">
dCache 5.2.34 (rpm)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
41a3e4673d7feca3c65c4c3a0db47bda
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#34">
5.2.34
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.34.tar.gz">
dCache 5.2.34 (tgz)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
5f8c2d331aea4ea114b63cd10e0b6524
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.34-1_all.deb">
dCache 5.2.34 (Debian package)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
c14600945501cf3783c4a682a7dd1587
</td>
</tr>
<tr class="odd" id="5.2.33">
<td class="link">
<a href="repo/5.2/dcache-5.2.33-1.noarch.rpm">
dCache 5.2.33 (rpm)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
3971cc30807260cdb16373e828ccb233
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#33">
5.2.33
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.33.tar.gz">
dCache 5.2.33 (tgz)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
f8c3c2105cea658b764d226a9ecec365
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.33-1_all.deb">
dCache 5.2.33 (Debian package)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
37752cd87a90c628ab2e54f3eaf8d547
</td>
</tr>
<tr class="even" id="5.2.32">
<td class="link">
<a href="repo/5.2/dcache_5.2.32-1_all.deb">
dCache 5.2.32 (Debian package)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
40a0574e0ceed494e9d7bf43a69355b5
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#32">
5.2.32
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.32-1.noarch.rpm">
dCache 5.2.32 (rpm)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
26cc57fce24965e5dea28698bd55b2c7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.32.tar.gz">
dCache 5.2.32 (tgz)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
42726ada54e8eeae37b4c05801895bfd
</td>
</tr>
<tr class="odd" id="5.2.31">
<td class="link">
<a href="repo/5.2/dcache-5.2.31-1.noarch.rpm">
dCache 5.2.31 (rpm)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
28d1367203c03ca7766c9a4075758d28
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#31">
5.2.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.31.tar.gz">
dCache 5.2.31 (tgz)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
dd13a7131917fc08a67375d5d26c3571
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.31-1_all.deb">
dCache 5.2.31 (Debian package)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
e153374414aa9e8c5e05c04235830580
</td>
</tr>
<tr class="even" id="5.2.30">
<td class="link">
<a href="repo/5.2/dcache-5.2.30-1.noarch.rpm">
dCache 5.2.30 (rpm)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
eddb28a1a8bbd0d5b36e3e534e426a57
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#30">
5.2.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.30.tar.gz">
dCache 5.2.30 (tgz)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
17a273eaf56cd3fb233fd425fe15699c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.30-1_all.deb">
dCache 5.2.30 (Debian package)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
2f319d55954eb1bc160848c43f782a05
</td>
</tr>
<tr class="odd" id="5.2.29">
<td class="link">
<a href="repo/5.2/dcache-5.2.29-1.noarch.rpm">
dCache 5.2.29 (rpm)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
6344a05d1c0c280c1cf10392006e3576
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#29">
5.2.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.29.tar.gz">
dCache 5.2.29 (tgz)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
19c5ee51b5c8542dbc1d7dbb1152bc0f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.29-1_all.deb">
dCache 5.2.29 (Debian package)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
228f9d895aeec7709dd628665a5fd0fb
</td>
</tr>
<tr class="even" id="5.2.28">
<td class="link">
<a href="repo/5.2/dcache-5.2.28-1.noarch.rpm">
dCache 5.2.28 (rpm)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
6793bb79f11c5e53a008ff7b19333449
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#28">
5.2.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.28.tar.gz">
dCache 5.2.28 (tgz)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
41480ef5a0ab1299b0f9a3c1eca4d99e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.28-1_all.deb">
dCache 5.2.28 (Debian package)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
3763359b637c666b21985e6ebde7c8a5
</td>
</tr>
<tr class="odd" id="5.2.27">
<td class="link">
<a href="repo/5.2/dcache_5.2.27-1_all.deb">
dCache 5.2.27 (Debian package)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
156604ffd28acb79074ecac3bf3ef3fc
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#27">
5.2.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.27-1.noarch.rpm">
dCache 5.2.27 (rpm)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
55bfa0fd973111e5321c4c4f7bf55845
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.27.tar.gz">
dCache 5.2.27 (tgz)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
92cbe874d5098e01c1e6ecd4c89aaba2
</td>
</tr>
<tr class="even" id="5.2.26">
<td class="link">
<a href="repo/5.2/dcache_5.2.26-1_all.deb">
dCache 5.2.26 (Debian package)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
a75020882e8279b1373f214d907a7271
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#26">
5.2.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.26-1.noarch.rpm">
dCache 5.2.26 (rpm)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
9b146bf2e8f2e1a36a42763ab786cf57
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.26.tar.gz">
dCache 5.2.26 (tgz)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
f0498fa7efec3266363c0ecb285f7955
</td>
</tr>
<tr class="odd" id="5.2.25">
<td class="link">
<a href="repo/5.2/dcache_5.2.25-1_all.deb">
dCache 5.2.25 (Debian package)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
23d26c120c8729db7967c897e25336c2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#25">
5.2.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.25-1.noarch.rpm">
dCache 5.2.25 (rpm)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
bc8e702ac01b2413600575b769f8d7fc
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.25.tar.gz">
dCache 5.2.25 (tgz)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
1d5c12c60630eab40c6110a16caed5e2
</td>
</tr>
<tr class="even" id="5.2.24">
<td class="link">
<a href="repo/5.2/dcache_5.2.24-1_all.deb">
dCache 5.2.24 (Debian package)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
26c44c9c06663119a6c0966bef742011
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#24">
5.2.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.24-1.noarch.rpm">
dCache 5.2.24 (rpm)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
ec853b48752c3dd5c04787e74708087c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.24.tar.gz">
dCache 5.2.24 (tgz)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
1668c890de987eae6f37374576099b2a
</td>
</tr>
<tr class="odd" id="5.2.23">
<td class="link">
<a href="repo/5.2/dcache_5.2.23-1_all.deb">
dCache 5.2.23 (Debian package)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
6d38f216541aafab6125e18ab9f59de9
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#23">
5.2.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.23-1.noarch.rpm">
dCache 5.2.23 (rpm)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
9dfb78e73f5a55f89563ef66b9ceadc5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.23.tar.gz">
dCache 5.2.23 (tgz)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
400540ce4e26b157a02ff00724738084
</td>
</tr>
<tr class="even" id="5.2.21">
<td class="link">
<a href="repo/5.2/dcache_5.2.21-1_all.deb">
dCache 5.2.21 (Debian package)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
c9821ca3516dfa1814caceffa062638f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#21">
5.2.21
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.21-1.noarch.rpm">
dCache 5.2.21 (rpm)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
fa04ad5d0b088049ada31ea335c54806
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.21.tar.gz">
dCache 5.2.21 (tgz)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
6ead9d744807a8b1c9b378fa7e6fa798
</td>
</tr>
<tr class="odd" id="5.2.20">
<td class="link">
<a href="repo/5.2/dcache_5.2.20-1_all.deb">
dCache 5.2.20 (Debian package)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
4cd1e49af173afdd557ef2b5ad7ddd29
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#20">
5.2.20
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.20-1.noarch.rpm">
dCache 5.2.20 (rpm)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
73b66be86548909e511669a06b367818
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.20.tar.gz">
dCache 5.2.20 (tgz)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
bf604b5d6911df4785d83a3008d9db39
</td>
</tr>
<tr class="even" id="5.2.19">
<td class="link">
<a href="repo/5.2/dcache_5.2.19-1_all.deb">
dCache 5.2.19 (Debian package)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
87104c46b1ff116fd73c27fac66c8716
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#19">
5.2.19
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.19-1.noarch.rpm">
dCache 5.2.19 (rpm)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
89e8a97865714019f16e3c2d3c3c563d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.19.tar.gz">
dCache 5.2.19 (tgz)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
b844ea530e46c22c773a319c2d7678b8
</td>
</tr>
<tr class="odd" id="5.2.18">
<td class="link">
<a href="repo/5.2/dcache_5.2.18-1_all.deb">
dCache 5.2.18 (Debian package)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
efe45c680d3af4c8a6c75f3f7422fdbe
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#18">
5.2.18
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.18-1.noarch.rpm">
dCache 5.2.18 (rpm)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
20f30d6f84a0be858383b118171fdc6d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.18.tar.gz">
dCache 5.2.18 (tgz)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
a5c6b94138b199a6c04589fdc79ec03c
</td>
</tr>
<tr class="even" id="5.2.17">
<td class="link">
<a href="repo/5.2/dcache_5.2.17-1_all.deb">
dCache 5.2.17 (Debian package)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
1c5ebfea39646b66e203f11f497d02bb
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#17">
5.2.17
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.17-1.noarch.rpm">
dCache 5.2.17 (rpm)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
a40f93895499e908335f7eed372c7bc6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.17.tar.gz">
dCache 5.2.17 (tgz)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
af51fb6149ab6965a50d8a4733adc281
</td>
</tr>
<tr class="odd" id="5.2.16">
<td class="link">
<a href="repo/5.2/dcache_5.2.16-1_all.deb">
dCache 5.2.16 (Debian package)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
edd1235b4c4b3e9323f92d5c3315fdb4
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#16">
5.2.16
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.16-1.noarch.rpm">
dCache 5.2.16 (rpm)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
fc34d706ea77f8da26537f9ae702477a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.16.tar.gz">
dCache 5.2.16 (tgz)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
4f364c972cf5e19d7ffdd334638dd1da
</td>
</tr>
<tr class="even" id="5.2.15">
<td class="link">
<a href="repo/5.2/dcache_5.2.15-1_all.deb">
dCache 5.2.15 (Debian package)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
0ccdd9da0c147a463c7dee76f44702fb
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#15">
5.2.15
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.15-1.noarch.rpm">
dCache 5.2.15 (rpm)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
af7cde27a372e97a4f84acc7d8dafc1e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.15.tar.gz">
dCache 5.2.15 (tgz)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
aa43db2d3f922b1f5f2aa1d0b5889007
</td>
</tr>
<tr class="odd" id="5.2.14">
<td class="link">
<a href="repo/5.2/dcache_5.2.14-1_all.deb">
dCache 5.2.14 (Debian package)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
ce579a8bc195cf94cddbbcde55aced5a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#14">
5.2.14
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.14-1.noarch.rpm">
dCache 5.2.14 (rpm)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
8befeebdfdd63e83b5a7d1a8bf6adcf4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.14.tar.gz">
dCache 5.2.14 (tgz)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
a05d7c42941bc5b5ab672bb8ea893f6e
</td>
</tr>
<tr class="even" id="5.2.13">
<td class="link">
<a href="repo/5.2/dcache_5.2.13-1_all.deb">
dCache 5.2.13 (Debian package)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
ba0ed78336f59b893ca7e0db7b4cc71e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#13">
5.2.13
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.13-1.noarch.rpm">
dCache 5.2.13 (rpm)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
d09d65f1a2228387259558afbc15f9b3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.13.tar.gz">
dCache 5.2.13 (tgz)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
ee6f3ce47d5214c0b67d9f41051b400a
</td>
</tr>
<tr class="odd" id="5.2.12">
<td class="link">
<a href="repo/5.2/dcache_5.2.12-1_all.deb">
dCache 5.2.12 (Debian package)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
499d21755fc8dd28e5a7bf976a456874
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#12">
5.2.12
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.12-1.noarch.rpm">
dCache 5.2.12 (rpm)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
b1055067c025ec5197c17761b2cce07f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.12.tar.gz">
dCache 5.2.12 (tgz)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
fc0d0305bf8315465f484ee2aa6d2a94
</td>
</tr>
<tr class="even" id="5.2.11">
<td class="link">
<a href="repo/5.2/dcache_5.2.11-1_all.deb">
dCache 5.2.11 (Debian package)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
5ad19d6ade35d96e86df021e23d365ca
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#11">
5.2.11
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.11-1.noarch.rpm">
dCache 5.2.11 (rpm)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
138b5d932e41a0ce53ce449c397892ea
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.11.tar.gz">
dCache 5.2.11 (tgz)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
9063d879b14f5b5072e8125e23e5b32d
</td>
</tr>
<tr class="odd" id="5.2.10">
<td class="link">
<a href="repo/5.2/dcache_5.2.10-1_all.deb">
dCache 5.2.10 (Debian package)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
331dc86acaa766b00593bbc97d6b9bf3
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#10">
5.2.10
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.10-1.noarch.rpm">
dCache 5.2.10 (rpm)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
cca5db9ae0b9ec1a8d5015468b58f761
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.10.tar.gz">
dCache 5.2.10 (tgz)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
9ed13954b6930d8f41c914088d0181f6
</td>
</tr>
<tr class="even" id="5.2.9">
<td class="link">
<a href="repo/5.2/dcache_5.2.9-1_all.deb">
dCache 5.2.9 (Debian package)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
c6edb6f79a28c23915cb66fc1520ece1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#9">
5.2.9
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.9-1.noarch.rpm">
dCache 5.2.9 (rpm)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
3b4b2bcb8bd59742e9f6305a69d8cf97
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.9.tar.gz">
dCache 5.2.9 (tgz)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
c25eb0f87280ffde3a8967aec9e64ced
</td>
</tr>
<tr class="odd" id="5.2.8">
<td class="link">
<a href="repo/5.2/dcache_5.2.8-1_all.deb">
dCache 5.2.8 (Debian package)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
a3d4c5e9017879701894068f7d768527
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#8">
5.2.8
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.8-1.noarch.rpm">
dCache 5.2.8 (rpm)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
dd3da65c6f3cf477308dab35a8c7c4f4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.8.tar.gz">
dCache 5.2.8 (tgz)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
7e1a25a417f55880339d2c16b129dac8
</td>
</tr>
<tr class="even" id="5.2.7">
<td class="link">
<a href="repo/5.2/dcache-5.2.7-1.noarch.rpm">
dCache 5.2.7 (rpm)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
e0ec78a602f57b3175ad67a9da15b2a4
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#7">
5.2.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.7.tar.gz">
dCache 5.2.7 (tgz)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
113870d10d8d52a21e31f62c8ba1a477
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.7-1_all.deb">
dCache 5.2.7 (Debian package)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
e044826cd7595481a4ffc7f4fd25383f
</td>
</tr>
<tr class="odd" id="5.2.6">
<td class="link">
<a href="repo/5.2/dcache_5.2.6-1_all.deb">
dCache 5.2.6 (Debian package)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
63239d2a83da5fad222811d1dad99b27
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#6">
5.2.6
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.6-1.noarch.rpm">
dCache 5.2.6 (rpm)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
da6b6d01ed1b8afefa6cdde8cb772af7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.6.tar.gz">
dCache 5.2.6 (tgz)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
408fa7b02f9c871de47126307e721694
</td>
</tr>
<tr class="even" id="5.2.5">
<td class="link">
<a href="repo/5.2/dcache_5.2.5-1_all.deb">
dCache 5.2.5 (Debian package)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
3c68631a3e95d44a2346f63be5160e59
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#5">
5.2.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.5-1.noarch.rpm">
dCache 5.2.5 (rpm)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
66d4e4dc9ad9316749e53d7b778c404c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.5.tar.gz">
dCache 5.2.5 (tgz)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
d3ff48732747876cd9359b588a34ee30
</td>
</tr>
<tr class="odd" id="5.2.4">
<td class="link">
<a href="repo/5.2/dcache_5.2.4-1_all.deb">
dCache 5.2.4 (Debian package)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
4a782908dda0e9c50d1d6a7d761686f3
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#4">
5.2.4
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.4-1.noarch.rpm">
dCache 5.2.4 (rpm)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
414d9282c78a27406a22e1f6b4696f80
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.4.tar.gz">
dCache 5.2.4 (tgz)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
11ea7759cbfdec9eaa137183566454e2
</td>
</tr>
<tr class="even" id="5.2.3">
<td class="link">
<a href="repo/5.2/dcache_5.2.3-1_all.deb">
dCache 5.2.3 (Debian package)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
a7dd74ae69cbd2f3461f8aa0d7466d53
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#3">
5.2.3
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.3-1.noarch.rpm">
dCache 5.2.3 (rpm)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
eae40cb2f5c4ef0ffcc32eaf048e8ee0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.3.tar.gz">
dCache 5.2.3 (tgz)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
c20b4f5d53dbfc3d441d609d001e9798
</td>
</tr>
<tr class="odd" id="5.2.2">
<td class="link">
<a href="repo/5.2/dcache-5.2.2-1.noarch.rpm">
dCache 5.2.2 (rpm)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
d03c0323aff3694e2451daa92196c965
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#2">
5.2.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.2.tar.gz">
dCache 5.2.2 (tgz)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
355f7e56263e325bf5d0454e27fe79a1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.2-1_all.deb">
dCache 5.2.2 (Debian package)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
2bec002934278e69914b0645f76e7fba
</td>
</tr>
<tr class="even" id="5.2.1">
<td class="link">
<a href="repo/5.2/dcache-5.2.1-1.noarch.rpm">
dCache 5.2.1 (rpm)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
ffb0751a993a69f3129e13799c2a4df0
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#1">
5.2.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache-5.2.1.tar.gz">
dCache 5.2.1 (tgz)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
989ddc32c2e5851dbc55100782e296be
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.2/dcache_5.2.1-1_all.deb">
dCache 5.2.1 (Debian package)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
1141127cca09c118d9c6eefebb313255
</td>
</tr>
<tr class="odd" id="5.2.0">
<td class="link">
<a href="repo/5.2/dcache-5.2.0-1.noarch.rpm">
dCache 5.2.0 (rpm)
</a>
</td>
<td class="date">
1.7.2019
</td>
<td class="hash">
ba801a6a33a894d8cb00389123323493
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.2.shtml#0">
5.2.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache-5.2.0.tar.gz">
dCache 5.2.0 (tgz)
</a>
</td>
<td class="date">
1.7.2019
</td>
<td class="hash">
00c7e307144f716f196554aad3c8bdf9
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.2/dcache_5.2.0-1_all.deb">
dCache 5.2.0 (Debian package)
</a>
</td>
<td class="date">
1.7.2019
</td>
<td class="hash">
6dad57b6020bafbf6e5a3e065f28689b
</td>
</tr>
</tbody>
