<tr class="rec" id="10.2.10">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.10-1_all.deb">
dCache 10.2.10 (Debian package)
</a>
</td>
<td class="date">
25.02.2025
</td>
<td class="hash">
29d0269388fc04845b9c9bc1381f8d8c
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.10">
10.2.10
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.10-1.noarch.rpm">
dCache 10.2.10 (rpm)
</a>
</td>
<td class="date">
25.02.2025
</td>
<td class="hash">
deefbefaeb6c64bc40f0521e73e57aea
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.10.tar.gz">
dCache 10.2.10 (tgz)
</a>
</td>
<td class="date">
25.02.2025
</td>
<td class="hash">
e2a338f70d7f9fa75021bfc2e456ffff
</td>
</tr>
<tr class="odd" id="10.2.9">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.9-1_all.deb">
dCache 10.2.9 (Debian package)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
db01ba397b1588cc547b936e46043078
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.9">
10.2.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.9-1.noarch.rpm">
dCache 10.2.9 (rpm)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
b830c1a6e5e7590c5bdcadead2043ec2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.9.tar.gz">
dCache 10.2.9 (tgz)
</a>
</td>
<td class="date">
20.02.2025
</td>
<td class="hash">
9346571af34ff594688d7a96d95282d6
</td>
</tr>
<tr class="even" id="10.2.8">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.8-1_all.deb">
dCache 10.2.8 (Debian package)
</a>
</td>
<td class="date">
11.02.2025
</td>
<td class="hash">
5f94c664bac516ffcf5c799dd4d9c055
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.8">
10.2.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.8-1.noarch.rpm">
dCache 10.2.8 (rpm)
</a>
</td>
<td class="date">
11.02.2025
</td>
<td class="hash">
54e6975944f20d739f39a869bd781c1a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.8.tar.gz">
dCache 10.2.8 (tgz)
</a>
</td>
<td class="date">
11.02.2025
</td>
<td class="hash">
f6d5e8e508120b84a8ba23032a0dda10
</td>
</tr>
<tr class="odd" id="10.2.7">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.7-1_all.deb">
dCache 10.2.7 (Debian package)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
e85e34a3a3898cccaef95e340fef8c20
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.7">
10.2.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.7-1.noarch.rpm">
dCache 10.2.7 (rpm)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
e6a798f922dd4c1faae66f2718963abf
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.7.tar.gz">
dCache 10.2.7 (tgz)
</a>
</td>
<td class="date">
05.02.2025
</td>
<td class="hash">
1cd45aa77bc404a9471f5afaf3e29007
</td>
</tr>
<tr class="even" id="10.2.6">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.6-1_all.deb">
dCache 10.2.6 (Debian package)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
791ba25a0dd2d1b3a61cc48449e0cee4
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.6">
10.2.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.6-1.noarch.rpm">
dCache 10.2.6 (rpm)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
be6300e1bf3cf7b003f702014c9c53cc
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.6.tar.gz">
dCache 10.2.6 (tgz)
</a>
</td>
<td class="date">
16.01.2025
</td>
<td class="hash">
c345215e90e13337b3b1c3252ea52bc9
</td>
</tr>
<tr class="odd" id="10.2.5">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.5-1_all.deb">
dCache 10.2.5 (Debian package)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
c58a09635d53ac6f9202d71f269b5167
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.5">
10.2.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.5-1.noarch.rpm">
dCache 10.2.5 (rpm)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
97e53d2d829d3c0c1e3172716ff5e066
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.5.tar.gz">
dCache 10.2.5 (tgz)
</a>
</td>
<td class="date">
13.12.2024
</td>
<td class="hash">
e511b72cee102c69ffcb238c9792ac1a
</td>
</tr>
<tr class="even" id="10.2.4">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.4-1_all.deb">
dCache 10.2.4 (Debian package)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
2c00dd80df3cb21e1ad16a62133aab53
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.4">
10.2.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.4-1.noarch.rpm">
dCache 10.2.4 (rpm)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
527045cd06d88d88a2519b7adbfb37fc
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.4.tar.gz">
dCache 10.2.4 (tgz)
</a>
</td>
<td class="date">
04.12.2024
</td>
<td class="hash">
61f8f9e865844b3997e8a92470fd705c
</td>
</tr>
<tr class="odd" id="10.2.3">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.3-1_all.deb">
dCache 10.2.3 (Debian package)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
4766fb43a72e6b494ac654baae4c02db
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.3">
10.2.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.3-1.noarch.rpm">
dCache 10.2.3 (rpm)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
3e2fe0740ad12dca40be5fbda9141610
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.3.tar.gz">
dCache 10.2.3 (tgz)
</a>
</td>
<td class="date">
25.11.2024
</td>
<td class="hash">
a91935ae4b6e9449c41e4eeb14d75d0b
</td>
</tr>
<tr class="even" id="10.2.2">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.2-1_all.deb">
dCache 10.2.2 (Debian package)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
3f11b68a5178818fc21b09e4d340a458
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.2">
10.2.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.2-1.noarch.rpm">
dCache 10.2.2 (rpm)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
fff4da7021a92e773185598a34e45075
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.2.tar.gz">
dCache 10.2.2 (tgz)
</a>
</td>
<td class="date">
11.11.2024
</td>
<td class="hash">
25017765291387b0cc45fa763c78de85
</td>
</tr>
<tr class="odd" id="10.2.1">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.1-1_all.deb">
dCache 10.2.1 (Debian package)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
d397570d3063486d63ab6e563f97e05a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.1">
10.2.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.1-1.noarch.rpm">
dCache 10.2.1 (rpm)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
015918f345817de633304ca15e3ff702
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.1.tar.gz">
dCache 10.2.1 (tgz)
</a>
</td>
<td class="date">
01.11.2024
</td>
<td class="hash">
bf3a9498c8c86bb88cfd30ef08fcbded
</td>
</tr>
<tr class="even" id="10.2.0">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache_10.2.0-1_all.deb">
dCache 10.2.0 (Debian package)
</a>
</td>
<td class="date">
20.10.2024
</td>
<td class="hash">
d30cadb154f3afc3da173f2324dea478
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-10.2.shtml#release10.2.0">
10.2.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.0-1.noarch.rpm">
dCache 10.2.0 (rpm)
</a>
</td>
<td class="date">
20.10.2024
</td>
<td class="hash">
2d68faf8a22d8f96172be715ca94bd35
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/10.2/dcache-10.2.0.tar.gz">
dCache 10.2.0 (tgz)
</a>
</td>
<td class="date">
20.10.2024
</td>
<td class="hash">
6f93f5212170c55502443576d748467f
</td>
</tr>
