<tr class="rec" id="6.1.36">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.36-1.noarch.rpm">
dCache 6.1.36 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
d6f5c94a400bc4d2975001f5030ec8cb
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#36">
6.1.36
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.36.tar.gz">
dCache 6.1.36 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
28ff88cf241ac8086ca17d2f7817d0d5
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.36-1_all.deb">
dCache 6.1.36 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
fb62e7a39e0b5f893aafa12aa665dbc6
</td>
</tr>
<tr class="odd" id="6.1.35">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.35-1.noarch.rpm">
dCache 6.1.35 (rpm)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
ab9771439a7faadbd5e6e0894e3d447a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#35">
6.1.35
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.35.tar.gz">
dCache 6.1.35 (tgz)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
c4b1fd44d73bed2c778d7e82e59c3e09
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.35-1_all.deb">
dCache 6.1.35 (Debian package)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
0177fb9b6d407b3a7a36a70d7ca73a90
</td>
</tr>
<tr class="even" id="6.1.34">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.34-1.noarch.rpm">
dCache 6.1.34 (rpm)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
963c0b923440bf0397af7fb3048dc177
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#34">
6.1.34
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.34.tar.gz">
dCache 6.1.34 (tgz)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
2bfed7e8fb2bd75fbb7df5bae46780e8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.34-1_all.deb">
dCache 6.1.34 (Debian package)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
e741c1337a5556334bff85a1dc78b2e0
</td>
</tr>
<tr class="odd" id="6.1.33">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.33-1.noarch.rpm">
dCache 6.1.33 (rpm)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
92e62b385f22bd4cba6d14c51f0edc4d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#33">
6.1.33
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.33.tar.gz">
dCache 6.1.33 (tgz)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
670553de1b42f2f71679fbb7ae7ce090
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.33-1_all.deb">
dCache 6.1.33 (Debian package)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
8a1f3343700b85e3f560d5d1ed2f142e
</td>
</tr>
<tr class="even" id="6.1.32">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.32-1.noarch.rpm">
dCache 6.1.32 (rpm)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
c203041e04f625e28af872ff51050547
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#32">
6.1.32
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.32.tar.gz">
dCache 6.1.32 (tgz)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
626e247528269ac244a61a9eacdb154a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.32-1_all.deb">
dCache 6.1.32 (Debian package)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
39e2cf3aca1379b6d12fdf125a24a09a
</td>
</tr>
<tr class="odd" id="6.1.31">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.31-1.noarch.rpm">
dCache 6.1.31 (rpm)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
4f6332cb0b6c91c9a17ef57c44af99f7
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#31">
6.1.31
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.31.tar.gz">
dCache 6.1.31 (tgz)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
2a7590a0ae404fd4e80e77f1a7273768
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.31-1_all.deb">
dCache 6.1.31 (Debian package)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
15f68669aa9b0a0dce50c7101394ccc8
</td>
</tr>
<tr class="even" id="6.1.30">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.30-1.noarch.rpm">
dCache 6.1.30 (rpm)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
8ea4d26e0eb5568ee8d580357f296632
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#30">
6.1.30
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.30.tar.gz">
dCache 6.1.30 (tgz)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
1c79ee1ddd1abc2858e90421ccdc32d0
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.30-1_all.deb">
dCache 6.1.30 (Debian package)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
a6c8ebaa8fcb98a23d9a3c36f3b340ec
</td>
</tr>
<tr class="odd" id="6.1.29">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.29-1.noarch.rpm">
dCache 6.1.29 (rpm)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
0269d5819526ca98e44bf95a11ad5f90
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#29">
6.1.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.29.tar.gz">
dCache 6.1.29 (tgz)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
0c6f59a864a1f553199771880e7f2172
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.29-1_all.deb">
dCache 6.1.29 (Debian package)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
d999d91d6e4d6532ec4477cc3763a7b3
</td>
</tr>
<tr class="even" id="6.1.28">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.28-1.noarch.rpm">
dCache 6.1.28 (rpm)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
745952286e6be11d8a54c66c2fb6bc80
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#28">
6.1.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.28.tar.gz">
dCache 6.1.28 (tgz)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
441016fd53c3037d7d7c1a5aa6a719b4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.28-1_all.deb">
dCache 6.1.28 (Debian package)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
44dc2f63ec301ef348c37b709ce9ee0b
</td>
</tr>
<tr class="odd" id="6.1.27">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.27-1.noarch.rpm">
dCache 6.1.27 (rpm)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
f94e8003c477eac8f5f0d5c2fd9d1cd3
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#27">
6.1.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.27.tar.gz">
dCache 6.1.27 (tgz)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
9777f3f26c5c1fa2faa47e2e787563bb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.27-1_all.deb">
dCache 6.1.27 (Debian package)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
183ddd11ec6f48ff7d4a2a98c6e2660d
</td>
</tr>
<tr class="even" id="6.1.26">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.26-1.noarch.rpm">
dCache 6.1.26 (rpm)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
36a94a30b3b5aa7cb52696c51162658c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#26">
6.1.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.26.tar.gz">
dCache 6.1.26 (tgz)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
a5ed44a6a57bd511ee7c3a6064dc2f99
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.26-1_all.deb">
dCache 6.1.26 (Debian package)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
2e7527210f87e82833d7b8fb27dab065
</td>
</tr>
<tr class="odd" id="6.1.25">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.25-1.noarch.rpm">
dCache 6.1.25 (rpm)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
954c8ffddab07039d6ddc80f4efbca4f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#25">
6.1.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.25.tar.gz">
dCache 6.1.25 (tgz)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
11ed376d2cb21eff513c590051c69dc1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.25-1_all.deb">
dCache 6.1.25 (Debian package)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
3bb1448318ca21d152f4fc8e2ab74030
</td>
</tr>
<tr class="even" id="6.1.24">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.24-1.noarch.rpm">
dCache 6.1.24 (rpm)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
29aaa9a7eca44065cc1a22f5abebc74d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#24">
6.1.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.24.tar.gz">
dCache 6.1.24 (tgz)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
ef6031fed79ede8844bd31198cbed6a7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.24-1_all.deb">
dCache 6.1.24 (Debian package)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
a52178b7878e80b6a8b3264dfdc4f910
</td>
</tr>
<tr class="odd" id="6.1.23">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.23-1.noarch.rpm">
dCache 6.1.23 (rpm)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
4c5f6b96c42768bb2be247d2bb027e5c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#23">
6.1.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.23.tar.gz">
dCache 6.1.23 (tgz)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
c2e3cf6638fd32ed58311ef0020a198c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.23-1_all.deb">
dCache 6.1.23 (Debian package)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
fac72bbc02d9b2dbe1ab74d28cc3b240
</td>
</tr>
<tr class="even" id="6.1.22">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.22-1.noarch.rpm">
dCache 6.1.22 (rpm)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
019ccfb5faf49051103c5b0d57771ec7
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#22">
6.1.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.22.tar.gz">
dCache 6.1.22 (tgz)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
25186081aa42e4caa19a3ea7b8d6a1aa
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.22-1_all.deb">
dCache 6.1.22 (Debian package)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
fb1cea2d79b284dcafad9b227ffa6067
</td>
</tr>
<tr class="odd" id="6.1.21">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.21-1.noarch.rpm">
dCache 6.1.21 (rpm)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
a4f6cd7a3d1daa4f9c968ab82e7b940e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#21">
6.1.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.21.tar.gz">
dCache 6.1.21 (tgz)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
d2278ca58a7395255a3346414487f347
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.21-1_all.deb">
dCache 6.1.21 (Debian package)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
5256e84adb2609fba2e76be83069f60d
</td>
</tr>
<tr class="even" id="6.1.20">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.20-1.noarch.rpm">
dCache 6.1.20 (rpm)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
010a4a70bd1a9e24c0b87489d9f729a8
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#20">
6.1.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.20.tar.gz">
dCache 6.1.20 (tgz)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
567fc2ce9a71d858e7d09dc81d956525
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.20-1_all.deb">
dCache 6.1.20 (Debian package)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
8b102b291daa75ae499dddf59ada65e8
</td>
</tr>
<tr class="odd" id="6.1.19">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.19-1.noarch.rpm">
dCache 6.1.19 (rpm)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
6708ef9982224acdb8ed6efc4dab90b1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#19">
6.1.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.19.tar.gz">
dCache 6.1.19 (tgz)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
b0c5f3cb13c7d766626c86988c22fd85
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.19-1_all.deb">
dCache 6.1.19 (Debian package)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
8f67e1fdabb2c8207a4eccc628bc87c3
</td>
</tr>
<tr class="even" id="6.1.18">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.18-1.noarch.rpm">
dCache 6.1.18 (rpm)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
73d2bdce09fda444f072ccd9689ad691
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#18">
6.1.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.18.tar.gz">
dCache 6.1.18 (tgz)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
404e3684d202f61aa4e8d340f370d49e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.18-1_all.deb">
dCache 6.1.18 (Debian package)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
4381eb7429090b214110cde82c5688ce
</td>
</tr>
<tr class="odd" id="6.1.17">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.17-1.noarch.rpm">
dCache 6.1.17 (rpm)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
6c651a078afb89536ca219847a21e5d9
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#17">
6.1.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.17.tar.gz">
dCache 6.1.17 (tgz)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
59c07c7653ea2e0c227b2d9c34489cf2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.17-1_all.deb">
dCache 6.1.17 (Debian package)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
3af42ed9493f253bcf8ba4137e3fd164
</td>
</tr>
<tr class="even" id="6.1.16">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.16-1.noarch.rpm">
dCache 6.1.16 (rpm)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
0b4792234a070f020e5012bde274f7d6
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#16">
6.1.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.16.tar.gz">
dCache 6.1.16 (tgz)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
b2293c7f1ab9b7214351505322545758
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.16-1_all.deb">
dCache 6.1.16 (Debian package)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
94f5f5f4e9d36eb2fbeac56c1ce7717d
</td>
</tr>
<tr class="odd" id="6.1.15">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.15-1_all.deb">
dCache 6.1.15 (Debian package)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
7ceb60cb5f7e4df126a2ace24a81c031
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#15">
6.1.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.15-1.noarch.rpm">
dCache 6.1.15 (rpm)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
cbff386dd00c30393ffc223b5ff96e0b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.15.tar.gz">
dCache 6.1.15 (tgz)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
89be73fbbe2c14593fff9c42d7feaac5
</td>
</tr>
<tr class="even" id="6.1.14">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.14-1.noarch.rpm">
dCache 6.1.14 (rpm)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
4e979e1db2f1240231ccf765d2b63536
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#14">
6.1.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.14.tar.gz">
dCache 6.1.14 (tgz)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
73ad63918fb2e04387870dbcc76fed0d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.14-1_all.deb">
dCache 6.1.14 (Debian package)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
2c9b8ce472ab1527639f7caa78e6fe34
</td>
</tr>
<tr class="odd" id="6.1.13">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.13-1.noarch.rpm">
dCache 6.1.13 (rpm)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
d0809756356f2cf101845b164a9133d0
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#13">
6.1.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.13.tar.gz">
dCache 6.1.13 (tgz)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
188973a83e5131afad951008887541a5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.13-1_all.deb">
dCache 6.1.13 (Debian package)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
f75e907abcc4d67555dc4195bfcea76a
</td>
</tr>
<tr class="even" id="6.1.12">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.12-1.noarch.rpm">
dCache 6.1.12 (rpm)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
113e8768535ae7282daeeb4a5173138a
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#12">
6.1.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.12.tar.gz">
dCache 6.1.12 (tgz)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
e33acbaf0dae57df9d2b7151116dfc2d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.12-1_all.deb">
dCache 6.1.12 (Debian package)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
c05789daa52dcf29915b1c2ae6ac79eb
</td>
</tr>
<tr class="odd" id="6.1.11">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.11-1.noarch.rpm">
dCache 6.1.11 (rpm)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
523775ac00c5d730ddc373c2c93c3446
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#11">
6.1.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.11.tar.gz">
dCache 6.1.11 (tgz)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
53145db19a8bffaed7c64ffc9a6502d4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.11-1_all.deb">
dCache 6.1.11 (Debian package)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
09b75532a908078ee286b1917d04715b
</td>
</tr>
<tr class="even" id="6.1.10">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.10-1_all.deb">
dCache 6.1.10 (Debian package)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
14fcd803b6c4e374755dd2474b2cd75e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#10">
6.1.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.10-1.noarch.rpm">
dCache 6.1.10 (rpm)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
04513d622758132d5ac14d32d27c5dc7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.10.tar.gz">
dCache 6.1.10 (tgz)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
84283273332df743455e999b501a7009
</td>
</tr>
<tr class="odd" id="6.1.9">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.9-1_all.deb">
dCache 6.1.9 (Debian package)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
2b4bffef9177959cd471bde6b0348d96
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#9">
6.1.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.9-1.noarch.rpm">
dCache 6.1.9 (rpm)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
8213f4d0bb578be4c50db6e74120f841
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.9.tar.gz">
dCache 6.1.9 (tgz)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
8e82a2a2cf4b0803b0d4baac251ec705
</td>
</tr>
<tr class="even" id="6.1.8">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.8-1_all.deb">
dCache 6.1.8 (Debian package)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
b1031010779f839fa2644ade90f6f12d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#8">
6.1.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.8-1.noarch.rpm">
dCache 6.1.8 (rpm)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
172583383c014841e0ea3c70052f8c94
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.8.tar.gz">
dCache 6.1.8 (tgz)
</a>
</td>
<td class="date">
27.7.2020
</td>
<td class="hash">
555e28060061b3a159242bc60db7e033
</td>
</tr>
<tr class="odd" id="6.1.7">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.7-1_all.deb">
dCache 6.1.7 (Debian package)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
07414642aa4ad2588328d3dfe66f293e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#7">
6.1.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.7-1.noarch.rpm">
dCache 6.1.7 (rpm)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
2cc7ae2b705e3f7b0cbb5f8e470cb6c5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.7.tar.gz">
dCache 6.1.7 (tgz)
</a>
</td>
<td class="date">
10.7.2020
</td>
<td class="hash">
696b951dc41de19c7a66e31f11eda681
</td>
</tr>
<tr class="even" id="6.1.6">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.6-1_all.deb">
dCache 6.1.6 (Debian package)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
c08100a165f0ef5711e76426e799a9b5
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#6">
6.1.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.6-1.noarch.rpm">
dCache 6.1.6 (rpm)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
85cf0095260d93874e4f251567fac758
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.6.tar.gz">
dCache 6.1.6 (tgz)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
bfb6c0bee0992edc138cdfed5244b91d
</td>
</tr>
<tr class="odd" id="6.1.4">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.4-1_all.deb">
dCache 6.1.4 (Debian package)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
0fb637f7dcd158bfd92dcd9b9c56a1e6
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#4">
6.1.4
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.4-1.noarch.rpm">
dCache 6.1.4 (rpm)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
772408613df65e8d353a51fe8aa913e9
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.4.tar.gz">
dCache 6.1.4 (tgz)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
145f1d9b578adb508eefe8d64a55fadc
</td>
</tr>
<tr class="even" id="6.1.3">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.3-1_all.deb">
dCache 6.1.3 (Debian package)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
a43fbee2ed88b9dfbc5925fe9e780166
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#3">
6.1.3
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.3-1.noarch.rpm">
dCache 6.1.3 (rpm)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
b36342c26b1a0a499e39dc4414eec96d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.3.tar.gz">
dCache 6.1.3 (tgz)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
823d50537104bb029958c64327e2ad88
</td>
</tr>
<tr class="odd" id="6.1.2">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.2-1_all.deb">
dCache 6.1.2 (Debian package)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
e72deef2a057e3f838dba599ed4989c0
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#2">
6.1.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.2-1.noarch.rpm">
dCache 6.1.2 (rpm)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
6e7a018e135284ec936a518ea8aaf958
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.2.tar.gz">
dCache 6.1.2 (tgz)
</a>
</td>
<td class="date">
14.4.2020
</td>
<td class="hash">
5d586cdf893e7054fbd46268cd561e4f
</td>
</tr>
<tr class="even" id="6.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.1-1_all.deb">
dCache 6.1.1 (Debian package)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
e4a5969ee5f8cc42e4664e6369e10e82
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#1">
6.1.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.1-1.noarch.rpm">
dCache 6.1.1 (rpm)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
c479f55c951eeb279ffdfeb2e92e9aef
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.1.tar.gz">
dCache 6.1.1 (tgz)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
4ff7d61cee538f35106acde2497f17a4
</td>
</tr>
<tr class="odd" id="6.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache_6.1.0-1_all.deb">
dCache 6.1.0 (Debian package)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
cf9e36a04eeb256d98b0525aa92b4c07
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-1#0">
6.1.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.0-1.noarch.rpm">
dCache 6.1.0 (rpm)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
7d8e627532e40a5932a09d28d54942fb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.1/dcache-6.1.0.tar.gz">
dCache 6.1.0 (tgz)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
ba3fbeba6c45ce12f4b770185a90a2e7
</td>
</tr>
</tbody>
