<tr class="rec" id="5.0.37">
<td class="link">
<a href="repo/5.0/dcache_5.0.37-1_all.deb">
dCache 5.0.37 (Debian package)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
d97fa30e13b2da9c88eb68a8fbd3dfa0
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml">
5.0.37
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/5.0/dcache-5.0.37-1.noarch.rpm">
dCache 5.0.37 (rpm)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
bfad58278a2ee530f560708bf6987f34
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/5.0/dcache-5.0.37.tar.gz">
dCache 5.0.37 (tgz)
</a>
</td>
<td class="date">
3.7.2020
</td>
<td class="hash">
a9133f8ce2d80ad56dfd66195b49039c
</td>
</tr>
<tr class="odd" id="5.0.36">
<td class="link">
<a href="repo/5.0/dcache_5.0.36-1_all.deb">
dCache 5.0.36 (Debian package)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
360bb16b5be9165649459ae9dd326718
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#36">
5.0.36
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.36-1.noarch.rpm">
dCache 5.0.36 (rpm)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
5d10d9fe8004190793f285527f5623ba
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.36.tar.gz">
dCache 5.0.36 (tgz)
</a>
</td>
<td class="date">
12.5.2020
</td>
<td class="hash">
058e8bf87a958bd4d9c12a476bd94e42
</td>
</tr>
<tr class="even" id="5.0.35">
<td class="link">
<a href="repo/5.0/dcache_5.0.35-1_all.deb">
dCache 5.0.35 (Debian package)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
33eac47ea9ad9f39bd38d9d32a42cb87
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#35">
5.0.35
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.35-1.noarch.rpm">
dCache 5.0.35 (rpm)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
c35391c5834627ad026f5989e115d10c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.35.tar.gz">
dCache 5.0.35 (tgz)
</a>
</td>
<td class="date">
24.4.2020
</td>
<td class="hash">
7b72693823281e2b0a229043d5129f52
</td>
</tr>
<tr class="odd" id="5.0.34">
<td class="link">
<a href="repo/5.0/dcache_5.0.34-1_all.deb">
dCache 5.0.34 (Debian package)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
fdbb98faa3022c471715fa9db86da1fd
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#34">
5.0.34
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.34-1.noarch.rpm">
dCache 5.0.34 (rpm)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
5e81a9cfb5759d6faab504540a235043
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.34.tar.gz">
dCache 5.0.34 (tgz)
</a>
</td>
<td class="date">
24.3.2020
</td>
<td class="hash">
4f6e1fb64044a05ca493ff4ee8f49848
</td>
</tr>
<tr class="even" id="5.0.33">
<td class="link">
<a href="repo/5.0/dcache_5.0.33-1_all.deb">
dCache 5.0.33 (Debian package)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
42b5e12e7547907a429c5a26368cb437
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#33">
5.0.33
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.33-1.noarch.rpm">
dCache 5.0.33 (rpm)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
6d0babf91985824332c2c62813532b9a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.33.tar.gz">
dCache 5.0.33 (tgz)
</a>
</td>
<td class="date">
16.3.2020
</td>
<td class="hash">
9d0ea3f10694c951c6a817d607f27320
</td>
</tr>
<tr class="odd" id="5.0.32">
<td class="link">
<a href="repo/5.0/dcache_5.0.32-1_all.deb">
dCache 5.0.32 (Debian package)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
4dedb63bed3eb87d2cb22ddef236fb98
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#32">
5.0.32
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.32-1.noarch.rpm">
dCache 5.0.32 (rpm)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
78d9d3b6302db90f52535ff66382d62b
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.32.tar.gz">
dCache 5.0.32 (tgz)
</a>
</td>
<td class="date">
2.3.2020
</td>
<td class="hash">
5004c26474f9ff3c6f51e57f2c5c8d36
</td>
</tr>
<tr class="even" id="5.0.31">
<td class="link">
<a href="repo/5.0/dcache_5.0.31-1_all.deb">
dCache 5.0.31 (Debian package)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
dc57e2a123a9849a08e59962c3f1af0a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#31">
5.0.31
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.31-1.noarch.rpm">
dCache 5.0.31 (rpm)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
864120b6f4d30f32a3690be6d5155610
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.31.tar.gz">
dCache 5.0.31 (tgz)
</a>
</td>
<td class="date">
14.2.2020
</td>
<td class="hash">
763b37c77a438df3c81acfb3c1404dc3
</td>
</tr>
<tr class="odd" id="5.0.30">
<td class="link">
<a href="repo/5.0/dcache_5.0.30-1_all.deb">
dCache 5.0.30 (Debian package)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
12085740babd87fddc53162c160030ee
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#30">
5.0.30
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.30-1.noarch.rpm">
dCache 5.0.30 (rpm)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
99d355e1ab8731684f6cee4b5b5f41a6
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.30.tar.gz">
dCache 5.0.30 (tgz)
</a>
</td>
<td class="date">
31.1.2020
</td>
<td class="hash">
8e89048ad8fafe801861af4d3d160040
</td>
</tr>
<tr class="even" id="5.0.29">
<td class="link">
<a href="repo/5.0/dcache_5.0.29-1_all.deb">
dCache 5.0.29 (Debian package)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
6bbe7ea72d37f31cd173080401b241d9
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#29">
5.0.29
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.29-1.noarch.rpm">
dCache 5.0.29 (rpm)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
8107f73ab8a5b88c26590f64ae95e3d4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.29.tar.gz">
dCache 5.0.29 (tgz)
</a>
</td>
<td class="date">
9.1.2020
</td>
<td class="hash">
99ea69f136b8ebc0a28eacbf6b3cf14e
</td>
</tr>
<tr class="odd" id="5.0.28">
<td class="link">
<a href="repo/5.0/dcache_5.0.28-1_all.deb">
dCache 5.0.28 (Debian package)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
ccac5cbd591bf10781f701579f873c4b
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#28">
5.0.28
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.28-1.noarch.rpm">
dCache 5.0.28 (rpm)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
daf10f22d15e42570b11d86d8fde738c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.28.tar.gz">
dCache 5.0.28 (tgz)
</a>
</td>
<td class="date">
20.12.2019
</td>
<td class="hash">
86612c595e88d8743d875ee8110c2b0b
</td>
</tr>
<tr class="even" id="5.0.27">
<td class="link">
<a href="repo/5.0/dcache_5.0.27-1_all.deb">
dCache 5.0.27 (Debian package)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
25e255d6632d2bf335a4d8d4796be0bd
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#27">
5.0.27
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.27-1.noarch.rpm">
dCache 5.0.27 (rpm)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
73783c9bdd05db8151920509ec2dae3a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.27.tar.gz">
dCache 5.0.27 (tgz)
</a>
</td>
<td class="date">
5.12.2019
</td>
<td class="hash">
8ea2a2b504237ec89194a0d0016db007
</td>
</tr>
<tr class="odd" id="5.0.26">
<td class="link">
<a href="repo/5.0/dcache_5.0.26-1_all.deb">
dCache 5.0.26 (Debian package)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
1a7af0335b6dd2ca10e295185468572b
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#26">
5.0.26
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.26-1.noarch.rpm">
dCache 5.0.26 (rpm)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
b33e5126d037603ca62de01f7cf2e869
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.26.tar.gz">
dCache 5.0.26 (tgz)
</a>
</td>
<td class="date">
28.11.2019
</td>
<td class="hash">
78d1e4c35d3b6dbd56d81a8b1c38bbe1
</td>
</tr>
<tr class="even" id="5.0.25">
<td class="link">
<a href="repo/5.0/dcache_5.0.25-1_all.deb">
dCache 5.0.25 (Debian package)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
da2bf63e2a46cecbce3338383f00b42e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#25">
5.0.25
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.25-1.noarch.rpm">
dCache 5.0.25 (rpm)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
ba1aab3e3c47b06882fca00a542f61e6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.25.tar.gz">
dCache 5.0.25 (tgz)
</a>
</td>
<td class="date">
21.11.2019
</td>
<td class="hash">
8b56a37a20fee7c0f73fca2c2ecb532c
</td>
</tr>
<tr class="odd" id="5.0.24">
<td class="link">
<a href="repo/5.0/dcache_5.0.24-1_all.deb">
dCache 5.0.24 (Debian package)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
65e3ea0d154fae6e1090df859279ed87
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#24">
5.0.24
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.24-1.noarch.rpm">
dCache 5.0.24 (rpm)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
f2ef1ae14013c487d35643644c0662c3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.24.tar.gz">
dCache 5.0.24 (tgz)
</a>
</td>
<td class="date">
14.11.2019
</td>
<td class="hash">
3ab3fcd6c2ea1e8ac803185faa2003b4
</td>
</tr>
<tr class="even" id="5.0.23">
<td class="link">
<a href="repo/5.0/dcache-5.0.23-1.noarch.rpm">
dCache 5.0.23 (rpm)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
e66b5364c28094557a8a97179c025226
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#23">
5.0.23
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.23.tar.gz">
dCache 5.0.23 (tgz)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
80f7185d8059967d39b612dd179868a7
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache_5.0.23-1_all.deb">
dCache 5.0.23 (Debian package)
</a>
</td>
<td class="date">
5.11.2019
</td>
<td class="hash">
cd9acb52c0c864abf21deae01f0e2ace
</td>
</tr>
<tr class="odd" id="5.0.22">
<td class="link">
<a href="repo/5.0/dcache_5.0.22-1_all.deb">
dCache 5.0.22 (Debian package)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
76aadc8d7a4528053b72b3d08e5478bd
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#22">
5.0.22
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.22-1.noarch.rpm">
dCache 5.0.22 (rpm)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
5bc6ef3934aa54190e950cbf4398acab
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.22.tar.gz">
dCache 5.0.22 (tgz)
</a>
</td>
<td class="date">
8.10.2019
</td>
<td class="hash">
39cbda86630af11a052b271b88cac46b
</td>
</tr>
<tr class="even" id="5.0.21">
<td class="link">
<a href="repo/5.0/dcache_5.0.21-1_all.deb">
dCache 5.0.21 (Debian package)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
c2d53bad5f2f90d15ba4e4bf124e988d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#21">
5.0.21
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.21-1.noarch.rpm">
dCache 5.0.21 (rpm)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
e4bc5b708160820e3778c294d2d02b27
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.21.tar.gz">
dCache 5.0.21 (tgz)
</a>
</td>
<td class="date">
25.9.2019
</td>
<td class="hash">
b128fe24aa8d00834c9c2c9ce41d979f
</td>
</tr>
<tr class="odd" id="5.0.20">
<td class="link">
<a href="repo/5.0/dcache_5.0.20-1_all.deb">
dCache 5.0.20 (Debian package)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
ee02c0b59dca59cf9343fff91267b386
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#20">
5.0.20
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.20-1.noarch.rpm">
dCache 5.0.20 (rpm)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
1036808acb5aa5ff49aa268f1871ab10
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.20.tar.gz">
dCache 5.0.20 (tgz)
</a>
</td>
<td class="date">
26.8.2019
</td>
<td class="hash">
8f729524feb13fc984228825085aebfb
</td>
</tr>
<tr class="even" id="5.0.19">
<td class="link">
<a href="repo/5.0/dcache_5.0.19-1_all.deb">
dCache 5.0.19 (Debian package)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
549798378b096956f38b828d5c24816e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#19">
5.0.19
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.19-1.noarch.rpm">
dCache 5.0.19 (rpm)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
76cf46069b0f42b64fd3d1973f72e027
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.19.tar.gz">
dCache 5.0.19 (tgz)
</a>
</td>
<td class="date">
30.7.2019
</td>
<td class="hash">
1fbfd8bc9133f6ee1f2e8033799dfcdc
</td>
</tr>
<tr class="odd" id="5.0.18">
<td class="link">
<a href="repo/5.0/dcache-5.0.18-1.noarch.rpm">
dCache 5.0.18 (rpm)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
32bab69e989d011e43457dabd71bc941
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#18">
5.0.18
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.18.tar.gz">
dCache 5.0.18 (tgz)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
a5cfe12ab42dcb662396dfcb781eb1c7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache_5.0.18-1_all.deb">
dCache 5.0.18 (Debian package)
</a>
</td>
<td class="date">
11.7.2019
</td>
<td class="hash">
e15d52d35da0a9d5ee29cb25a058dcf2
</td>
</tr>
<tr class="even" id="5.0.17">
<td class="link">
<a href="repo/5.0/dcache-5.0.17-1.noarch.rpm">
dCache 5.0.17 (rpm)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
a1f59750eefe2d4be674d9afc2a9c2a2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#17">
5.0.17
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.17.tar.gz">
dCache 5.0.17 (tgz)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
a52d6983f564394324ed9133610de911
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache_5.0.17-1_all.deb">
dCache 5.0.17 (Debian package)
</a>
</td>
<td class="date">
2.7.2019
</td>
<td class="hash">
515b347e0920cef2ce3e89ffd8d5e125
</td>
</tr>
<tr class="odd" id="5.0.16">
<td class="link">
<a href="repo/5.0/dcache-5.0.16-1.noarch.rpm">
dCache 5.0.16 (rpm)
</a>
</td>
<td class="date">
25.6.2019
</td>
<td class="hash">
f0f5595fedb6e1f41bb0af8379541971
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#16">
5.0.16
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.16.tar.gz">
dCache 5.0.16 (tgz)
</a>
</td>
<td class="date">
25.6.2019
</td>
<td class="hash">
2bc8db1effc587e8e4be83ae97cc7810
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache_5.0.16-1_all.deb">
dCache 5.0.16 (Debian package)
</a>
</td>
<td class="date">
25.6.2019
</td>
<td class="hash">
3dd5bde7fd41a81f4a45a235695862ee
</td>
</tr>
<tr class="even" id="5.0.15">
<td class="link">
<a href="repo/5.0/dcache-5.0.15-1.noarch.rpm">
dCache 5.0.15 (rpm)
</a>
</td>
<td class="date">
19.6.2019
</td>
<td class="hash">
383a709de706cc95e17cb004df8eb5c0
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#15">
5.0.15
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.15.tar.gz">
dCache 5.0.15 (tgz)
</a>
</td>
<td class="date">
19.6.2019
</td>
<td class="hash">
a0ce4ba7e5157c4b36795de42177f9f1
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache_5.0.15-1_all.deb">
dCache 5.0.15 (Debian package)
</a>
</td>
<td class="date">
19.6.2019
</td>
<td class="hash">
722a795e984c762203ec349c63a29a5c
</td>
</tr>
<tr class="odd" id="5.0.13">
<td class="link">
<a href="repo/5.0/dcache-5.0.13-1.noarch.rpm">
dCache 5.0.13 (rpm)
</a>
</td>
<td class="date">
29.5.2019
</td>
<td class="hash">
a63a65b81e60813922265c35e03331d1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#13">
5.0.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.13.tar.gz">
dCache 5.0.13 (tgz)
</a>
</td>
<td class="date">
29.5.2019
</td>
<td class="hash">
4bbfdac5ee8602607d1d2fe96876d409
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache_5.0.13-1_all.deb">
dCache 5.0.13 (Debian package)
</a>
</td>
<td class="date">
29.5.2019
</td>
<td class="hash">
e3a272b03d140987acce953f056ba743
</td>
</tr>
<tr class="even" id="5.0.12">
<td class="link">
<a href="repo/5.0/dcache_5.0.12-1_all.deb">
dCache 5.0.12 (Debian package)
</a>
</td>
<td class="date">
17.5.2019
</td>
<td class="hash">
2be0586660d1c4f4ae351973b8900cf6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#12">
5.0.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.12-1.noarch.rpm">
dCache 5.0.12 (rpm)
</a>
</td>
<td class="date">
17.5.2019
</td>
<td class="hash">
104cdbdcf0ee6f507c71dfb6831c1786
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.12.tar.gz">
dCache 5.0.12 (tgz)
</a>
</td>
<td class="date">
17.5.2019
</td>
<td class="hash">
79b42b2659c7609b32cb660e297d98ba
</td>
</tr>
<tr class="odd" id="5.0.11">
<td class="link">
<a href="repo/5.0/dcache_5.0.11-1_all.deb">
dCache 5.0.11 (Debian package)
</a>
</td>
<td class="date">
17.4.2019
</td>
<td class="hash">
bae0cb80fef0f5479ba06d52891a3700
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#11">
5.0.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.11-1.noarch.rpm">
dCache 5.0.11 (rpm)
</a>
</td>
<td class="date">
17.4.2019
</td>
<td class="hash">
4ab43102722682ce37b7e3ab04dbf44c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.11.tar.gz">
dCache 5.0.11 (tgz)
</a>
</td>
<td class="date">
17.4.2019
</td>
<td class="hash">
2e2e7bca0afcbcae7afbbc4b80a191c6
</td>
</tr>
<tr class="even" id="5.0.10">
<td class="link">
<a href="repo/5.0/dcache_5.0.10-1_all.deb">
dCache 5.0.10 (Debian package)
</a>
</td>
<td class="date">
11.4.2019
</td>
<td class="hash">
b3131c71a8b4ab9c89352c33cd729d3e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#10">
5.0.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.10-1.noarch.rpm">
dCache 5.0.10 (rpm)
</a>
</td>
<td class="date">
11.4.2019
</td>
<td class="hash">
a3e45533e7c8f7682b6895e26774378b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.10.tar.gz">
dCache 5.0.10 (tgz)
</a>
</td>
<td class="date">
11.4.2019
</td>
<td class="hash">
41c1056b2772c2723fd2087ad4b50f68
</td>
</tr>
<tr class="odd" id="5.0.9">
<td class="link">
<a href="repo/5.0/dcache_5.0.9-1_all.deb">
dCache 5.0.9 (Debian package)
</a>
</td>
<td class="date">
4.4.2019
</td>
<td class="hash">
304d43960c04bc18ce30e96d37ab0533
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#9">
5.0.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.9-1.noarch.rpm">
dCache 5.0.9 (rpm)
</a>
</td>
<td class="date">
4.4.2019
</td>
<td class="hash">
d9949829983e6d93a22632879a93b7ce
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.9.tar.gz">
dCache 5.0.9 (tgz)
</a>
</td>
<td class="date">
4.4.2019
</td>
<td class="hash">
7c5076755c01cb892d395845f1bd6761
</td>
</tr>
<tr class="even" id="5.0.8">
<td class="link">
<a href="repo/5.0/dcache_5.0.8-1_all.deb">
dCache 5.0.8 (Debian package)
</a>
</td>
<td class="date">
20.3.2019
</td>
<td class="hash">
21263134790b9eebfce568ae39edcac6
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#8">
5.0.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.8-1.noarch.rpm">
dCache 5.0.8 (rpm)
</a>
</td>
<td class="date">
20.3.2019
</td>
<td class="hash">
e501ed951b66ed8d9678926e4b58e1e8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.8.tar.gz">
dCache 5.0.8 (tgz)
</a>
</td>
<td class="date">
20.3.2019
</td>
<td class="hash">
7d6cb8b5ddf16d6dfea2c475afe06115
</td>
</tr>
<tr class="odd" id="5.0.7">
<td class="link">
<a href="repo/5.0/dcache_5.0.7-1_all.deb">
dCache 5.0.7 (Debian package)
</a>
</td>
<td class="date">
13.3.2019
</td>
<td class="hash">
a72c0965fc2cb82be74d4b0055a5d24b
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#7">
5.0.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.7-1.noarch.rpm">
dCache 5.0.7 (rpm)
</a>
</td>
<td class="date">
13.3.2019
</td>
<td class="hash">
a74f4f84e015651bf794d6b4dc434c32
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.7.tar.gz">
dCache 5.0.7 (tgz)
</a>
</td>
<td class="date">
13.3.2019
</td>
<td class="hash">
322e0d5f1ab4bca32a04842761dbdf86
</td>
</tr>
<tr class="even" id="5.0.6">
<td class="link">
<a href="repo/5.0/dcache-5.0.6-1.noarch.rpm">
dCache 5.0.6 (rpm)
</a>
</td>
<td class="date">
6.3.2019
</td>
<td class="hash">
fe2cc798b59bd15b802c9e15494e21e4
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#6">
5.0.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.6.tar.gz">
dCache 5.0.6 (tgz)
</a>
</td>
<td class="date">
6.3.2019
</td>
<td class="hash">
28a9de035ff1a708ea3f9340e76d4865
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache_5.0.6-1_all.deb">
dCache 5.0.6 (Debian package)
</a>
</td>
<td class="date">
6.3.2019
</td>
<td class="hash">
2095f8cd7df65c6e315b16ea52efb228
</td>
</tr>
<tr class="odd" id="5.0.5">
<td class="link">
<a href="repo/5.0/dcache-5.0.5-1.noarch.rpm">
dCache 5.0.5 (rpm)
</a>
</td>
<td class="date">
26.2.2019
</td>
<td class="hash">
7118c543446e5272d8c31b74f3683d01
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#5">
5.0.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.5.tar.gz">
dCache 5.0.5 (tgz)
</a>
</td>
<td class="date">
26.2.2019
</td>
<td class="hash">
d17cde0937c1fbfeef3c114b56650ebd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache_5.0.5-1_all.deb">
dCache 5.0.5 (Debian package)
</a>
</td>
<td class="date">
26.2.2019
</td>
<td class="hash">
011d586aa02a8eb7b8c80e6ce03647bd
</td>
</tr>
<tr class="even" id="5.0.4">
<td class="link">
<a href="repo/5.0/dcache_5.0.4-1_all.deb">
dCache 5.0.4 (Debian package)
</a>
</td>
<td class="date">
15.2.2019
</td>
<td class="hash">
53a715b50a183479b54af63c36f47de2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#4">
5.0.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.4-1.noarch.rpm">
dCache 5.0.4 (rpm)
</a>
</td>
<td class="date">
15.2.2019
</td>
<td class="hash">
9fc2fcdf03f7328718e4190ead8d7d5e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.4.tar.gz">
dCache 5.0.4 (tgz)
</a>
</td>
<td class="date">
15.2.2019
</td>
<td class="hash">
80cb7025eb9b9822d7614eaaa215854d
</td>
</tr>
<tr class="odd" id="5.0.3">
<td class="link">
<a href="repo/5.0/dcache_5.0.3-1_all.deb">
dCache 5.0.3 (Debian package)
</a>
</td>
<td class="date">
5.2.2019
</td>
<td class="hash">
ce1ac4dda0bd3e458fedce0802b55d1c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#3">
5.0.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.3-1.noarch.rpm">
dCache 5.0.3 (rpm)
</a>
</td>
<td class="date">
5.2.2019
</td>
<td class="hash">
d0e4b7c42d7dff07cb06fa3ebd427039
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.3.tar.gz">
dCache 5.0.3 (tgz)
</a>
</td>
<td class="date">
5.2.2019
</td>
<td class="hash">
ba7ffee36b5df31ea90a591869f6f80f
</td>
</tr>
<tr class="even" id="5.0.2">
<td class="link">
<a href="repo/5.0/dcache_5.0.2-1_all.deb">
dCache 5.0.2 (Debian package)
</a>
</td>
<td class="date">
30.1.2019
</td>
<td class="hash">
9c8353c50db11bd84b15a843d547b02e
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#2">
5.0.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.2-1.noarch.rpm">
dCache 5.0.2 (rpm)
</a>
</td>
<td class="date">
30.1.2019
</td>
<td class="hash">
4e359721ed9744078a66a9faa00885ad
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.2.tar.gz">
dCache 5.0.2 (tgz)
</a>
</td>
<td class="date">
30.1.2019
</td>
<td class="hash">
1add38af09915f0af117be4d97366a45
</td>
</tr>
<tr class="odd" id="5.0.1">
<td class="link">
<a href="repo/5.0/dcache_5.0.1-1_all.deb">
dCache 5.0.1 (Debian package)
</a>
</td>
<td class="date">
22.1.2019
</td>
<td class="hash">
869450064b495b6f441b0f776e809661
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#1">
5.0.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.1-1.noarch.rpm">
dCache 5.0.1 (rpm)
</a>
</td>
<td class="date">
22.1.2019
</td>
<td class="hash">
31a76dd5967981c75e6eacf8a314a39a
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/5.0/dcache-5.0.1.tar.gz">
dCache 5.0.1 (tgz)
</a>
</td>
<td class="date">
22.1.2019
</td>
<td class="hash">
ebf48b3319c8825c4d1cd089767b701f
</td>
</tr>
<tr class="even" id="5.0.0">
<td class="link">
<a href="repo/5.0/dcache-5.0.0-1.noarch.rpm">
dCache 5.0.0 (rpm)
</a>
</td>
<td class="date">
21.1.2019
</td>
<td class="hash">
6a2895078e56633453d7c3ae344d354d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-5.0.shtml#0">
5.0.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache-5.0.0.tar.gz">
dCache 5.0.0 (tgz)
</a>
</td>
<td class="date">
21.1.2019
</td>
<td class="hash">
3097cc8131331202ef3bbf953569e350
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/5.0/dcache_5.0.0-1_all.deb">
dCache 5.0.0 (Debian package)
</a>
</td>
<td class="date">
21.1.2019
</td>
<td class="hash">
41bcb2e555d2160571dd610c8e752f8a
</td>
</tr>
</tbody>
