<tr class="rec" id="11.1.7">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.7-1_all.deb">
dCache 11.1.7 (Debian package)
</a>
</td>
<td class="date">
22.01.2026
</td>
<td class="hash">
d1a69a3bcbf510e98e0cde40ee95e380
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.7">
11.1.7
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.7-1.noarch.rpm">
dCache 11.1.7 (rpm)
</a>
</td>
<td class="date">
22.01.2026
</td>
<td class="hash">
608ebc47f9d568000d747c9915922c14
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.7.tar.gz">
dCache 11.1.7 (tgz)
</a>
</td>
<td class="date">
22.01.2026
</td>
<td class="hash">
4df73618fb83875fbaf126cd3239ab3b
</td>
</tr>
<tr class="even" id="11.1.7">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.7-1_all.deb">
dCache 11.1.7 (Debian package)
</a>
</td>
<td class="date">
22.01.2026
</td>
<td class="hash">
d1a69a3bcbf510e98e0cde40ee95e380
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.7">
11.1.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.7-1.noarch.rpm">
dCache 11.1.7 (rpm)
</a>
</td>
<td class="date">
22.01.2026
</td>
<td class="hash">
608ebc47f9d568000d747c9915922c14
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.7.tar.gz">
dCache 11.1.7 (tgz)
</a>
</td>
<td class="date">
22.01.2026
</td>
<td class="hash">
4df73618fb83875fbaf126cd3239ab3b
</td>
</tr>
<tr class="even" id="11.1.6">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.6-1_all.deb">
dCache 11.1.6 (Debian package)
</a>
</td>
<td class="date">
08.01.2026
</td>
<td class="hash">
89f1c62e5174c56067804d62cd1d75f9
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.6">
11.1.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.6-1.noarch.rpm">
dCache 11.1.6 (rpm)
</a>
</td>
<td class="date">
08.01.2026
</td>
<td class="hash">
46e94031d68d11534e750f728573a16b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.6.tar.gz">
dCache 11.1.6 (tgz)
</a>
</td>
<td class="date">
08.01.2026
</td>
<td class="hash">
556bb7d0b882fc383105b62bcacc2770
</td>
</tr>
<tr class="odd" id="11.1.5">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.5-1_all.deb">
dCache 11.1.5 (Debian package)
</a>
</td>
<td class="date">
09.12.2025
</td>
<td class="hash">
61fdc070bbd2ec155e7a4c2b3020de2a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.5">
11.1.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.5-1.noarch.rpm">
dCache 11.1.5 (rpm)
</a>
</td>
<td class="date">
09.12.2025
</td>
<td class="hash">
efadcfb0b076935ac882579f50e987f5
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.5.tar.gz">
dCache 11.1.5 (tgz)
</a>
</td>
<td class="date">
09.12.2025
</td>
<td class="hash">
78791ef22b07241fc9c39795acc922f2
</td>
</tr>
<tr class="even" id="11.1.4">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.4-1_all.deb">
dCache 11.1.4 (Debian package)
</a>
</td>
<td class="date">
03.12.2025
</td>
<td class="hash">
b9866f730cc601b670c05958f3eb1730
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.4">
11.1.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.4-1.noarch.rpm">
dCache 11.1.4 (rpm)
</a>
</td>
<td class="date">
03.12.2025
</td>
<td class="hash">
bd51ee72f7f635b03bf1dce5f2abbb93
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.4.tar.gz">
dCache 11.1.4 (tgz)
</a>
</td>
<td class="date">
03.12.2025
</td>
<td class="hash">
315d9bfcaa7bf0877394544b1d594a27
</td>
</tr>
<tr class="odd" id="11.1.3">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.3-1_all.deb">
dCache 11.1.3 (Debian package)
</a>
</td>
<td class="date">
06.11.2025
</td>
<td class="hash">
6e102e62ae0135e7fa8917a5e0035e9a
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.3">
11.1.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.3-1.noarch.rpm">
dCache 11.1.3 (rpm)
</a>
</td>
<td class="date">
06.11.2025
</td>
<td class="hash">
e4a29215f5389ff00b2134d2a005abc4
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.3.tar.gz">
dCache 11.1.3 (tgz)
</a>
</td>
<td class="date">
06.11.2025
</td>
<td class="hash">
a7cedf30f1a11a939c4bf3bd5c68cb5e
</td>
</tr>
<tr class="even" id="11.1.2">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.2-1_all.deb">
dCache 11.1.2 (Debian package)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
2ebf7eedfde1a3f110c2ead04bf3bea7
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.2">
11.1.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.2-1.noarch.rpm">
dCache 11.1.2 (rpm)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
51a95e53725fa93483c06a29a98fb6c6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.2.tar.gz">
dCache 11.1.2 (tgz)
</a>
</td>
<td class="date">
16.10.2025
</td>
<td class="hash">
4e1eab7d1189038b427d01f9fbb4ef6e
</td>
</tr>
<tr class="odd" id="11.1.1">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.1-1_all.deb">
dCache 11.1.1 (Debian package)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
9b2e1203ae08cb109d8495508259bd8b
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.1">
11.1.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.1-1.noarch.rpm">
dCache 11.1.1 (rpm)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
b4f119d2f23e7a27168db36c65676266
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.1.tar.gz">
dCache 11.1.1 (tgz)
</a>
</td>
<td class="date">
09.10.2025
</td>
<td class="hash">
f750c17f84bc8c5c9568eef3536f92cd
</td>
</tr>
<tr class="even" id="11.1.0">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache_11.1.0-1_all.deb">
dCache 11.1.0 (Debian package)
</a>
</td>
<td class="date">
19.09.2025
</td>
<td class="hash">
85c6e32e17f0466820a38e47b704a856
</td>
<td class="notes" rowspan="3">
<a href="/old/downloads/1.9/release-notes-11.1.shtml#release11.1.0">
11.1.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.0-1.noarch.rpm">
dCache 11.1.0 (rpm)
</a>
</td>
<td class="date">
19.09.2025
</td>
<td class="hash">
368947eff03092b7fb74dbdce9b4ddb2
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/11.1/dcache-11.1.0.tar.gz">
dCache 11.1.0 (tgz)
</a>
</td>
<td class="date">
19.09.2025
</td>
<td class="hash">
9b9f0b00170af187e138968c35a02081
</td>
</tr>
