<tr class="rec" id="6.2.49">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.49-1.noarch.rpm">
dCache 6.2.49 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
d3bf641a920422f7307b56e70e0be5b2
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#49">
6.2.49
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.49.tar.gz">
dCache 6.2.49 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
b020217910d34180d1db19a798636a8c
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.49-1_all.deb">
dCache 6.2.49 (Debian package)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
85ff9390754392f9bd78406f0b4643d5
</td>
</tr>
<tr class="odd" id="6.2.48">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.48-1.noarch.rpm">
dCache 6.2.48 (rpm)
</a>
</td>
<td class="date">
14.9.2022
</td>
<td class="hash">
43ad3c766f1c1a4bf3bec3720a778968
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#48">
6.2.48
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.48.tar.gz">
dCache 6.2.48 (tgz)
</a>
</td>
<td class="date">
14.9.2022
</td>
<td class="hash">
3910a52f3608b82c9add3406604e91a8
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.48-1_all.deb">
dCache 6.2.48 (Debian package)
</a>
</td>
<td class="date">
14.9.2022
</td>
<td class="hash">
c93b1421d91eff1d3ecad6332cea02ff
</td>
</tr>
<tr class="even" id="6.2.47">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.47-1.noarch.rpm">
dCache 6.2.47 (rpm)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
a6dbbb6e42e67cd59b179695d4519029
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#47">
6.2.47
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.47.tar.gz">
dCache 6.2.47 (tgz)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
122db6cecfbe8b5b3db1ec82daffae5e
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.47-1_all.deb">
dCache 6.2.47 (Debian package)
</a>
</td>
<td class="date">
30.6.2022
</td>
<td class="hash">
c86f80e5be4c3ccc358344ebc76983f5
</td>
</tr>
<tr class="odd" id="6.2.46">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.46-1.noarch.rpm">
dCache 6.2.46 (rpm)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
8a4ed80167df941aa5e53655c03d8637
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#46">
6.2.46
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.46.tar.gz">
dCache 6.2.46 (tgz)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
cd225d8124cb050f87554b7ed1ff6374
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.46-1_all.deb">
dCache 6.2.46 (Debian package)
</a>
</td>
<td class="date">
10.6.2022
</td>
<td class="hash">
96d1e77cc07fd0efdcffc299d794fb5d
</td>
</tr>
<tr class="even" id="6.2.45">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.45-1.noarch.rpm">
dCache 6.2.45 (rpm)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
34b8a3a752a02bb7af2c3af7f0567ef1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#45">
6.2.45
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.45.tar.gz">
dCache 6.2.45 (tgz)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
0b99834b58c0db70d2736f7316475a86
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.45-1_all.deb">
dCache 6.2.45 (Debian package)
</a>
</td>
<td class="date">
12.5.2022
</td>
<td class="hash">
83211f949cf053eb9422d89165263013
</td>
</tr>
<tr class="odd" id="6.2.44">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.44-1.noarch.rpm">
dCache 6.2.44 (rpm)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
45e8cbc055614422752613ac2b8c4e41
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#44">
6.2.44
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.44.tar.gz">
dCache 6.2.44 (tgz)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
7b1d449ff7a8018cf24cac2f5c0e9e30
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.44-1_all.deb">
dCache 6.2.44 (Debian package)
</a>
</td>
<td class="date">
21.4.2022
</td>
<td class="hash">
6ae66bcce5e6060703e456a2f7d1c316
</td>
</tr>
<tr class="even" id="6.2.43">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.43-1.noarch.rpm">
dCache 6.2.43 (rpm)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
3e4bbaa62507ec839b4288abf2acd936
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#43">
6.2.43
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.43.tar.gz">
dCache 6.2.43 (tgz)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
2b7c9893cef754442ebf5c19efb1df46
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.43-1_all.deb">
dCache 6.2.43 (Debian package)
</a>
</td>
<td class="date">
8.4.2022
</td>
<td class="hash">
ace2f66b0b85859a2d3a910ffd793697
</td>
</tr>
<tr class="odd" id="6.2.42">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.42-1.noarch.rpm">
dCache 6.2.42 (rpm)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
6d54d62e48679a487de318fe85b276b4
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#42">
6.2.42
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.42.tar.gz">
dCache 6.2.42 (tgz)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
c5656ff31fd1b1a3ffc324dff72863b7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.42-1_all.deb">
dCache 6.2.42 (Debian package)
</a>
</td>
<td class="date">
25.3.2022
</td>
<td class="hash">
daba42bf602f0bf175f3e257fd6f2095
</td>
</tr>
<tr class="even" id="6.2.41">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.41-1.noarch.rpm">
dCache 6.2.41 (rpm)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
f50d948e3db089751387e7067ff66e17
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#41">
6.2.41
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.41.tar.gz">
dCache 6.2.41 (tgz)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
e129867f5eda7c42dbae3f0b0f9578ae
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.41-1_all.deb">
dCache 6.2.41 (Debian package)
</a>
</td>
<td class="date">
9.3.2022
</td>
<td class="hash">
328565833476cacdfbd48afd1ed93457
</td>
</tr>
<tr class="odd" id="6.2.40">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.40-1.noarch.rpm">
dCache 6.2.40 (rpm)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
98524182502682381f51791431cd8b5f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#40">
6.2.40
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.40.tar.gz">
dCache 6.2.40 (tgz)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
47cb962f272f64a7dacdc076fb145e24
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.40-1_all.deb">
dCache 6.2.40 (Debian package)
</a>
</td>
<td class="date">
10.2.2022
</td>
<td class="hash">
f16bbce7f63571e6fe74c4d7891c543b
</td>
</tr>
<tr class="even" id="6.2.39">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.39-1.noarch.rpm">
dCache 6.2.39 (rpm)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
7e0231fd840efa0d94d458d1c2be876e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#39">
6.2.39
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.39.tar.gz">
dCache 6.2.39 (tgz)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
0504f093fc7c83c743ec259a0ff9b180
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.39-1_all.deb">
dCache 6.2.39 (Debian package)
</a>
</td>
<td class="date">
2.2.2022
</td>
<td class="hash">
44268d7a34ff647d7d477d9dc125e1f3
</td>
</tr>
<tr class="odd" id="6.2.38">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.38-1.noarch.rpm">
dCache 6.2.38 (rpm)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
38b73a16822f1d9f640608c0c8381c93
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#38">
6.2.38
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.38.tar.gz">
dCache 6.2.38 (tgz)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
5095d4f78f0e9deb484ea4cb1d2e08ec
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.38-1_all.deb">
dCache 6.2.38 (Debian package)
</a>
</td>
<td class="date">
13.1.2022
</td>
<td class="hash">
f9fc155a566af8088d70efc7c10c99f0
</td>
</tr>
<tr class="even" id="6.2.37">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.37-1.noarch.rpm">
dCache 6.2.37 (rpm)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
c5bfb7bd17151209a42ed55fda39a512
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#37">
6.2.37
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.37.tar.gz">
dCache 6.2.37 (tgz)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
92c35f1ab2890759d7a4d6eb052568b6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.37-1_all.deb">
dCache 6.2.37 (Debian package)
</a>
</td>
<td class="date">
16.12.2021
</td>
<td class="hash">
0ac5b3216ab0d16466043f46390700d6
</td>
</tr>
<tr class="odd" id="6.2.36">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.36-1.noarch.rpm">
dCache 6.2.36 (rpm)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
7d2e90aff9706f104f222404d4d7227d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#36">
6.2.36
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.36.tar.gz">
dCache 6.2.36 (tgz)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
fb8ea19a7363fb08dcdf00ee57982f67
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.36-1_all.deb">
dCache 6.2.36 (Debian package)
</a>
</td>
<td class="date">
10.12.2021
</td>
<td class="hash">
f5053c0f514cab582033836eb0f7ed03
</td>
</tr>
<tr class="even" id="6.2.35">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.35-1.noarch.rpm">
dCache 6.2.35 (rpm)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
271cd988f743cabc3150068aaacbb7c4
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#35">
6.2.35
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.35.tar.gz">
dCache 6.2.35 (tgz)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
d64115ca7ab8d71db28ab8a753775d23
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.35-1_all.deb">
dCache 6.2.35 (Debian package)
</a>
</td>
<td class="date">
30.11.2021
</td>
<td class="hash">
397da774422311d5be535a0126374717
</td>
</tr>
<tr class="odd" id="6.2.34">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.34-1.noarch.rpm">
dCache 6.2.34 (rpm)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
62263cf3f9dc94f08e545ee9c9306c37
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#34">
6.2.34
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.34.tar.gz">
dCache 6.2.34 (tgz)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
42af4138125643d3368896b52aab8e65
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.34-1_all.deb">
dCache 6.2.34 (Debian package)
</a>
</td>
<td class="date">
11.11.2021
</td>
<td class="hash">
39a1a95730c14da38c37f9d354f9d263
</td>
</tr>
<tr class="even" id="6.2.33">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.33-1.noarch.rpm">
dCache 6.2.33 (rpm)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
a685136011d28ab373bea5ac8d3aab8c
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#33">
6.2.33
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.33.tar.gz">
dCache 6.2.33 (tgz)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
139317c107138e9a8238710de1b53b4c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.33-1_all.deb">
dCache 6.2.33 (Debian package)
</a>
</td>
<td class="date">
8.11.2021
</td>
<td class="hash">
62a28e30e788840b90e447d03f304f1f
</td>
</tr>
<tr class="odd" id="6.2.32">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.32-1.noarch.rpm">
dCache 6.2.32 (rpm)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
0903bbc32affe7b746688a0162a97218
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#32">
6.2.32
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.32.tar.gz">
dCache 6.2.32 (tgz)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
c6fb90d51364dd002bfd748ca36e2ec1
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.32-1_all.deb">
dCache 6.2.32 (Debian package)
</a>
</td>
<td class="date">
28.10.2021
</td>
<td class="hash">
308daa7b3644adb2b86ed503a4bd40e5
</td>
</tr>
<tr class="even" id="6.2.31">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.31-1.noarch.rpm">
dCache 6.2.31 (rpm)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
d5763b6b2c08ed102547837772d2dbd1
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#31">
6.2.31
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.31.tar.gz">
dCache 6.2.31 (tgz)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
42eb86e10ea67995f447a1fc4cfaf789
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.31-1_all.deb">
dCache 6.2.31 (Debian package)
</a>
</td>
<td class="date">
19.10.2021
</td>
<td class="hash">
e987f8b5c67b15597f242ac9acc60c33
</td>
</tr>
<tr class="odd" id="6.2.30">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.30-1.noarch.rpm">
dCache 6.2.30 (rpm)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
da7c18b5dca65a1e053b3d3dc96d0d9e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#30">
6.2.30
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.30.tar.gz">
dCache 6.2.30 (tgz)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
6d45bfbb453ab98efe6c4b3395a553de
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.30-1_all.deb">
dCache 6.2.30 (Debian package)
</a>
</td>
<td class="date">
30.9.2021
</td>
<td class="hash">
47296dc7da5b4988a8c77a0cccb13528
</td>
</tr>
<tr class="even" id="6.2.29">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.29-1.noarch.rpm">
dCache 6.2.29 (rpm)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
c460d6b9a29fcc59b20b50f0f779cf2b
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#29">
6.2.29
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.29.tar.gz">
dCache 6.2.29 (tgz)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
90644f2e3f4fb40d58f1eeb90b8992c4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.29-1_all.deb">
dCache 6.2.29 (Debian package)
</a>
</td>
<td class="date">
22.9.2021
</td>
<td class="hash">
1c26966bfc9609994e209177e2ff3e05
</td>
</tr>
<tr class="odd" id="6.2.28">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.28-1.noarch.rpm">
dCache 6.2.28 (rpm)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
6632d97bdc066a7242193db30516c587
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#28">
6.2.28
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.28.tar.gz">
dCache 6.2.28 (tgz)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
a7371ddbdc1e6d58089b304d5f7f6700
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.28-1_all.deb">
dCache 6.2.28 (Debian package)
</a>
</td>
<td class="date">
10.9.2021
</td>
<td class="hash">
b818e8fcb9d168091f068145524d7ded
</td>
</tr>
<tr class="even" id="6.2.27">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.27-1.noarch.rpm">
dCache 6.2.27 (rpm)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
f0a0e532f5d5dc14fa2c139c1959e4f8
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#27">
6.2.27
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.27.tar.gz">
dCache 6.2.27 (tgz)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
7ecd54aee09a1b6114ee851d9083c14b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.27-1_all.deb">
dCache 6.2.27 (Debian package)
</a>
</td>
<td class="date">
27.8.2021
</td>
<td class="hash">
a80a412f836b40f6d8d293a4e1b23696
</td>
</tr>
<tr class="odd" id="6.2.26">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.26-1.noarch.rpm">
dCache 6.2.26 (rpm)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
c697e3f84c6d307f0a015cc7d1951eb0
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#26">
6.2.26
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.26.tar.gz">
dCache 6.2.26 (tgz)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
1ce92543128e79f2a2f93aa7b9b1167d
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.26-1_all.deb">
dCache 6.2.26 (Debian package)
</a>
</td>
<td class="date">
12.8.2021
</td>
<td class="hash">
6251ba803c1ef0bdea8740d26bc8b971
</td>
</tr>
<tr class="even" id="6.2.25">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.25-1.noarch.rpm">
dCache 6.2.25 (rpm)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
7489e34629aa910c3f48e338b7c09121
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#25">
6.2.25
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.25.tar.gz">
dCache 6.2.25 (tgz)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
fcae49b0ee8dbb9acbf07a206c02c98b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.25-1_all.deb">
dCache 6.2.25 (Debian package)
</a>
</td>
<td class="date">
29.7.2021
</td>
<td class="hash">
1149dc9c66643244ce4c16177c641e19
</td>
</tr>
<tr class="odd" id="6.2.24">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.24-1.noarch.rpm">
dCache 6.2.24 (rpm)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
7616f662c377c6b7cd2aaf660dffbd0d
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#24">
6.2.24
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.24.tar.gz">
dCache 6.2.24 (tgz)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
fc8ce817a6401452352e8c02e0229c94
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.24-1_all.deb">
dCache 6.2.24 (Debian package)
</a>
</td>
<td class="date">
8.7.2021
</td>
<td class="hash">
7b9457d67717a78f8158cb698486625e
</td>
</tr>
<tr class="even" id="6.2.23">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.23-1.noarch.rpm">
dCache 6.2.23 (rpm)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
545c71a413476fbb24ca1c6f143f0ab6
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#23">
6.2.23
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.23.tar.gz">
dCache 6.2.23 (tgz)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
7d7a4f598aed83ed288e72b0d35264a3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.23-1_all.deb">
dCache 6.2.23 (Debian package)
</a>
</td>
<td class="date">
11.6.2021
</td>
<td class="hash">
2648dbdc40e7d11a16705961ec3fce7e
</td>
</tr>
<tr class="odd" id="6.2.22">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.22-1.noarch.rpm">
dCache 6.2.22 (rpm)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
f1932d8e81889c1219a82fe6a20bb150
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#22">
6.2.22
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.22.tar.gz">
dCache 6.2.22 (tgz)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
d28d45b54457ca106ea698551d48ccdf
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.22-1_all.deb">
dCache 6.2.22 (Debian package)
</a>
</td>
<td class="date">
21.5.2021
</td>
<td class="hash">
0e18726642d045812751e66a79d45704
</td>
</tr>
<tr class="even" id="6.2.21">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.21-1.noarch.rpm">
dCache 6.2.21 (rpm)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
568490ced1dfbaff4d97ddbea8d67665
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#21">
6.2.21
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.21.tar.gz">
dCache 6.2.21 (tgz)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
6d6b497738c63b7dceea0ee79b95774d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.21-1_all.deb">
dCache 6.2.21 (Debian package)
</a>
</td>
<td class="date">
5.5.2021
</td>
<td class="hash">
6b813858a5d0c367c9547289d7f286a0
</td>
</tr>
<tr class="odd" id="6.2.20">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.20-1.noarch.rpm">
dCache 6.2.20 (rpm)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
d0f7d5b64bdac6679911a10ccdedac76
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#20">
6.2.20
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.20.tar.gz">
dCache 6.2.20 (tgz)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
e162c0e7e467d871ed7f88f7ba08358f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.20-1_all.deb">
dCache 6.2.20 (Debian package)
</a>
</td>
<td class="date">
29.4.2021
</td>
<td class="hash">
427faf3042f9142b0a9ea496648f8370
</td>
</tr>
<tr class="even" id="6.2.19">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.19-1.noarch.rpm">
dCache 6.2.19 (rpm)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
bed64341ff620e0a25f0335149a8a978
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#19">
6.2.19
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.19.tar.gz">
dCache 6.2.19 (tgz)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
ed4549e290591da931045f8fe2be4d4b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.19-1_all.deb">
dCache 6.2.19 (Debian package)
</a>
</td>
<td class="date">
15.4.2021
</td>
<td class="hash">
86bb47868071e3a7fc392778c9b2db16
</td>
</tr>
<tr class="odd" id="6.2.18">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.18-1.noarch.rpm">
dCache 6.2.18 (rpm)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
a1a0404f74433394d098e17e3cd588d4
</td>
<td class="notes" rowspan="2">
<a href="/release-notes/release-notes-6-2#18">
6.2.18
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.18-1_all.deb">
dCache 6.2.18 (Debian package)
</a>
</td>
<td class="date">
29.3.2021
</td>
<td class="hash">
72208b771e17fa502658db0919051ef6
</td>
</tr>
<tr class="even" id="6.2.17">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.17-1.noarch.rpm">
dCache 6.2.17 (rpm)
</a>
</td>
<td class="date">
24.3.2021
</td>
<td class="hash">
556ee7072169d460728f986edc549fb0
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#17">
6.2.17
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.17.tar.gz">
dCache 6.2.17 (tgz)
</a>
</td>
<td class="date">
24.3.2021
</td>
<td class="hash">
6f03625fd5247cda6e80bdd9f031225d
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.17-1_all.deb">
dCache 6.2.17 (Debian package)
</a>
</td>
<td class="date">
24.3.2021
</td>
<td class="hash">
d6358e4e1191c0da82811469c0882836
</td>
</tr>
<tr class="odd" id="6.2.16">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.16-1.noarch.rpm">
dCache 6.2.16 (rpm)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
5b6803cb68edd805da7fd463247e18bd
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#16">
6.2.16
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.16.tar.gz">
dCache 6.2.16 (tgz)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
2090c7d032987515d7bce276d10d8b86
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.16-1_all.deb">
dCache 6.2.16 (Debian package)
</a>
</td>
<td class="date">
17.3.2021
</td>
<td class="hash">
0c0696d83bfe9b17589f9bf118721f74
</td>
</tr>
<tr class="even" id="6.2.15">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.15-1.noarch.rpm">
dCache 6.2.15 (rpm)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
058469b6bc968a1620448829bf978148
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#15">
6.2.15
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.15.tar.gz">
dCache 6.2.15 (tgz)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
295f9bf6fe6544eeeacfc68b00036ed6
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.15-1_all.deb">
dCache 6.2.15 (Debian package)
</a>
</td>
<td class="date">
9.3.2021
</td>
<td class="hash">
d3ef722bc32965493a97a71192489233
</td>
</tr>
<tr class="odd" id="6.2.14">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.14-1.noarch.rpm">
dCache 6.2.14 (rpm)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
7772690875f2c7f01d4608e324438248
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#14">
6.2.14
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.14.tar.gz">
dCache 6.2.14 (tgz)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
f89d5a3ed1a656ff1fca1ff041f5c7e3
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.14-1_all.deb">
dCache 6.2.14 (Debian package)
</a>
</td>
<td class="date">
23.2.2021
</td>
<td class="hash">
80b502fd7231cba0b48f7384c0b84b34
</td>
</tr>
<tr class="even" id="6.2.13">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.13-1.noarch.rpm">
dCache 6.2.13 (rpm)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
614b9328183e24986709b39e222d4589
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#13">
6.2.13
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.13.tar.gz">
dCache 6.2.13 (tgz)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
c0954d30f99c7dbd7c6808b3ef3b177f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.13-1_all.deb">
dCache 6.2.13 (Debian package)
</a>
</td>
<td class="date">
15.2.2021
</td>
<td class="hash">
f318e53aa2fd7aa45b4075029e61a5bc
</td>
</tr>
<tr class="odd" id="6.2.12">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.12-1.noarch.rpm">
dCache 6.2.12 (rpm)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
adeb5978078e4e693cfce84f9a13ad79
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#12">
6.2.12
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.12.tar.gz">
dCache 6.2.12 (tgz)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
0c11ef5fefee61b7392c0d1d65440525
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.12-1_all.deb">
dCache 6.2.12 (Debian package)
</a>
</td>
<td class="date">
28.1.2021
</td>
<td class="hash">
e401b66dd9dbffdd56f16616160cf806
</td>
</tr>
<tr class="even" id="6.2.11">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.11-1.noarch.rpm">
dCache 6.2.11 (rpm)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
067f17b94ba111b79f0b1c9c2ac94891
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#11">
6.2.11
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.11.tar.gz">
dCache 6.2.11 (tgz)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
92ba2b18d93ab9e91497b9afb878e704
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.11-1_all.deb">
dCache 6.2.11 (Debian package)
</a>
</td>
<td class="date">
22.1.2021
</td>
<td class="hash">
8765fa1b14691817e011b5b248148778
</td>
</tr>
<tr class="odd" id="6.2.10">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.10-1.noarch.rpm">
dCache 6.2.10 (rpm)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
5424f6d787f0cdf2dee0b456c1df3459
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#10">
6.2.10
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.10.tar.gz">
dCache 6.2.10 (tgz)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
c4294a557aa016371b8778f793a631ab
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.10-1_all.deb">
dCache 6.2.10 (Debian package)
</a>
</td>
<td class="date">
18.11.2020
</td>
<td class="hash">
380ce64919a7606362416cb33f228f4f
</td>
</tr>
<tr class="even" id="6.2.9">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.9-1.noarch.rpm">
dCache 6.2.9 (rpm)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
7c3000803ac111e084bdf4dc10381825
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#9">
6.2.9
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.9.tar.gz">
dCache 6.2.9 (tgz)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
3f9d4d1af240bac8bd6126cc4645aeef
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.9-1_all.deb">
dCache 6.2.9 (Debian package)
</a>
</td>
<td class="date">
17.11.2020
</td>
<td class="hash">
65034c8b52f46218db447e06bdb8989d
</td>
</tr>
<tr class="odd" id="6.2.8">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.8-1.noarch.rpm">
dCache 6.2.8 (rpm)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
56222dddb71a9e072097c9b23d85520e
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#8">
6.2.8
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.8.tar.gz">
dCache 6.2.8 (tgz)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
381857695fbeef2f19a3cc4b5605edf2
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.8-1_all.deb">
dCache 6.2.8 (Debian package)
</a>
</td>
<td class="date">
6.11.2020
</td>
<td class="hash">
94ff340d24234887f265156d147472bc
</td>
</tr>
<tr class="even" id="6.2.7">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.7-1_all.deb">
dCache 6.2.7 (Debian package)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
dc1e22b33549606c651e1ce721010113
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#7">
6.2.7
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.7-1.noarch.rpm">
dCache 6.2.7 (rpm)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
0240460a1088c15d2ae7ffbaff3a92ae
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.7.tar.gz">
dCache 6.2.7 (tgz)
</a>
</td>
<td class="date">
25.10.2020
</td>
<td class="hash">
c9df9c310cb07a6c2c8a49f80c1c517e
</td>
</tr>
<tr class="odd" id="6.2.6">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.6-1.noarch.rpm">
dCache 6.2.6 (rpm)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
ae0e24fadd96e89c7687eafbdb714a84
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#6">
6.2.6
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.6.tar.gz">
dCache 6.2.6 (tgz)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
7bebfcc2be3e27cca7e8122ff9ebfb65
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.6-1_all.deb">
dCache 6.2.6 (Debian package)
</a>
</td>
<td class="date">
6.10.2020
</td>
<td class="hash">
2131a103d1be9cfdad41c0790e6cc51c
</td>
</tr>
<tr class="even" id="6.2.5">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.5-1.noarch.rpm">
dCache 6.2.5 (rpm)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
88c48def9caff77a8ee3dc7f96583a17
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#5">
6.2.5
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.5.tar.gz">
dCache 6.2.5 (tgz)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
88ecd79f6fb528649406238f548f15aa
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.5-1_all.deb">
dCache 6.2.5 (Debian package)
</a>
</td>
<td class="date">
23.9.2020
</td>
<td class="hash">
27fe8a8e0b369a7f1efc3af9f11f369a
</td>
</tr>
<tr class="odd" id="6.2.4">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.4-1.noarch.rpm">
dCache 6.2.4 (rpm)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
7a74200d8d53af620a7adeb3e079825f
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#4">
6.2.4
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.4.tar.gz">
dCache 6.2.4 (tgz)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
d980546ee963ad26d86afd0f85cea7ba
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.4-1_all.deb">
dCache 6.2.4 (Debian package)
</a>
</td>
<td class="date">
17.9.2020
</td>
<td class="hash">
1bea8f4bcc0032baa6c39d5d954d9e3b
</td>
</tr>
<tr class="even" id="6.2.3">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.3-1.noarch.rpm">
dCache 6.2.3 (rpm)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
bad1bf89a37460c6fc0cdd700a299416
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#3">
6.2.3
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.3.tar.gz">
dCache 6.2.3 (tgz)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
0f3dd323fc2369f41e98bc32c54b7a6a
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.3-1_all.deb">
dCache 6.2.3 (Debian package)
</a>
</td>
<td class="date">
3.9.2020
</td>
<td class="hash">
b81c174f0aba42ef534ff0ea8eaafbd9
</td>
</tr>
<tr class="odd" id="6.2.2">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.2-1_all.deb">
dCache 6.2.2 (Debian package)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
d7326194df984318cd6d6d261c642cdc
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#2">
6.2.2
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.2-1.noarch.rpm">
dCache 6.2.2 (rpm)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
50ff1dda53f68692c2c57ca54fcbd4df
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.2.tar.gz">
dCache 6.2.2 (tgz)
</a>
</td>
<td class="date">
19.8.2020
</td>
<td class="hash">
6670656a174ff88dc1c07454a69acbc2
</td>
</tr>
<tr class="even" id="6.2.1">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.1-1_all.deb">
dCache 6.2.1 (Debian package)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
bd314152a72f322712990fa2b8d9d5cc
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#1">
6.2.1
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.1-1.noarch.rpm">
dCache 6.2.1 (rpm)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
bca4527545bb23f44b2a7a95e292530f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.1.tar.gz">
dCache 6.2.1 (tgz)
</a>
</td>
<td class="date">
7.8.2020
</td>
<td class="hash">
9bc654d84361727a1b43a73647b8d496
</td>
</tr>
<tr class="odd" id="6.2.0">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache_6.2.0-1_all.deb">
dCache 6.2.0 (Debian package)
</a>
</td>
<td class="date">
6.8.2020
</td>
<td class="hash">
5f9e54f79f68a6325c0cb78cd5f4ad47
</td>
<td class="notes" rowspan="3">
<a href="/release-notes/release-notes-6-2#0">
6.2.0
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.0-1.noarch.rpm">
dCache 6.2.0 (rpm)
</a>
</td>
<td class="date">
6.8.2020
</td>
<td class="hash">
34c34d0aaa425ebd98cc57bf7f2601fd
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="/old/downloads/1.9/repo/6.2/dcache-6.2.0.tar.gz">
dCache 6.2.0 (tgz)
</a>
</td>
<td class="date">
6.8.2020
</td>
<td class="hash">
8d8b11928ddff48d02d032c80b8284ad
</td>
</tr>
</tbody>
