<tr class="rec" id="8.2.30">
<td class="link">
<a href="repo/8.2/dcache_8.2.30-1_all.deb">
dCache 8.2.30 (Debian package)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
316d6d18489a00d1967e3b1b122c9c87
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml">
8.2.30
</a>
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/8.2/dcache-8.2.30-1.noarch.rpm">
dCache 8.2.30 (rpm)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
0cf1fecfac8b900b2048631f6171c8b4
</td>
</tr>
<tr class="rec">
<td class="link">
<a href="repo/8.2/dcache-8.2.30.tar.gz">
dCache 8.2.30 (tgz)
</a>
</td>
<td class="date">
25.8.2023
</td>
<td class="hash">
f517938e357f307c48dc10d671232c8c
</td>
</tr>
<tr class="odd" id="8.2.29">
<td class="link">
<a href="repo/8.2/dcache-8.2.29-1.noarch.rpm">
dCache 8.2.29 (rpm)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
f01fef89f7c7c2c08788f39975f6985f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#29">
8.2.29
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.29.tar.gz">
dCache 8.2.29 (tgz)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
c2d416cdaf0c059f5460f3d69a58df38
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.29-1_all.deb">
dCache 8.2.29 (Debian package)
</a>
</td>
<td class="date">
22.8.2023
</td>
<td class="hash">
f01f9d5105bf9cc6f1731585db9c98a3
</td>
</tr>
<tr class="even" id="8.2.28">
<td class="link">
<a href="repo/8.2/dcache-8.2.28-1.noarch.rpm">
dCache 8.2.28 (rpm)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
474adb9f3cd09b5be4f8da9df112807d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#28">
8.2.28
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.28.tar.gz">
dCache 8.2.28 (tgz)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
828c6df402ca32333b332fb6fe94bd89
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.28-1_all.deb">
dCache 8.2.28 (Debian package)
</a>
</td>
<td class="date">
15.8.2023
</td>
<td class="hash">
1aec9615fa9286731c2133e8f2ac1d86
</td>
</tr>
<tr class="odd" id="8.2.27">
<td class="link">
<a href="repo/8.2/dcache-8.2.27-1.noarch.rpm">
dCache 8.2.27 (rpm)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
33aa06d178229e8aef55616957f39194
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#27">
8.2.27
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.27.tar.gz">
dCache 8.2.27 (tgz)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
a6c574e18b575d198e8c06e0ff32004c
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.27-1_all.deb">
dCache 8.2.27 (Debian package)
</a>
</td>
<td class="date">
4.8.2023
</td>
<td class="hash">
f61463dd152f7cf55cbe1ebfec862805
</td>
</tr>
<tr class="even" id="8.2.26">
<td class="link">
<a href="repo/8.2/dcache-8.2.26-1.noarch.rpm">
dCache 8.2.26 (rpm)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
2db8fcd4c11249340a8c64bafc7fea39
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#26">
8.2.26
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.26.tar.gz">
dCache 8.2.26 (tgz)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
423d6a3bc6d6f4342a1f190d0a6931a3
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.26-1_all.deb">
dCache 8.2.26 (Debian package)
</a>
</td>
<td class="date">
19.7.2023
</td>
<td class="hash">
988de7550b6e6752355612915e35aea7
</td>
</tr>
<tr class="odd" id="8.2.25">
<td class="link">
<a href="repo/8.2/dcache_8.2.25-1_all.deb">
dCache 8.2.25 (Debian package)
</a>
</td>
<td class="date">
30.6.2023
</td>
<td class="hash">
b5f459a737bf16a6683c104bfd74da4f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#25">
8.2.25
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.25-1.noarch.rpm">
dCache 8.2.25 (rpm)
</a>
</td>
<td class="date">
30.6.2023
</td>
<td class="hash">
5a1b601d2546ec791fcad6411c251cc6
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.25.tar.gz">
dCache 8.2.25 (tgz)
</a>
</td>
<td class="date">
30.6.2023
</td>
<td class="hash">
6985cba27fa3d01eab061edd2ff505f3
</td>
</tr>
<tr class="even" id="8.2.24">
<td class="link">
<a href="repo/8.2/dcache_8.2.24-1_all.deb">
dCache 8.2.24 (Debian package)
</a>
</td>
<td class="date">
16.6.2023
</td>
<td class="hash">
00caede45cd289834587ec2a0022a631
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#24">
8.2.24
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.24-1.noarch.rpm">
dCache 8.2.24 (rpm)
</a>
</td>
<td class="date">
16.6.2023
</td>
<td class="hash">
5dc72943937928d4c0b29d760beb7535
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.24.tar.gz">
dCache 8.2.24 (tgz)
</a>
</td>
<td class="date">
16.6.2023
</td>
<td class="hash">
fb35797c695a2bbccf17233b378949ee
</td>
</tr>
<tr class="odd" id="8.2.23">
<td class="link">
<a href="repo/8.2/dcache-8.2.23-1.noarch.rpm">
dCache 8.2.23 (rpm)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
6c5afea3e88be8901931796044e5c74a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#23">
8.2.23
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.23.tar.gz">
dCache 8.2.23 (tgz)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
ed601dba62d12f01603e98d1b3d9a0d9
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.23-1_all.deb">
dCache 8.2.23 (Debian package)
</a>
</td>
<td class="date">
7.6.2023
</td>
<td class="hash">
b07f853d196d8dc5790c56ff3da6c00c
</td>
</tr>
<tr class="even" id="8.2.22">
<td class="link">
<a href="repo/8.2/dcache_8.2.22-1_all.deb">
dCache 8.2.22 (Debian package)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
6f682cdd24f9796f61aff99ab98d46cc
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#22">
8.2.22
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.22-1.noarch.rpm">
dCache 8.2.22 (rpm)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
192034356640348d1c5293b7665ebaf8
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.22.tar.gz">
dCache 8.2.22 (tgz)
</a>
</td>
<td class="date">
12.5.2023
</td>
<td class="hash">
74e0c850f83f2d261e9b3096e8349bd8
</td>
</tr>
<tr class="odd" id="8.2.21">
<td class="link">
<a href="repo/8.2/dcache_8.2.21-1_all.deb">
dCache 8.2.21 (Debian package)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
af11b109658ccfc547416c10b535cfb2
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#21">
8.2.21
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.21-1.noarch.rpm">
dCache 8.2.21 (rpm)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
dadf3c155d5ed07334530cfc6faf80cb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.21.tar.gz">
dCache 8.2.21 (tgz)
</a>
</td>
<td class="date">
2.5.2023
</td>
<td class="hash">
ca0beb7564613ea9dd9a60c99744d8de
</td>
</tr>
<tr class="even" id="8.2.20">
<td class="link">
<a href="repo/8.2/dcache_8.2.20-1_all.deb">
dCache 8.2.20 (Debian package)
</a>
</td>
<td class="date">
16.4.2023
</td>
<td class="hash">
ddbce11125e61f6389b2e15304e75694
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#20">
8.2.20
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.20-1.noarch.rpm">
dCache 8.2.20 (rpm)
</a>
</td>
<td class="date">
16.4.2023
</td>
<td class="hash">
fd38981fae97313013b9e1f155030e0c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.20.tar.gz">
dCache 8.2.20 (tgz)
</a>
</td>
<td class="date">
16.4.2023
</td>
<td class="hash">
17bf333c963057203dc800f3179d155c
</td>
</tr>
<tr class="odd" id="8.2.19">
<td class="link">
<a href="repo/8.2/dcache-8.2.19-1.noarch.rpm">
dCache 8.2.19 (rpm)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
486c2038cc22ca1a755dbb59a2b0c6cf
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#19">
8.2.19
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.19.tar.gz">
dCache 8.2.19 (tgz)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
2341f236edef5a2387c0c9c0ac0bc91f
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.19-1_all.deb">
dCache 8.2.19 (Debian package)
</a>
</td>
<td class="date">
5.4.2023
</td>
<td class="hash">
706bc5fd7c4b3c66f0bdfedf0c397366
</td>
</tr>
<tr class="even" id="8.2.18">
<td class="link">
<a href="repo/8.2/dcache-8.2.18-1.noarch.rpm">
dCache 8.2.18 (rpm)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
6119c56fa06331a74c6aac1ba6776e5d
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#18">
8.2.18
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.18.tar.gz">
dCache 8.2.18 (tgz)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
0b6e7a440e8753aba2e7354f43fc744f
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.18-1_all.deb">
dCache 8.2.18 (Debian package)
</a>
</td>
<td class="date">
29.3.2023
</td>
<td class="hash">
e933a5e00f80664fac42a431ff160615
</td>
</tr>
<tr class="odd" id="8.2.17">
<td class="link">
<a href="repo/8.2/dcache_8.2.17-1_all.deb">
dCache 8.2.17 (Debian package)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
5c94747ab571aa06778e0a97a6e6ddd1
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#17">
8.2.17
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.17-1.noarch.rpm">
dCache 8.2.17 (rpm)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
c7ffa4ec01024436e95c6bac1cdf2a61
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.17.tar.gz">
dCache 8.2.17 (tgz)
</a>
</td>
<td class="date">
17.3.2023
</td>
<td class="hash">
bbf342c66bd47e2540b25687633ae20f
</td>
</tr>
<tr class="even" id="8.2.16">
<td class="link">
<a href="repo/8.2/dcache-8.2.16-1.noarch.rpm">
dCache 8.2.16 (rpm)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
abd1cd8ee7a5372762e3c058834c7ac3
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#16">
8.2.16
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.16.tar.gz">
dCache 8.2.16 (tgz)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
e0e4c9662793e077ca83d9fd371a1f76
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.16-1_all.deb">
dCache 8.2.16 (Debian package)
</a>
</td>
<td class="date">
9.3.2023
</td>
<td class="hash">
d72f60ae39d8c0afce5280c842d14c11
</td>
</tr>
<tr class="odd" id="8.2.15">
<td class="link">
<a href="repo/8.2/dcache-8.2.15-1.noarch.rpm">
dCache 8.2.15 (rpm)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
74fa126986c85701e987bbecb57a790a
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#15">
8.2.15
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.15.tar.gz">
dCache 8.2.15 (tgz)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
8a51c94a443fdad25a60d1bd67d790f0
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.15-1_all.deb">
dCache 8.2.15 (Debian package)
</a>
</td>
<td class="date">
24.2.2023
</td>
<td class="hash">
394291860ca4f341421baf96e372d4cd
</td>
</tr>
<tr class="even" id="8.2.14">
<td class="link">
<a href="repo/8.2/dcache-8.2.14-1.noarch.rpm">
dCache 8.2.14 (rpm)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
93c33a29d7793506b8b03ebc7bd33071
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#14">
8.2.14
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.14.tar.gz">
dCache 8.2.14 (tgz)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
f65387991dc6e7bb0e0461192f78e3b4
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.14-1_all.deb">
dCache 8.2.14 (Debian package)
</a>
</td>
<td class="date">
16.2.2023
</td>
<td class="hash">
4f5f2302717176b3b53800b5025b383d
</td>
</tr>
<tr class="odd" id="8.2.13">
<td class="link">
<a href="repo/8.2/dcache_8.2.13-1_all.deb">
dCache 8.2.13 (Debian package)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
78a6ada3da1b1500ba56460374d0fc97
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#13">
8.2.13
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.13-1.noarch.rpm">
dCache 8.2.13 (rpm)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
16d093b8e9eda20b199d6cae55f2caeb
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.13.tar.gz">
dCache 8.2.13 (tgz)
</a>
</td>
<td class="date">
3.2.2023
</td>
<td class="hash">
0a71c89eb79a59a56bcbc396b23e02cb
</td>
</tr>
<tr class="even" id="8.2.12">
<td class="link">
<a href="repo/8.2/dcache-8.2.12-1.noarch.rpm">
dCache 8.2.12 (rpm)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
0057ad4a6d7c2ec080da19b94faf0b52
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#12">
8.2.12
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.12.tar.gz">
dCache 8.2.12 (tgz)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
f138c37c8b60a9ce8906dfc1619ea1b9
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.12-1_all.deb">
dCache 8.2.12 (Debian package)
</a>
</td>
<td class="date">
31.1.2023
</td>
<td class="hash">
e9ac66338f1cd5862a9c63d702a4b2e0
</td>
</tr>
<tr class="odd" id="8.2.11">
<td class="link">
<a href="repo/8.2/dcache_8.2.11-1_all.deb">
dCache 8.2.11 (Debian package)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
bba8efc61add5bd3639e7139df175e64
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#11">
8.2.11
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.11-1.noarch.rpm">
dCache 8.2.11 (rpm)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
d7e3dd99685be41cbd1078465c96e264
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.11.tar.gz">
dCache 8.2.11 (tgz)
</a>
</td>
<td class="date">
20.1.2023
</td>
<td class="hash">
e2e92f74760455a99a5c0952d86fec87
</td>
</tr>
<tr class="even" id="8.2.10">
<td class="link">
<a href="repo/8.2/dcache-8.2.10-1.noarch.rpm">
dCache 8.2.10 (rpm)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
8c9d9ffc6b36cb1b9c0ffacdc8c6a4de
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#10">
8.2.10
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.10.tar.gz">
dCache 8.2.10 (tgz)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
03afa65f33e0a5801da5392b9bf37cef
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.10-1_all.deb">
dCache 8.2.10 (Debian package)
</a>
</td>
<td class="date">
13.1.2023
</td>
<td class="hash">
54110f41ecd36f1920a524eb8ec7172c
</td>
</tr>
<tr class="odd" id="8.2.9">
<td class="link">
<a href="repo/8.2/dcache_8.2.9-1_all.deb">
dCache 8.2.9 (Debian package)
</a>
</td>
<td class="date">
22.12.2022
</td>
<td class="hash">
24c8a2284c0d60c58ccec554d501ec60
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#9">
8.2.9
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.9-1.noarch.rpm">
dCache 8.2.9 (rpm)
</a>
</td>
<td class="date">
22.12.2022
</td>
<td class="hash">
29d30a30fc614b7c238cd5521869e0e7
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.9.tar.gz">
dCache 8.2.9 (tgz)
</a>
</td>
<td class="date">
22.12.2022
</td>
<td class="hash">
5196dc3347906a3d7c16e89580e25e5d
</td>
</tr>
<tr class="even" id="8.2.8">
<td class="link">
<a href="repo/8.2/dcache_8.2.8-1_all.deb">
dCache 8.2.8 (Debian package)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
3193ed9ecc82e81da5c1e22890b71641
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#8">
8.2.8
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.8-1.noarch.rpm">
dCache 8.2.8 (rpm)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
ed6ac8511b23e8f20911d69ba6809389
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.8.tar.gz">
dCache 8.2.8 (tgz)
</a>
</td>
<td class="date">
15.12.2022
</td>
<td class="hash">
a5867c1002cae3b8ea033e0237eafa74
</td>
</tr>
<tr class="odd" id="8.2.7">
<td class="link">
<a href="repo/8.2/dcache-8.2.7-1.noarch.rpm">
dCache 8.2.7 (rpm)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
80010441d741309058672c6d83e539e4
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#7">
8.2.7
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.7.tar.gz">
dCache 8.2.7 (tgz)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
e52858a21e0a999d632e57f06b0c1681
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.7-1_all.deb">
dCache 8.2.7 (Debian package)
</a>
</td>
<td class="date">
7.12.2022
</td>
<td class="hash">
915cd1b66601db4b09f65b838251d325
</td>
</tr>
<tr class="even" id="8.2.6">
<td class="link">
<a href="repo/8.2/dcache-8.2.6-1.noarch.rpm">
dCache 8.2.6 (rpm)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
a5c4f671c8e44b1e2e7e48a9110cdd89
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#6">
8.2.6
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.6.tar.gz">
dCache 8.2.6 (tgz)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
1a98461684db7f05653a20b54aa5040c
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.6-1_all.deb">
dCache 8.2.6 (Debian package)
</a>
</td>
<td class="date">
30.11.2022
</td>
<td class="hash">
cf8b9aed19dfd8717fb40be398c6fb76
</td>
</tr>
<tr class="odd" id="8.2.5">
<td class="link">
<a href="repo/8.2/dcache-8.2.5-1.noarch.rpm">
dCache 8.2.5 (rpm)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
9f65403371c6857d71ab0dae39d05104
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#5">
8.2.5
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.5.tar.gz">
dCache 8.2.5 (tgz)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
003359bc03b9727a7a929b512ba7716e
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.5-1_all.deb">
dCache 8.2.5 (Debian package)
</a>
</td>
<td class="date">
18.11.2022
</td>
<td class="hash">
3c7d5bd70f04f4a0f50a647c18c5491a
</td>
</tr>
<tr class="even" id="8.2.4">
<td class="link">
<a href="repo/8.2/dcache-8.2.4-1.noarch.rpm">
dCache 8.2.4 (rpm)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
515712133991120aa1ea0c15a6c426e3
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#4">
8.2.4
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.4.tar.gz">
dCache 8.2.4 (tgz)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
d1e6cd04a14be21efeb2b5e580236786
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.4-1_all.deb">
dCache 8.2.4 (Debian package)
</a>
</td>
<td class="date">
9.11.2022
</td>
<td class="hash">
bc92cd13c76ebdce2ba69ea64b3f6e1b
</td>
</tr>
<tr class="odd" id="8.2.3">
<td class="link">
<a href="repo/8.2/dcache_8.2.3-1_all.deb">
dCache 8.2.3 (Debian package)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
acd4aefb60eeb725eff6bebb95d2da41
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#3">
8.2.3
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.3-1.noarch.rpm">
dCache 8.2.3 (rpm)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
bff3aed873a4934628d5c0c1f6c4bc41
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.3.tar.gz">
dCache 8.2.3 (tgz)
</a>
</td>
<td class="date">
21.10.2022
</td>
<td class="hash">
b5d11d69b47313336819a69bb582b63c
</td>
</tr>
<tr class="even" id="8.2.2">
<td class="link">
<a href="repo/8.2/dcache-8.2.2-1.noarch.rpm">
dCache 8.2.2 (rpm)
</a>
</td>
<td class="date">
11.10.2022
</td>
<td class="hash">
0d8518bd1d53b45eb379f99d28931a78
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#2">
8.2.2
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.2.tar.gz">
dCache 8.2.2 (tgz)
</a>
</td>
<td class="date">
11.10.2022
</td>
<td class="hash">
337a7bb056ce11e0b00a565ef3dd637b
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.2-1_all.deb">
dCache 8.2.2 (Debian package)
</a>
</td>
<td class="date">
11.10.2022
</td>
<td class="hash">
aaec6fe68b24cbdeb4c1df4f0df64310
</td>
</tr>
<tr class="odd" id="8.2.1">
<td class="link">
<a href="repo/8.2/dcache-8.2.1-1.noarch.rpm">
dCache 8.2.1 (rpm)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
298b116b3aa7eb3c36bbfb1ee10da42f
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#1">
8.2.1
</a>
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache-8.2.1.tar.gz">
dCache 8.2.1 (tgz)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
775d54740d69d3668c1f5d7e8c846d09
</td>
</tr>
<tr class="odd">
<td class="link">
<a href="repo/8.2/dcache_8.2.1-1_all.deb">
dCache 8.2.1 (deb)
</a>
</td>
<td class="date">
6.10.2022
</td>
<td class="hash">
6577b0b93b97952adb0d4fbcdd0a15bc
</td>
</tr>
<tr class="even" id="8.2.0">
<td class="link">
<a href="repo/8.2/dcache-8.2.0-1.noarch.rpm">
dCache 8.2.0 (rpm)
</a>
</td>
<td class="date">
28.9.2022
</td>
<td class="hash">
34b026f41eeeb5257f5598a1df080a7c
</td>
<td class="notes" rowspan="3">
<a href="release-notes-8.2.shtml#0">
8.2.0
</a>
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache-8.2.0.tar.gz">
dCache 8.2.0 (tgz)
</a>
</td>
<td class="date">
28.9.2022
</td>
<td class="hash">
5033521f4cd1926cc18aa04d4175ca56
</td>
</tr>
<tr class="even">
<td class="link">
<a href="repo/8.2/dcache_8.2.0-1_all.deb">
dCache 8.2.0 (Debian package)
</a>
</td>
<td class="date">
28.9.2022
</td>
<td class="hash">
854146b82cc38014eba5c6d77fa17428
</td>
</tr>
</tbody>
